@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<SectionContent SectionName="layoutheadcontent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="darkreader-lock">
    <base href="/" />
    <link rel="preload" href="inter/inter.css?v=1" as="style" />
    <link rel="preload" href="inter/Inter-roman.var.woff2?v=3.19" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="Fydar.Dev.WebApp.styles.css?v=1" as="style" />
    <link rel="preload" href="site.js?v=1" as="script" />

    <link rel="stylesheet" href="inter/inter.css?v=1" />
    <link rel="stylesheet" href="Fydar.Dev.WebApp.styles.css?v=1" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg?v=1" />
</SectionContent>

<SectionContent SectionName="layoutbodystyle">
    <style>
        body {
            padding: 0;
            border: 0;
            margin: 0;
            background: #161618;
            color: var(--color-text-primary);
            width: max-content;
            overflow-y: scroll;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5;
            min-height: 100vh;
            display: grid;
            grid-template-rows: auto 1fr auto;
            grid-template-columns: auto;
            font-family: 'Inter', sans-serif;
            --color-text-primary: #d8d8d8;
        }

        @@supports (font-variation-settings: normal) {
            body {
                font-family: 'Inter var', sans-serif;
            }
        }

        :root {
            color-scheme: dark;
        }

        ::-webkit-scrollbar {
            width: 16px;
            height: 16px;
        }

        ::-webkit-scrollbar-corner,
        ::-webkit-scrollbar-track {
            background: #161618;
        }

        ::-webkit-scrollbar-thumb {
            background: #3f4345;
        }

            ::-webkit-scrollbar-thumb:hover {
                background: #7b7b7b;
            }

            ::-webkit-scrollbar-corner,
            ::-webkit-scrollbar-track:vertical,
            ::-webkit-scrollbar-thumb:vertical {
                border-left: 1px solid #2e2e32;
            }

            ::-webkit-scrollbar-corner,
            ::-webkit-scrollbar-track:horizontal,
            ::-webkit-scrollbar-thumb:horizontal {
                border-top: 1px solid #2e2e32;
            }
    </style>
</SectionContent>

<header>
    <div class="glowline"></div>
    <div class="row container">
        <menu class="navbar-sitenavigation" aria-label="Site navigation" dir="ltr">
            <li class="nav-home">
                <a href="/" aria-label="Navigate home">
                    <SvgSprite Link="/icons.svg?v=1#icon-fydar-round" Alt="Fydar's Icon'" />
                    <span class="nav-home-label">Fydar</span>
                </a>
            </li>
            @if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri) == "")
            {
                <li class="nav-page"><NavLink href="/portfolio" class="active">Portfolio</NavLink></li>
            }
            else
            {
                <li class="nav-page"><NavLink href="/portfolio">Portfolio</NavLink></li>
            }
            <li class="nav-page"><NavLink href="/resume">Resume</NavLink></li>
            <li class="nav-page"><NavLink href="/contact">Contact</NavLink></li>
        </menu>

        <menu class="navbar-externallinks" aria-label="External links" dir="ltr">
            <li class="nav-siteicon"><a href="https://github.com/Fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-github" Alt="GitHub" /></a></li>
            <li class="nav-siteicon"><a href="https://www.linkedin.com/in/fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-linkedin" Alt="LinkedIn" /></a></li>
        </menu>
    </div>

</header>

<main>
    @Body
</main>

<footer>
    <section class="container">

        <menu class="footer-externallinks" aria-label="More External links" dir="ltr">
            <li class="nav-siteicon"><a href="https://github.com/Fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-github" Alt="GitHub" /></a></li>
            <li class="nav-siteicon"><a href="https://www.linkedin.com/in/fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-linkedin" Alt="LinkedIn" /></a></li>
            <li class="nav-siteicon"><a href="https://discordapp.com/users/172972361954492416" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-discord" Alt="Discord" /></a></li>
            <li class="nav-siteicon"><a href="https://www.youtube.com/@@fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-youtube" Alt="YouTube" /></a></li>
            <li class="nav-siteicon"><a href="https://www.twitch.tv/fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-twitch" Alt="Twitch" /></a></li>
            <li class="nav-siteicon"><a href="https://twitter.com/Fydarus" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-twitter" Alt="Twitter" /></a></li>
            <li class="nav-siteicon"><a href="https://fydar.itch.io/" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-itchdotio" Alt="Itch.io" /></a></li>
            <li class="nav-siteicon"><a href="https://assetstore.unity.com/publishers/13236" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-unity" Alt="Unity Asset Store" /></a></li>
            <li class="nav-siteicon"><a href="https://opencollective.com/fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-opencollective" Alt="OpenCollective" /></a></li>
        </menu>

        <p class="notice">Website created by Fydar using ASP.NET Core with Blazor.</p>
        <p class="copyright">Copyright © 2024 Fydar</p>

    </section>
</footer>

<script src="site.js?v=1"></script>
