::deep aside {
}


::deep ::selection {
    background: #e2b384;
    color: #161618;
}

::deep p > code {
    display: inline-block;
    font: Consolas,Monaco,'Andale Mono',monospace;
}

::deep .media-wide {
}

    ::deep .media-wide img {
        width: 100%;
    }

::deep picture.media {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

    ::deep picture.media img {
        margin: auto;
        display: block;
        max-width: 100%;
    }



::deep figure.figure-image {
    margin: 1rem auto;
    width: fit-content;
}

    ::deep figure.figure-image img,
    ::deep figure.figure-image video {
        display: block;
        margin: auto;
        max-width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    ::deep figure.figure-image figcaption {
        padding: .8em 1rem;
        font-size: 12.6px;
        background-color: #3d3d3d6e;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

::deep h2 {
    font-size: 1.75em;
    margin-top: 6rem;
}

::deep p {
    text-align: justify;
}

    ::deep p.heading-prefix {
        margin-top: 6rem;
        margin-bottom: auto;
        font-size: 1.25em;
        line-height: 1em;
        letter-spacing: 1px;
    }

        ::deep p.heading-prefix + h1,
        ::deep p.heading-prefix + h2,
        ::deep p.heading-prefix + h3,
        ::deep p.heading-prefix + h4,
        ::deep p.heading-prefix + h5 {
            margin-top: 0;
        }

::deep .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    background-color: #16161833;
    backdrop-filter: blur(6px);
    grid-row: 1 / 2;
    grid-column: 1 / 1;
    width: calc(100vw - 16px);
}

    header .glowline {
        border-bottom: 1px solid #ffffff15;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    header .row {
        align-items: center;
        padding: 0 1.75rem;
        flex-wrap: wrap-reverse;
    }

    header menu {
        display: flex;
        height: 100%;
        gap: 14px;
        margin: 0;
        padding: 0;
    }

        header menu li {
            display: flex;
            height: 48px;
            -webkit-box-align: center;
            align-items: center;
            flex-shrink: 0;
            margin: 0px;
            font-size: 16px;
            line-height: 1;
            font-weight: var(--font-weight-medium);
            color: #ffffffdd;
        }

            header menu li.nav-home {
                letter-spacing: 2px;
                font-weight: 500;
            }

                header menu li.nav-home a {
                    padding: 0 10px;
                    gap: 10px;
                }

                header menu li.nav-home ::deep img,
                header menu li.nav-home ::deep svg {
                    height: 24px;
                    width: 24px;
                    margin: auto;
                }

            header menu li.nav-page {
                opacity: 0.7;
                transition: opacity 0.05s;
            }

                header menu li.nav-page:has(a:active) {
                    opacity: 1;
                    border-bottom: 1px solid #ffffff55;
                }

                header menu li.nav-page:has(a.active) {
                    opacity: 1;
                    border-bottom: 1px solid #ffffffdd;
                }

                header menu li.nav-page:hover,
                header menu li.nav-page:focus-visible {
                    opacity: 1;
                    border-bottom: 1px solid #ffffff33;
                }

                header menu li.nav-page ::deep a {
                    padding: 0 10px;
                }

            header menu li ::deep a {
                display: flex;
                height: 100%;
                min-width: 48px;
                font-weight: 400;
                letter-spacing: 1px;
                -webkit-box-align: center;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                user-select: none;
                color: #ffffff;
                text-decoration: none;
                filter: drop-shadow(0px 2px 4px black);
            }

        header menu.navbar-externallinks {
            gap: 4px;
            margin-left: auto;
        }

            header menu.navbar-externallinks li.nav-siteicon ::deep svg {
                height: 24px;
                width: 24px;
                margin: auto;
            }

            header menu.navbar-externallinks li.nav-siteicon a {
                transition: opacity 0.1s;
                opacity: 0.35;
            }

                header menu.navbar-externallinks li.nav-siteicon a ::deep svg {
                    transition: filter 0.1s;
                }

                header menu.navbar-externallinks li.nav-siteicon a:hover,
                header menu.navbar-externallinks li.nav-siteicon a:focus-visible {
                    opacity: 1;
                }

                    header menu.navbar-externallinks li.nav-siteicon a:hover ::deep svg,
                    header menu.navbar-externallinks li.nav-siteicon a:focus-visible ::deep svg {
                        filter: drop-shadow(0px 2px 4px black) drop-shadow(0 0 6px #e2b384);
                    }


footer {
    background-color: #151517;
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    color: #888;
    border-top: 1px solid #ffffff15;
    grid-row: 3 / 4;
    grid-column: 1 / 1;
    left: 0;
    position: sticky;
}


    footer menu.footer-externallinks {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin: 0;
        padding: 0;
        align-items: center;
    }

        footer menu.footer-externallinks li.nav-siteicon {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            flex-shrink: 0;
            margin: 0px;
            font-size: 14px;
            font-weight: var(--font-weight-medium);
            color: white;
        }

            footer menu.footer-externallinks li.nav-siteicon ::deep img,
            footer menu.footer-externallinks li.nav-siteicon ::deep svg {
                height: 24px;
                width: 24px;
                margin: auto;
            }

            footer menu.footer-externallinks li.nav-siteicon a {
                display: flex;
                min-width: 48px;
                min-height: 48px;
                -webkit-box-align: center;
                align-items: center;
                user-select: none;
                color: white;
                transition: filter 0.1s, opacity 0.1s;
                opacity: 0.35;
            }

                footer menu.footer-externallinks li.nav-siteicon a:hover,
                footer menu.footer-externallinks li.nav-siteicon a:focus-visible {
                    outline: 0;
                    filter: drop-shadow(0 0 1px #ffffff60) drop-shadow(0 0 6px #e2b384);
                    opacity: 1;
                }

main:has(article.resume:last-child) + footer {
    margin-top: 0;
}

main:has(section.section-feature:last-child) + footer {
    margin-top: 0;
}



::deep video {
    width: 100%;
}



::deep .parallax-frame {
    width: 100%;
    height: 100%;
    overflow: clip;
    clip-path: inset(0);
}

    ::deep .parallax-frame .parallax-layer {
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
        position: fixed;
        top: 0;
        transform: translateY(calc(var(--parallax-offset) * var(--parallax-multiplier) * -1px));
    }

        ::deep .parallax-frame .parallax-layer canvas {
            pointer-events: none;
        }

::deep .fullscreen .parallax-frame {
    mask: linear-gradient(to top, #00000000 0px, #ffffff 200px, #ffffff);
    animation: landing-fade-in ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes landing-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



header,
main,
footer {
    width: 100%;
    display: grid;
    grid-template-columns: auto [aside container] 1fr auto;
    box-sizing: border-box;
}

::deep section.section-feature {
    grid-column: 1 / -1;
    grid-template-columns: auto [container] 1fr auto;
    width: 100%;
    min-height: calc(100vh + 32px);
    display: grid;
    box-sizing: border-box;
    align-items: center;
}

    ::deep section.section-feature .parallax-frame {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }


    ::deep section.section-feature .feature-body {
        grid-column: container / span 1;
        grid-row: 1 / -1;
        margin: 4rem 12px;
        padding: 32px;
        box-sizing: border-box;
        backdrop-filter: blur(20px);
        background-color: #00000075;
        border-bottom: 4px solid #0002;
        border-radius: 16px;
        font-weight: 400;
    }

        ::deep section.section-feature .feature-body p {
            text-align: left;
        }

        ::deep section.section-feature .feature-body > *:first-child {
            margin-top: 0;
        }

        ::deep section.section-feature .feature-body > *:last-child {
            margin-bottom: 0;
        }


::deep .container {
    grid-column: container / span 1;
    width: 100%;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
    overflow: hidden;
}

    ::deep .container.container-wide {
        grid-column: container / span 1;
    }

::deep aside {
    grid-column: aside / span 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

::deep aside,
::deep .portrait {
    display: none;
}

@media screen and (min-width: 576px) {
    ::deep .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    ::deep section.section-feature .feature-body {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (min-width: 768px) {

    ::deep .container {
        padding-left: 48px;
        padding-right: 48px;
    }

    ::deep section.section-feature .feature-body {
        margin-left: 40px;
        margin-right: 40px;
    }

    header,
    main,
    footer {
        /* grid-template-columns: auto [container] 720px auto; */
    }

        header:has(aside),
        main:has(aside),
        footer:has(aside) {
            /* grid-template-columns: auto [aside] 270px [container] 450px auto; */
        }
}

@media screen and (min-width: 992px) {

    ::deep aside,
    ::deep .portrait {
        display: block;
    }

    ::deep .container {
        padding-left: 0;
        padding-right: 0;
        overflow: visible;
    }

    ::deep section.section-feature {
        grid-template-columns: auto [container] 960px auto;
    }

        ::deep section.section-feature .feature-body {
            margin-left: 0;
            margin-right: 0;
        }

    header,
    main,
    footer {
        grid-template-columns: auto [container] 960px auto;
    }

        header:has(aside),
        main:has(aside),
        footer:has(aside) {
            gap: 0 30px;
            grid-template-columns: auto [aside] 320px [container] 610px auto;
        }

            header:has(aside) ::deep .container.container-wide,
            main:has(aside) ::deep .container.container-wide,
            footer:has(aside) ::deep .container.container-wide {
                grid-column: aside / span 2;
            }
}


@media screen and (min-width: 1200px) {

    ::deep section.section-feature {
        gap: 0 30px;
        grid-template-columns: auto [aside] 390px [container] 720px auto;
    }

    header,
    main,
    footer {
        grid-template-columns: auto [container] 1140px auto;
    }

        header:has(aside),
        main:has(aside),
        footer:has(aside) {
            gap: 0 30px;
            grid-template-columns: auto [aside] 390px [container] 720px auto;
        }
}


@media screen and (min-width: 1400px) {

    ::deep section.section-feature {
        grid-template-columns: auto [aside] 450px [container] 870px auto;
    }

    header,
    main,
    footer {
        grid-template-columns: auto [container] 1320px auto;
    }

        header:has(aside),
        main:has(aside),
        footer:has(aside) {
            gap: 0 30px;
            grid-template-columns: auto [aside] 450px [container] 870px auto;
        }
}


main {
    grid-row: 2 / 3;
    grid-column: 1 / 1;
}

    main:has(section.fullscreen:first-child) {
        grid-row: 1 / 3;
        grid-column: 1 / 1;
    }

::deep section.fullscreen {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: max(min(100vh, 125vw), 700px);
}


    ::deep section.fullscreen .fullscreen-footer {
        margin-top: -170px;
        height: 176px;
        padding: 1rem 1rem 4rem 96px;
        background-clip: padding-box;
        backdrop-filter: blur(4px);
        border-top: 1px solid #ffffff15;
        box-sizing: border-box;
        position: relative;
        display: flex;
        align-items: center;
    }

        ::deep section.fullscreen .fullscreen-footer .titlecard {
            position: absolute;
            top: 0;
            left: 96px;
            transform: translateY(-286px);
            height: 256px;
            width: 512px;
            object-fit: contain;
            object-position: bottom left;
        }


::deep {
    --container-xs: 0;
    --container-sm: 540px;
    --container-md: 720px;
    --container-lg: 960px;
    --container-xl: 1140px;
    --container-xxl: 1320px;
}

/*
::deep .container,
::deep .container-sm,
::deep .container-md,
::deep .container-lg,
::deep .container-xl,
::deep .container-xxl,
::deep .container-fluid {
    width: 100%;
    box-sizing: border-box;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

@media screen and (min-width: 576px) {

    ::deep .container,
    ::deep .container-sm {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {

    ::deep .container,
    ::deep .container-sm,
    ::deep .container-md {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {

    ::deep .container,
    ::deep .container-sm,
    ::deep .container-md,
    ::deep .container-lg {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {

    ::deep .container,
    ::deep .container-sm,
    ::deep .container-md,
    ::deep .container-lg,
    ::deep .container-xl {
        max-width: 1140px;
    }
}

@media screen and (min-width: 1400px) {

    ::deep .container,
    ::deep .container-sm,
    ::deep .container-md,
    ::deep .container-lg,
    ::deep .container-xl,
    ::deep .container-xxl {
        max-width: 1320px;
    }
}

*/

.nav-home-label {
    display: none;
}

.nav-home {
    display: none;
}

header .row {
    padding: 0 8px;
}

header menu {
    gap: 4px;
}

/* Slim Mobile */
@media screen and (max-width: 576px) {


    ::deep .container > .cover-grid,
    ::deep .container > .cover-grid.cover-grid-sm {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem 1.5rem;
    }

    ::deep .container > .card-grid {
        grid-template-columns: 1fr;
    }

        ::deep .container > .card-grid.card-grid-md {
            grid-template-columns: 1fr;
        }

        ::deep .container > .card-grid.card-grid-sm {
            grid-template-columns: 1fr;
        }

        ::deep .container > .card-grid.card-grid-xs {
            grid-template-columns: 1fr 1fr;
        }
}

/* Mobile */
@media screen and (min-width: 576px) {

    .nav-home {
        display: flex;
    }

    header menu {
        gap: 11px;
    }

    header .row {
        padding: 0 16px;
    }


    ::deep .container > .cover-grid,
    ::deep .container > .cover-grid.cover-grid-sm {
        grid-template-columns: 1fr 1fr;
        gap: 10px 10px;
        margin: 10px 0;
    }

    ::deep .container > .card-grid {
        grid-template-columns: 1fr;
    }

        ::deep .container > .card-grid.card-grid-md {
            grid-template-columns: 1fr;
        }

        ::deep .container > .card-grid.card-grid-sm {
            grid-template-columns: 1fr 1fr;
        }

        ::deep .container > .card-grid.card-grid-xs {
            grid-template-columns: 1fr 1fr 1fr;
        }
}

/* Tablet */
@media screen and (min-width: 768px) {

    header menu {
        gap: 14px;
    }

    .nav-home-label {
        display: inline;
    }

    ::deep .container > .cover-grid,
    ::deep .container > .cover-grid.cover-grid-sm {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px 10px;
        margin: 10px 0;
    }

    ::deep .container > .card-grid {
        grid-template-columns: 1fr;
        gap: 10px 10px;
        margin: 10px 0;
    }

        ::deep .container > .card-grid.card-grid-md {
            grid-template-columns: 1fr;
        }

        ::deep .container > .card-grid.card-grid-sm {
            grid-template-columns: 1fr 1fr;
        }

        ::deep .container > .card-grid.card-grid-xs {
            grid-template-columns: 354px 354px;
        }
}

/* Low-Resolution Desktop */
@media screen and (min-width: 992px) {

    ::deep .container > .cover-grid,
    ::deep .container > .cover-grid.cover-grid-sm {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px 10px;
        margin: 10px 0;
    }

    ::deep .container > .card-grid.card-grid-md {
        grid-template-columns: 1fr 1fr;
    }

    ::deep .container > .card-grid.card-grid-sm {
        grid-template-columns: 1fr 1fr 1fr;
    }

    ::deep .container > .card-grid.card-grid-xs {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {

    ::deep .container > .cover-grid,
    ::deep .container > .cover-grid.cover-grid-sm {
        gap: 10px 10px;
        margin: 10px 0;
    }

    ::deep .container > .card-grid {
        gap: 10px 10px;
        margin: 10px 0;
    }

        ::deep .container > .card-grid.card-grid-md {
            grid-template-columns: 1fr 1fr;
        }

        ::deep .container > .card-grid.card-grid-sm {
            grid-template-columns: 1fr 1fr 1fr;
        }

        ::deep .container > .card-grid.card-grid-xs {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
}

/* Full-screen Desktop */
@media screen and (min-width: 1400px) {

    ::deep .container > .cover-grid,
    ::deep .container > .cover-grid.cover-grid-sm {
        gap: 10px;
        margin: 10px 0;
    }

    ::deep .container > .card-grid {
        gap: 10px 10px;
        margin: 10px 0;
    }

        ::deep .container > .card-grid.card-grid-md {
            grid-template-columns: 1fr 1fr;
        }

        ::deep .container > .card-grid.card-grid-sm {
            grid-template-columns: 1fr 1fr 1fr;
        }

        ::deep .container > .card-grid.card-grid-xs {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
}

@media print {
    header,
    footer {
        display: none;
    }
}
