@layout DefaultLayout
@page "/play"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Play - Fydar",
            Description = "Explore my library of playable games and experiences.",
            CanonicalUrl = "https://fydar.dev/play",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/header.webp",
                    Alt = "A portrait of Fydar in an anime art style."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Play",
                    Item = "https://fydar.dev/play/"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="container" style="max-width: 680px;place-self: center;">

    <h2>Play</h2>

    <AppIconGrid>
        <AppIcon href="/play/astralswarm" Link="/icons.svg?v=1#icon-astralswarm" Hue="0deg" />
        <AppIcon href="/play/astralelites" Link="/icons.svg?v=1#icon-astralelites" Hue="30deg" />
        <AppIcon href="/play/miniminer" Link="/icons.svg?v=1#icon-miniminer" Hue="120deg" />
        <AppIcon href="/play/lilypadleap" Link="/icons.svg?v=1#icon-lilypadleap" Hue="110deg" />
        <AppIcon href="/play/raidhealersimulator" Link="/icons.svg?v=1#icon-raidhealersimulator" Hue="100deg" />
        <AppIcon href="/play/snoot" Link="/icons.svg?v=1#icon-snoot" Hue="50deg" />
        <AppIcon href="/play/cakedodge" Link="/icons.svg?v=1#icon-cakedodge" Hue="230deg" />
        <AppIcon href="/play/thedwellers" Link="/icons.svg?v=1#icon-thedwellers" Hue="180deg" />
        <AppIcon href="/play/thenewearthconflict" Link="/icons.svg?v=1#icon-thenewearthconflict" Hue="150deg" />
        <AppIcon href="/play/lostblues" Link="/icons.svg?v=1#icon-lostblues" Hue="200deg" />
        <AppIcon href="/play/roadtonorthstead" Link="/icons.svg?v=1#icon-roadtonorthstead" Hue="50deg" />
        <AppIcon href="/play/sofarfromhome" Link="/icons.svg?v=1#icon-sofarfromhome" Hue="10deg" />
        <AppIcon href="/play/void" Link="/icons.svg?v=1#icon-void" Hue="320deg" />
        <AppIcon href="/play/airseabattle" Link="/icons.svg?v=1#icon-airseabattle" Hue="180deg" />
        <AppIcon href="/play/lostinstatic" Link="/icons.svg?v=1#icon-lostinstatic" Hue="30deg" />
        <AppIcon href="/play/bloodlust" Link="/icons.svg?v=1#icon-bloodlust" Hue="0deg" />
        <AppIcon href="/play/loversdefence" Link="/icons.svg?v=1#icon-loversdefence" Hue="220deg" />
        <AppIcon href="/play/cryptcrawl" Link="/icons.svg?v=1#icon-cryptcrawl" Hue="30deg" />
    </AppIconGrid>

</section>
