@using Portfolio.Instance.Models;

@model ErrorViewModel
@{
	ViewData["Title"] = "Missing";
}

<section class="sheetArticle">

	<article>
		<header>
			<h2>404 Missing</h2>
		</header>
		<section>

			<p>The requested resource could not be found.</p>

		</section>
	</article>

</section>
