@using Portfolio.Instance.Models;

@model ErrorViewModel
@{
    ViewData["Title"] = "Missing";
}

<div class="container">

    <div class="page">
        <header>
            <h2>404 Missing</h2>
        </header>
        <section>

            <p>The requested resource could not be found.</p>

        </section>
    </div>

</div>
