@using Portfolio.Instance;
@using Portfolio.Instance.ViewComponents;
@using Portfolio.Instance.Models;
@using Portfolio.Instance.Services.ContentService;
@using Portfolio.Models;

@model ErrorViewModel
@{
	ViewData["Title"] = "Error";
}

@inject IContentService contentService;

<section class="sheetArticle">

	@foreach (var category in contentService.Categories)
	{
		<article>
			<header>
				<h2>404 Missing</h2>
			</header>
			<section>

				<p>The requested resource could not be found.</p>

			</section>
		</article>
	}

</section>
