@using Portfolio.Instance.Models;
@using System.Net; 

@model ErrorViewModel
@{
	ViewData["Title"] = "Error";
}

<div class="container">

	<div class="page">
		<header>
			<h2>Uh oh!</h2>
		</header>
		<section>

			<p>It appears that there has been an error! Please try again soon.</p>

			<p>Error Code: @Context.Response.StatusCode (@((HttpStatusCode)Context.Response.StatusCode))</p>

		</section>
	</div>

</div>
