<svg @attributes="AdditionalAttributes" role="img">
    @if (!string.IsNullOrEmpty(Alt))
    {
        <title>@Alt</title>
    }
    <use xlink:href="@Link"></use>
</svg>

@code {
    [Parameter]
    public string Link { get; set; } = string.Empty;

    [Parameter]
    public string Alt { get; set; } = string.Empty;

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}
