<svg class="@(@class)" role="img">
    @if (!string.IsNullOrEmpty(Alt))
    {
        <title>@Alt</title>
    }
    <use xlink:href="@Link"></use>
</svg>

@code {
    [Parameter]
    public string @class { get; set; } = string.Empty;

    [Parameter]
    public string Link { get; set; } = string.Empty;

    [Parameter]
    public string Alt { get; set; } = string.Empty;
}
