@using Portfolio.Instance;

@model DisciplineViewModel
@{
	ViewData["Title"] = Model.Discipline.DisplayName;
	ViewData["FeaturedImage"] = Model.Discipline.FeaturedImage;
}

@await Component.InvokeAsync("BreadcrumbBar", new BreadcrumbBarViewModel(
	new BreadcrumbViewModel()
	{
		Text = Model.Discipline.DisplayName
	}
))

<section style="min-height: 80vh;">
	<div class="container">
		<h2>@Model.Discipline.DisplayName</h2>
		@(new ResourceContentHtmlWriter(Model.Discipline.PageResource.Content))
	</div>
</section>
