@using Portfolio.Instance;
@using Portfolio.Instance.ViewComponents;
@using Portfolio.Instance.Models;
@using Portfolio.Instance.Services.ContentService;
@using Portfolio.Models;
@using System.IO;

@model DisciplineViewModel
@{
	ViewData["Title"] = Model.Discipline.DisplayName;
	ViewData["FeaturedImage"] = Model.Discipline.FeaturedImage;
}

@await Component.InvokeAsync("BreadcrumbBar", new BreadcrumbBarViewModel(
	new BreadcrumbViewModel()
	{
		Text = Model.Discipline.DisplayName
	}
))

<section style="min-height: 80vh;">
	<div class="container">
		<h2>@Model.Discipline.DisplayName</h2>
		@{
			using var stream = Model.Discipline.PageResource.Content.OpenRead();
			using var sr = new StreamReader(stream);
			@Html.Raw(sr.ReadToEnd());
		}
	</div>
</section>
