@using Portfolio.Instance;
@using Portfolio.Instance.ViewComponents;
@using Portfolio.Instance.Models;
@using Portfolio.Instance.Services.ContentService;
@using Portfolio.Models;

@model PortfolioIndexViewModel
@{
	ViewData["Title"] = "Portfolio";
}

@inject IContentService contentService;

<section class="sheetArticle">

	@foreach (var category in contentService.Categories)
	{
		<article>
			<header>
				<h2>@category.DisplayName</h2>
			</header>
			<section>
                <div class="card-grid @(category.Projects.Count > 3 ? "card-grid-sm" : "")">

                    @{
                        int missing = 0;
                    }
                    @foreach (var project in category.Projects)
                    {
                        if (project.HideOnHomePage)
                        {
                            missing++;
                        }
                        else
                        {
                            @await Component.InvokeAsync("PortfolioItem", project)
                        }
                    }

                    @if (missing > 0)
                    {
                        @await Component.InvokeAsync("ViewMoreItem", new ViewMoreViewModel()
                        {
                           Description = "More Projects",
                           Quantity = missing
                        })
                    }

                </div>
			</section>
		</article>
	}

</section>
