@using Portfolio.Instance;
@using Portfolio.Instance.ViewComponents;
@using Portfolio.Instance.Models;
@using Portfolio.Instance.Services.ContentService;
@using Portfolio.Models;

@model PortfolioIndexViewModel
@{
	ViewData["Title"] = "";
}

@inject IContentService contentService;

<section class="sheetArticle">

	@{
		var categories = new string[]
		{
			"category-personal",
			"category-professional",
			"category-gamejam"
		};
	}

	<article>
		<header>
			<h2>Personal Projects</h2>
		</header>
		<section>

			<div class="section-text">
				<p>Personal projects of mine; for the fun of programming.</p>
			</div>

			<div class="portfolioGrid">

				@foreach (var item in contentService.AllProjects())
				{
					if (item.ProjectCategoryResource.FullName == "data/projects/categories/category-personal.json")
					{
						@await Component.InvokeAsync("PortfolioItem", item)
					}
				}

			</div>
		</section>
	</article>

	<article>
		<header>
			<h2>Professional Projects</h2>
		</header>
		<section>

			<div class="section-text">
				<p>Personal projects of mine; for the fun of programming.</p>
			</div>

			<div class="portfolioGrid">

				@foreach (var item in contentService.AllProjects())
				{
					if (item.ProjectCategoryResource.FullName == "data/projects/categories/category-professional.json")
					{
						@await Component.InvokeAsync("PortfolioItem", item)
					}
				}

			</div>
		</section>
	</article>
</section>
