@using Portfolio.Instance;
@using Portfolio.Instance.ViewComponents;
@using Portfolio.Instance.Models;
@using Portfolio.Instance.Services.ContentService;
@using Portfolio.Models;

@model PortfolioIndexViewModel
@{
	ViewData["Title"] = "";
}

@inject IContentService contentService;

<section class="sheetArticle">

	@foreach (var category in contentService.Categories)
	{
		<article>
			<header>
				<h2>@category.DisplayName</h2>
			</header>
			<section>

				<div class="section-text">
					<p>@category.Description</p>
				</div>

				<div class="portfolioGrid">

					@foreach (var project in category.Projects)
					{
						@await Component.InvokeAsync("PortfolioItem", project)
					}

				</div>
			</section>
		</article>
	}

	<!--
	<div class="paralax-container" style="height: 500px; overflow: hidden; position: relative;" id="originMe">

		<div class="parallax-layer" style="height: 1800px; background-image: url('img/minijam-40-hunters-header.png'); background-position: center;"></div>
		<div class="parallax-layer" style="height: 700px; background-image: url('img/minijam-40-logo.png'); background-position: center; background-repeat: no-repeat;"></div>

	</div>

	<div class="paralax-container" style="height: 500px; overflow: hidden; position: relative;" id="originMe">

		<div class="parallax-layer" style="height: 1800px; background-image: url('img/eitr-background-1.gif'); background-position: center; background-size: cover; image-rendering: pixelated;"></div>
		<div class="parallax-layer" style="height: 700px; background-image: url('img/eitr-logo-transparent.png'); background-position: center; background-repeat: no-repeat;"></div>

	</div>
	-->

</section>
