@using Portfolio.Instance;
@using Portfolio.Instance.ViewComponents;
@using Portfolio.Instance.Models;
@using Portfolio.Instance.Services.ContentService;
@using Portfolio.Models;
@using System.IO;

@model ProjectViewModel
@{
	ViewData["Title"] = Model.Project.ProjectName;
	ViewData["FeaturedImage"] = Model.Project.FeaturedImage;
}

@inject IContentService contentService;

<div class="container">
	@await Component.InvokeAsync("BreadcrumbBar", new BreadcrumbBarViewModel(
		new BreadcrumbModel()
		{
			Controller = "Portfolio",
			Action = "Index",
			Text = "Portfolio"
		},
		new BreadcrumbModel()
		{
			Controller = "Portfolio",
			Action = "Item",
			Text = Model.Project.ProjectCategoryModel.DisplayName,
			RouteParameters = new Dictionary<string, string>()
			{
				["identifier"] = Model.Project.ProjectCategoryModel.Slug
			}
		},
		new BreadcrumbModel()
		{
			Text = Model.Project.ProjectName
		}
	))
</div>

<div class="container">

	<div class="page">
		<header>
			<h2>@Model.Project.ProjectName</h2>
		</header>
		<section>

			@{
				using var stream = Model.Project.PageResource.Content.LoadStream();
				using var sr = new StreamReader(stream);
				@Html.Raw(sr.ReadToEnd());
			}

		</section>
	</div>

</div>
