@using Portfolio.Instance;
@using Portfolio.Instance.ViewComponents;
@using Portfolio.Instance.Models;
@using Portfolio.Instance.Services.ContentService;
@using Portfolio.Models;
@using System.IO;

@model ProjectViewModel
@{
	ViewData["Title"] = Model.Project.ProjectName;
	ViewData["FeaturedImage"] = Model.Project.FeaturedImage;
}

@inject IContentService contentService;

@await Component.InvokeAsync("BreadcrumbBar", new BreadcrumbBarViewModel(
	new BreadcrumbViewModel()
	{
		Controller = "Portfolio",
		Action = "Index",
		Text = "Portfolio"
	},
	new BreadcrumbViewModel()
	{
		Controller = "Portfolio",
		Action = "Item",
		Text = Model.Project.ProjectCategoryModel.DisplayName,
		RouteParameters = new Dictionary<string, string>()
		{
			["identifier"] = Model.Project.ProjectCategoryModel.Slug
		}
	},
	new BreadcrumbViewModel()
	{
		Text = Model.Project.ProjectName
	}
))

<section style="min-height: 80vh; padding-top: 32px;">
	<div class="container">
	</div>

	<div class="container">
		<h2>@Model.Project.ProjectName</h2>

		@{
			using var stream = Model.Project.PageResource.Content.LoadStream();
			using var sr = new StreamReader(stream);
			@Html.Raw(sr.ReadToEnd());
		}
	</div>
</section>
