<div class="row">

    @if (Media != null)
    {
        @Media
    }

    <div class="cutcontent">

        <div class="cutcontent-line">
            <SvgSprite Link="/icons.svg?v=1#icon-scissors" Alt="Cut Content" />
            <div class="cutcontent-dashed"></div>
            <div class="cutcontent-spacer"></div>
        </div>

        <div class="cutcontent-body">
            @ChildContent
        </div>

        <div class="cutcontent-line">
            <div class="cutcontent-spacer"></div>
            <div class="cutcontent-dashed"></div>
            <SvgSprite Link="/icons.svg?v=1#icon-scissors" Alt="Cut Content" />
        </div>

    </div>

</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment? Media { get; set; }
}
