<div class="grid">
    <div class="cell">
        <img class="dial" src="media/mywebsite/pagespeed-insights-circle.svg?v=1" alt="A dial representing a perfect score from PageSpeed Insights." />
        <p class="label">Performance</p>
    </div>
    <div class="cell">
        <img class="dial" src="media/mywebsite/pagespeed-insights-circle.svg?v=1" alt="A dial representing a perfect score from PageSpeed Insights." />
        <p class="label">Accessibility</p>
    </div>
    <div class="cell">
        <img class="dial" src="media/mywebsite/pagespeed-insights-circle.svg?v=1" alt="A dial representing a perfect score from PageSpeed Insights." />
        <p class="label">Best Practices</p>
    </div>
    <div class="cell">
        <img class="dial" src="media/mywebsite/pagespeed-insights-circle.svg?v=1" alt="A dial representing a perfect score from PageSpeed Insights." />
        <p class="label">SEO</p>
    </div>
</div>
