<div class="pagespeed-grid">
    <div class="pagespeed-cell">
        <img class="pagespeed-dial" src="@Assets["media/mywebsite/pagespeed-insights-circle.svg"]" alt="A dial representing a perfect performance score from PageSpeed Insights." />
        <p class="pagespeed-label">Performance</p>
    </div>
    <div class="pagespeed-cell">
        <img class="pagespeed-dial" src="@Assets["media/mywebsite/pagespeed-insights-circle.svg"]" alt="A dial representing a perfect accessibility score from PageSpeed Insights." />
        <p class="pagespeed-label">Accessibility</p>
    </div>
    <div class="pagespeed-cell">
        <img class="pagespeed-dial" src="@Assets["media/mywebsite/pagespeed-insights-circle.svg"]" alt="A dial representing a perfect best practices score from PageSpeed Insights." />
        <p class="pagespeed-label">Best Practices</p>
    </div>
    <div class="cell">
        <img class="pagespeed-dial" src="@Assets["media/mywebsite/pagespeed-insights-circle.svg"]" alt="A dial representing a perfect SEO score from PageSpeed Insights." />
        <p class="pagespeed-label">SEO</p>
    </div>
</div>
