@model TicketIndexViewModel
@{
	ViewData["Title"] = "Contact";
}

<section style="min-height: 80vh;">
	<div class="container">
		<h2>Tickets</h2>
		<div class="container">

		</div>
	</div>
</section>
