@layout DefaultLayout
@page "/portfolio/lostinstatic"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Lost in Static - Fydar",
            Description = "Remote control a drone to take down a rouge AI controlling the station.",
            CanonicalUrl = "https://fydar.dev/portfolio/lostinstatic",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/lostinstatic/social.png",
                    Alt = "Promotional material for the game 'Lost in Static'."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Lost in Static",
                    Item = "https://fydar.dev/portfolio/lostinstatic"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="fullscreen" data-nosnippet>
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
            <img src="/media/lostinstatic/background.webp?v=1" />
        </picture>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="media/lostinstatic/titlecard.svg?v=1" alt="Title card for the game 'Lost in Static'." />
        </picture>

        <SteamPlayButton href="/play/lostinstatic">Play in Browser</SteamPlayButton>

    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to right, #9685aa00 0%, #9685aa30 75%, #9685aa14 100%), url('media/noise.svg');">
    </div>
</div>

<aside>
    <section>
        <h1>Lost in Static</h1>
    </section>
</aside>

<section class="container">
        
    <EmbedYouTube Url="https://www.youtube-nocookie.com/embed/Pms5NU5-IHQ?si=Mrgnpsi5yvvkqaqR" />

</section>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="cameras-and-hacking">
            <Prefix>Implementing the</Prefix>
            <Text>Cameras and Hacking</Text>
            <Content>

                <Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Callout>

            </Content>
        </Heading>

    </section>
</HeadingScope>
