@layout DefaultLayout
@page "/portfolio/eitr"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "EITR - Fydar",
            Description = "A soulslike RPG built around exceptional combat and formidable challenges set within a mythological Norse world.",
            CanonicalUrl = "https://fydar.dev/portfolio/eitr",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/eitr/keyart-1_91x1-1200x630.webp",
                    Alt = "Promotional material for the game 'EITR'."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "EITR",
                    Item = "https://fydar.dev/portfolio/eitr"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="fullscreen" data-nosnippet>
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <div class="parallax-layer" style="--parallax-multiplier: 0.5;">
            <div class="blur" style="background: radial-gradient(100% 100% at 50% 50%, #2C353C, #151F26, #0D1318);">
            </div>
        </div>

        <video class="parallax-layer" onloadeddata="this.classList.add('loaded');" style="--parallax-multiplier: 0.5" autoplay muted loop>
            <source src="/media/eitr/background.720p.29fps.h265.mp4?v=1" type='video/mp4; codecs="hev1.1.2.L93.90"; profiles="isom,iso2,mp41"'>
            <source src="/media/eitr/background.720p.29fps.h264.mp4?v=1" type='video/mp4; codecs="avc1.4d401f"; profiles="isom,iso2,avc1,mp41"'>
        </video>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="media/eitr/titlecard.png?v=1" alt="Title card for the game 'Eitr'." style="image-rendering: pixelated;" />
        </picture>

        <SteamPlayButton href="https://store.steampowered.com/app/350050/EITR/">Visit on Steam</SteamPlayButton>

    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to right, #3d545200 0%, #3d545230 75%, #3d545214 100%), url('media/noise.svg');">
    </div>
</div>

<aside>
    <section>
        <h1>EITR</h1>
    </section>
</aside>

<section class="container">

    <EmbedYouTube Url="https://www.youtube-nocookie.com/embed/z4EWdcoSpAo?si=HMri-k_GT7woe8eT" />

</section>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="skill-tree-editing">
            <Prefix>Tooling for</Prefix>
            <Text>Skill Tree Editing</Text>
            <Media><SvgSprite Link="/icons.svg?v=1#icon-network-right-solid" /></Media>
            <Content>

                <p>I created a skill tree editor that is capable of editing a large quantity of nodes.</p>

                <figure class="figure-image">
                    <picture>
                        <img loading="lazy" src="/media/eitr/skill-tree-editor-1-w900.jpg?v=1" alt="A screenshot of my skill tree editor editing a large skill tree." />
                    </picture>
                    <figcaption>A skill tree for ‘EITR’ inspired by those from <a href="https://www.pathofexile.com/" target="_blank">‘Path of Exile’<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>.</figcaption>
                </figure>

                <p>The skill tree went through multiple iterations thanks to the tooling provided.</p>

                <figure class="figure-image">
                    <picture>
                        <img loading="lazy" src="/media/eitr/skill-tree-editor-2-w900.jpg?v=1" alt="A screenshot of my skill tree editor editing a smaller skill tree." />
                    </picture>
                    <figcaption>A skill tree for ‘EITR’ inspired by Nordic runes.</figcaption>
                </figure>

                <Callout>
                    <Icon><SvgSprite Link="/icons.svg?v=1#icon-seal-check-fill" Alt="Check" /></Icon>
                    <ChildContent>The editor was able to provide all the tools necessary to explore different styles.</ChildContent>
                </Callout>

            </Content>
        </Heading>

        <Heading Level="2" Identifier="inventories">
            <Prefix>Systems Programming for</Prefix>
            <Text>Inventories</Text>
            <Media><SvgSprite Link="/icons.svg?v=1#icon-fydarinventory" /></Media>
            <Content>

                <Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Callout>

            </Content>
        </Heading>

        <Heading Level="2" Identifier="items">
            <Prefix>Systems Programming for</Prefix>
            <Text>Items</Text>
            <Content>

                <Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Callout>

            </Content>
        </Heading>

        <Heading Level="2" Identifier="achievements">
            <Prefix>Systems Programming for</Prefix>
            <Text>Achievements</Text>
            <Content>

                <Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Callout>

            </Content>
        </Heading>

        <Heading Level="2" Identifier="input-mapping">
            <Prefix>Systems Programming for</Prefix>
            <Text>Input Mapping</Text>
            <Content>

                <Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Callout>

            </Content>
        </Heading>

        <Heading Level="2" Identifier="stats">
            <Prefix>Systems Programming for</Prefix>
            <Text>Character Stats</Text>
            <Content>

                <Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Callout>

            </Content>
        </Heading>

        <Heading Level="2" Identifier="tooltips">
            <Prefix>Systems Programming for</Prefix>
            <Text>Tooltips</Text>
            <Content>

                <Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Callout>

            </Content>
        </Heading>

    </section>
</HeadingScope>
