@layout DefaultLayout
@page "/portfolio/lostblues"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Lost Blues - Fydar",
            Description = "The clicker-style where you farm kelp and release fish.",
            CanonicalUrl = "https://fydar.dev/portfolio/lostblues",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/lostblues/social.webp",
                    Alt = "Promotional material for the game 'Lost Blues'."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Lost Blues",
                    Item = "https://fydar.dev/portfolio/lostblues"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="fullscreen" data-nosnippet>
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
            <img src="/media/lostblues/background.webp?v=1" style="image-rendering: pixelated;" />
        </picture>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="media/lostblues/titlecard.svg?v=1" alt="Title card for the game 'Lost Blues'." />
        </picture>

        <SteamPlayButton href="/play/lostblues">Play in Browser</SteamPlayButton>

    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to right, #0c6d5700 0%, #0c6d5730 75%, #0c6d5714 100%), url('media/noise.svg');">
    </div>
</div>

<section class="container">
        
    <EmbedYouTube Url="https://www.youtube-nocookie.com/embed/N0eWZrliNG4?si=h22aoTU4bFP9cmiF"></EmbedYouTube>

</section>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="gameboy-shader">
            <Prefix>Implementing the </Prefix>
            <Text>Procedural Kelp Swaying</Text>
            <Content>


            </Content>
        </Heading>

    </section>
</HeadingScope>
