@layout DefaultLayout
@page "/portfolio/raidhealersimulator"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Raid Healer Simulator - Fydar",
            Description = "The simulation experience of what it’s like to be a healer in an MMORPG raid, complete with a variety of abilities and a challenging boss battle.",
            CanonicalUrl = "https://fydar.dev/portfolio/raidhealersimulator",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/raidhealersimulator/social.webp",
                    Alt = "Promotional material for the game 'Raid Healer Simulator'."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Raid Healer Simulator",
                    Item = "https://fydar.dev/portfolio/raidhealersimulator"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="fullscreen" data-nosnippet>
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
            <img src="/media/raidhealersimulator/background.webp?v=1" />
        </picture>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="media/raidhealersimulator/titlecard.svg?v=1" alt="Title card for the game 'Raid Healer Simulator'." />
        </picture>

        <SteamPlayButton href="/play/raidhealersimulator">Play in Browser</SteamPlayButton>

    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to right, #17181c00 0%, #17181c30 75%, #17181c14 100%), url('media/noise.svg');">
    </div>
</div>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">
        
        <Heading Level="2" Identifier="spell-system">
            <Prefix>Implementing the </Prefix>
            <Text>Spell System</Text>
            <Content>


            </Content>
        </Heading>


        <Heading Level="2" Identifier="user-feedback">
            <Prefix>Analysing the</Prefix>
            <Text>User Feedback</Text>
            <Content>

                <p>As a part of Ludum Dare, I submitted my game to the <a href="https://ldjam.com/events/ludum-dare/46/$195962" target="_blank">project Ludum Dare page<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a> for feedback. The community was incredibly supportive of the project.</p>

                <p>Below is a summary of the user feedback left on the project page.</p>

                <h3>Positives</h3>

                <ul>
                    <li><b>Accurate representation of healing:</b> Many players commented that the game accurately captured the experience of healing in an MMO, including the stress, communication with teammates, and difficulty.</li>
                    <li><b>Good use of theme:</b> Players appreciated the intro sequence and chat mechanics that added to the MMO feel.</li>
                    <li><b>Concept and humour:</b> The core idea of the game was well-received, and the chat messages provided humour for many users.</li>
                    <li><b>Polish:</b> Players liked the polished aspects of the game, such as the HUD and chat functionality.</li>
                </ul>

                <h3>Negatives</h3>

                <ul>
                    <li><b>Difficulty:</b> The game was considered too difficult by many players, especially for those unfamiliar with MMOs.</li>
                    <li><b>Lack of in-game explanations:</b> Players found it hard to understand what abilities did due to the lack of tooltips or in-game explanations.</li>
                    <li><b>Visual feedback:</b> Some players wished for more visual feedback on the effects of their spells.</li>
                </ul>

                <h3>Suggestions</h3>

                <ul>
                    <li><b>Include in-game ability explanations:</b> Tooltips or a tutorial could explain what each ability does.</li>
                    <li><b>Lower difficulty curve:</b> Consider easing players into the game by slowly introducing mechanics.</li>
                    <li><b>Improve visual feedback:</b> Show the effects of spells more clearly.</li>
                </ul>

                <h3>Overall</h3>

                <p>Despite some difficulty issues, the game was well-received for its humour, accurate representation of healing, and good use of the theme.</p>
            </Content>
        </Heading>


    </section>
</HeadingScope>
