@layout DefaultLayout
@page "/portfolio/behaviour"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Behaviour - Fydar",
            Description = "A complete node-based behaviour system.",
            CanonicalUrl = "https://fydar.dev/portfolio/behaviour",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/header.webp",
                    Alt = "A portrait of Fydar in an anime art style."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Behaviour",
                    Item = "https://fydar.dev/portfolio/behaviour"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>


<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="nodes">
            <Prefix>Designing the</Prefix>
            <Text>Nodes</Text>
            <Content>

                <p>I've been wrestling with the design of the node API for a long time, with every iteration reducing it's complexity and taking advantage of the latest C# features. The most recent C# feature that I'm yet to take advantage of is <b>Source Generators</b>, which opens up the field of APIs massively.</p>

                <p>With that said, here is the latest design of the Node API.</p>

                <img class="media-wide" src="@Assets["media/behaviour/behaviour-nodeapi.svg"]" alt="The API for defining a Node." />

                <Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Callout>

            </Content>
        </Heading>

    </section>
</HeadingScope>
