@layout DefaultLayout
@page "/portfolio/voxelmultiplayer"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Voxel Multiplayer - Fydar",
            Description = "Fully bespoke voxel rendering system to create a 'Cube World' style game with a multiplayer component.",
            CanonicalUrl = "https://fydar.dev/portfolio/voxelmultiplayer",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/voxelmultiplayer/social.webp",
                    Alt = "Promotional material for the game 'Voxel Multiplayer'."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Voxel Multiplayer",
                    Item = "https://fydar.dev/portfolio/voxelmultiplayer"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="fullscreen" data-nosnippet>
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
            <img src="/media/voxelmultiplayer/background.webp?v=1" />
        </picture>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="media/voxelmultiplayer/titlecard.svg?v=1" alt="Title card for the game 'Voxel Multiplayer'." />
        </picture>

    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to right, #5d6a3c21 0%, #5d6a3c87 75%, #5d6a3c2b 100%), url(media/noise.svg);">
    </div>
</div>

<section class="container">
    <EmbedYouTube Url="https://www.youtube-nocookie.com/embed/BbosMaHxAHo?si=HRRzPq68GrrLXLH5" StartTime="45" />
</section>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="voxel-terrain-generation">
            <Prefix>Implementing</Prefix>
            <Text>Voxel Terrain Generation</Text>
            <Content>

                <figure class="figure-image">
                    <img loading="lazy" src="/media/voxelmultiplayer/voxel-terrain-1.webp?v=1" alt="A mountain forest." />
                    <figcaption>A mountain forest.</figcaption>
                </figure>

                <figure class="figure-image">
                    <img loading="lazy" src="/media/voxelmultiplayer/screenshot-3.webp?v=1" alt="A concealed grove in a forest." />
                    <figcaption>A concealed grove in a forest with ritual stones.</figcaption>
                </figure>

            </Content>
        </Heading>

        <Heading Level="2" Identifier="peer-to-peer-multiplayer">
            <Prefix>Implementing</Prefix>
            <Text>Peer-to-Peer Multiplayer</Text>
            <Content>

            </Content>
        </Heading>

        <Heading Level="2" Identifier="character-controller">
            <Prefix>Implementing</Prefix>
            <Text>Third Person Character Controller</Text>
            <Content>

            </Content>
        </Heading>

    </section>
</HeadingScope>
