@layout DefaultLayout
@page "/portfolio/pewpew"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Pew Pew - Fydar",
            Description = "A 20v20 .io style browser game made in 48 hours using ASP.NET Core and hosted in AWS.",
            CanonicalUrl = "https://fydar.dev/portfolio/pewpew",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/pewpew/social.webp",
                    Alt = "Promotional material for the game 'Pew Pew'."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Pew Pew",
                    Item = "https://fydar.dev/portfolio/pewpew"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<aside>
    <section>
        <h1>Pew Pew</h1>
    </section>
</aside>

<section class="container">
        
    <EmbedYouTube Url="https://www.youtube-nocookie.com/embed/9DOz6ob91zM?si=9wSx2SPaN7-wz7OO" />

</section>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="skill-tree-editing">
            <Prefix></Prefix>
            <Text></Text>
            <Content>

            </Content>
        </Heading>

    </section>
</HeadingScope>
