@layout DefaultLayout
@page "/portfolio/loversdefence"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Lovers' Defence - Fydar",
            Description = "A narrative driven tower defence game.",
            CanonicalUrl = "https://fydar.dev/portfolio/loversdefence",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/loversdefence/social.webp",
                    Alt = "Promotional material for the game 'Lovers' Defence'."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Lovers' Defence",
                    Item = "https://fydar.dev/portfolio/loversdefence"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="fullscreen" data-nosnippet>
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
            <img src="/media/loversdefence/background.webp?v=1" style="image-rendering: pixelated;" />
        </picture>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="media/loversdefence/titlecard.png?v=1" alt="Title card for the game 'Lovers Defence'." style="image-rendering: pixelated;" />
        </picture>

        <SteamPlayButton href="/play/loversdefence">Play in Browser</SteamPlayButton>

    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to right, #75a84700 0%, #75a84730 75%, #75a84714 100%), url('media/noise.svg');">
    </div>
</div>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="dialogue-system">
            <Prefix>Implementing the </Prefix>
            <Text>Dialogue System</Text>
            <Content>


            </Content>
        </Heading>

    </section>
</HeadingScope>
