@layout DefaultLayout
@page "/portfolio/miniminer"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Mini Miner - Fydar",
            Description = "The Game Boy demake of the Nintendo DS Pokémon Diamond and Pearl underground mining minigame.",
            CanonicalUrl = "https://fydar.dev/portfolio/miniminer",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/miniminer/social.webp",
                    Alt = "Promotional material for the game 'Mini Miner'."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Mini Miner",
                    Item = "https://fydar.dev/portfolio/miniminer"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="fullscreen" data-nosnippet>
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
            <img src="/media/miniminer/background.webp?v=1" style="image-rendering: pixelated;" />
        </picture>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="media/miniminer/titlecard.svg?v=1" alt="Title card for the game 'Mini Miner'." />
        </picture>

        <SteamPlayButton href="/play/miniminer">Play in Browser</SteamPlayButton>

    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to right, #a1ba2f00 0%, #a1ba2f30 75%, #a1ba2f14 100%), url('media/noise.svg');">
    </div>
</div>

<section class="container">
        
    <EmbedYouTube Url="https://www.youtube-nocookie.com/embed/_JwmO41hxcI?si=1btWzYt8tR6iS5HH" />

</section>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="gameboy-shader">
            <Prefix>Implementing the </Prefix>
            <Text>Gameboy Shader</Text>
            <Content>


            </Content>
        </Heading>

    </section>
</HeadingScope>
