@layout DefaultLayout
@page "/portfolio/astralswarm"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Astral Swarm - Fydar",
            Description = "Jump from lilypad to lilypad across the pond..",
            CanonicalUrl = "https://fydar.dev/portfolio/astralswarm",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/astralswarm/social.webp",
                    Alt = "Promotional material for the game 'Astral Swarm'."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Astral Swarm",
                    Item = "https://fydar.dev/portfolio/astralswarm"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="fullscreen" data-nosnippet>
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
            <img src="/media/astralswarm/background.webp?v=1" />
        </picture>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="media/astralswarm/titlecard.webp?v=1" alt="Title card for the game 'Astral Swarm'." />
        </picture>

        <SteamPlayButton href="/play/astralswarm">Play in Browser</SteamPlayButton>

    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to right, #0043bf40 0%, #0043bf57 75%, #0043bf20 100%), url('media/noise.svg');">
    </div>
</div>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="">
            <Prefix></Prefix>
            <Text></Text>
            <Content>

                <Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Callout>

            </Content>
        </Heading>

    </section>
</HeadingScope>
