@layout DefaultLayout
@page "/portfolio/thedwellers"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "The Dwellers - Fydar",
            Description = "A dungeon crawler with a powerful node-based editor for the RPG system.",
            CanonicalUrl = "https://fydar.dev/portfolio/thedwellers",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/thedwellers/social.webp",
                    Alt = "Promotional material for the game 'The Dwellers'."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "The Dwellers",
                    Item = "https://fydar.dev/portfolio/thedwellers"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="fullscreen" data-nosnippet>
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
            <img src="@Assets["media/thedwellers/background.webp"]" />
        </picture>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="@Assets["media/thedwellers/titlecard.svg"]" alt="Title card for the game 'The Dwellers'." />
        </picture>

        <SteamPlayButton href="/play/thedwellers">Play in Browser</SteamPlayButton>

    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to right, #302e3200 0%, #302e3230 75%, #302e3214 100%), url('media/noise.svg');">
    </div>
</div>

<aside>
    <section>
        <h1>The Dwellers</h1>
    </section>
</aside>

<section class="container">

    <EmbedYouTube Url="https://www.youtube-nocookie.com/embed/ksa6ccxi0Ug?si=hheiAYNLLLx_EhRv" />

</section>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="inventory-and-items">
            <Prefix>Implementing</Prefix>
            <Text>Inventory and Items</Text>
            <Media><SvgSprite Link="/icons.svg?v=1#icon-knapsack" /></Media>
            <Content>

                <Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Callout>

            </Content>
        </Heading>

    </section>
</HeadingScope>
