@layout DefaultLayout
@page "/portfolio/snoot"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Snoot - Fydar",
            Description = "Restore life to a desolate world by exploring a sandbox of crafting recipes. On your adventure you will bring rain, grass, bugs, birds, and bees.",
            CanonicalUrl = "https://fydar.dev/portfolio/snoot",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/snoot/social.webp",
                    Alt = "Promotional material for the game 'Snoot'."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Snoot",
                    Item = "https://fydar.dev/portfolio/snoot"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="fullscreen" data-nosnippet>
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
            <img src="/media/snoot/background.webp?v=1" />
        </picture>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="media/snoot/titlecard.svg?v=1" alt="Title card for the game 'Snoot'." />
        </picture>

        <SteamPlayButton href="/play/snoot">Play in Browser</SteamPlayButton>

    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to right, #88a06c00 0%, #88a06c30 75%, #88a06c14 100%), url('media/noise.svg');">
    </div>
</div>

<aside>
    <section>
        <h1>Snoot</h1>
    </section>
</aside>

<section class="container">
        
    <EmbedYouTube Url="https://www.youtube-nocookie.com/embed/QG4aYGcsoio?si=vaE8GRl9teAlJEjI" />

</section>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="crafting-system">
            <Prefix>Implementing a</Prefix>
            <Text>Data-Driven Crafting System</Text>
            <Content>

                <Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Callout>

            </Content>
        </Heading>

    </section>
</HeadingScope>
