@layout DefaultLayout
@page "/portfolio/geometry"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Geometry - Fydar",
            Description = "A complete geometry library.",
            CanonicalUrl = "https://fydar.dev/portfolio/geometry",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/header.webp",
                    Alt = "A portrait of Fydar in an anime art style."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Geometry",
                    Item = "https://fydar.dev/portfolio/geometry"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="world">
            <Prefix>Designing the</Prefix>
            <Text>World</Text>
            <Content>

                <Callout Type="construction">
                    <Icon><SvgSprite Link="/icons.svg?v=1#fluent-emoji-high-contrast--construction" Alt="Check" /></Icon>
                    <ChildContent>This section of my website is currently <b>under construction</b>.</ChildContent>
                </Callout>

            </Content>
        </Heading>

    </section>
</HeadingScope>
