@using Portfolio.Instance.Services.ContentService;
@using Portfolio.Models.Blog;

@{
	Layout = "_Layout";
}

@model BlogPostModel
@{
	ViewData["Title"] = Model.PostTitle;
	ViewData["HeaderStyle"] = "BlogStyle";
	ViewData["FeaturedImage"] = Model.FeaturedImage;
}

@inject IContentService contentService;

<section style="min-height: 80vh;">
	<div class="container">
		<h2>@Model.PostTitle</h2>

		@if (Model.PageResource != null)
		{
			using var stream = Model.PageResource.Content.OpenRead();
			<vc:markup stream="stream" />
		}
	</div>
</section>
