@layout DefaultLayout
@page "/portfolio/astralelites"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Astral Elites - Fydar",
            Description = "The physics-based and fast-paced asteroids clone for the modern era, complete with Discord integration.",
            CanonicalUrl = "https://fydar.dev/portfolio/astralelites",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/astralelites/keyart-1_91x1-1200x630.webp",
                    Alt = "Promotional material for the game 'Astral Elites'."
                }
            ]
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
</HeadContent>

<section class="fullscreen">
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <EmbedUnity class="embed loading parallax-layer" style="--parallax-multiplier: 0.5">
            <Configuration>
                <script>
                    var config = {
                        companyName: "Fydar",
                        productName: "Astral Elites",
                        productVersion: "v0.0.5-rc2",
                        dataUrl: "/play/astralelites/build/v0.0.5-rc2.data.br",
                        codeUrl: "/play/astralelites/build/v0.0.5-rc2.wasm.br",
                        frameworkUrl: "/play/astralelites/build/v0.0.5-rc2.framework.js.br",
                        streamingAssetsUrl: "/play/astralelites/StreamingAssets",
                        arguments: ["background"],
                    };
                    var loaderUrl = "/play/astralelites/build/v0.0.5-rc2.loader.js";
                </script>
            </Configuration>
            <Placeholder>
                <img src="/play/astralelites/favicon.ico" alt="The logo for 'Astral Elites'." style="width: 200px; max-width: 90%; margin-bottom: 32px;" />
            </Placeholder>
        </EmbedUnity>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="media/astralelites/titlecard.svg?v=1" alt="Title card for the game 'Astral Elites'." />
        </picture>

        <SteamPlayButton href="/play/astralelites">Play in Browser</SteamPlayButton>

    </div>
</section>

<aside>

</aside>

<section class="container">

    <h1>Astral Elites</h1>

    <p>The physics-based and fast-paced asteroid clone for the modern era, complete with Discord integration.</p>

    <p>This project started as an 8-hour code interview for my position at <a href="/company/tt-games">TT Games</a>, but I found that it was a good playground for testing new programming concepts.</p>

    <h2>Discord Integration</h2>

    <p>One of the first things that I decided to implement to further the development of this project was to implement the Discord SDK. The Discord SDK provides "rich-presence" integration that allows me to render the players current game state with their friends.</p>
    <p>I also explored the multiplayer APIs that Discord exposes, but I didn't implement them on this project due to it being a single-player game (though I was tempted to make it multiplayer purely to explore these multiplayer APIs more).</p>

</section>
