@page "/portfolio/astralelites"

<PageTitle>Astral Elites - Fydar</PageTitle>

<HeadContent>
    <meta name="description" content="description">
</HeadContent>

<MainFullscreen>

    <section class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <video class="parallax-layer" style="--parallax-multiplier: 0.5" autoplay muted loop>
            <source src="/media/astralelites/background.mp4" type="video/mp4">
        </video>

    </section>

    <section class="landing-footer">

        <picture>
            <img class="titlecard" src="media/astralelites/titlecard.svg" alt="Title card for the game 'Astral Elites'." />
        </picture>

        <SteamPlayButton href="https://fydar.github.io/AstralElites/">Play in Browser</SteamPlayButton>

    </section>

    <section class="container">

        <h1>Astral Elites</h1>

        <p>The physics-based and fast-paced asteroid clone for the modern era, complete with Discord integration.</p>

        <p>This project started as an 8-hour code interview for my position at <a href="/company/tt-games">TT Games</a>, but I found that it was a good playground for testing new programming concepts.</p>

        <h2>Discord Integration</h2>

        <p>One of the first things that I decided to implement to further the development of this project was to implement the Discord SDK. The Discord SDK provides "rich-presence" integration that allows me to render the players current game state with their friends.</p>
        <p>I also explored the multiplayer APIs that Discord exposes, but I didn't implement them on this project due to it being a single-player game (though I was tempted to make it multiplayer purely to explore these multiplayer APIs more).</p>

    </section>

</MainFullscreen>
