@page "/portfolio/miniminer"

<PageTitle>Mini Miner - Fydar</PageTitle>

<HeadContent>
    <meta name="description" content="description">
</HeadContent>

<MainFullscreen>

    <section class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <video class="parallax-layer" style="--parallax-multiplier: 0.5" autoplay muted loop>
            <source src="/media/miniminer/background.mp4?v=1" type="video/mp4">
        </video>

    </section>

    <section class="landing-footer">

        <picture>
            <img class="titlecard" src="media/miniminer/titlecard.svg?v=1" alt="Title card for the game 'The New Earth Conflict'." />
        </picture>

        <SteamPlayButton href="https://fydar.github.io/MiniMiner/">Play in Browser</SteamPlayButton>

    </section>

    <section class="container">

        <h1>Fydar.Numerics</h1>



    </section>

</MainFullscreen>
