@page "/portfolio/fydarnumerics"

<PageTitle>Fydar.Numerics - Fydar</PageTitle>

<HeadContent>
    <meta name="description" content="description">
</HeadContent>

<main>
    <section class="container">

        <h1>Fydar.Numerics</h1>



    </section>
</main>

<!--
        string domain = $"fydar.dev";

        writer.Write("<script type=\"application/ld+json\">{");
        writer.Write("\"@context\": \"https://schema.org\",");
        writer.Write("\"@type\": \"BreadcrumbList\",");
        writer.Write("\"itemListElement\": [");

        for (int i = 0; i < Breadcrumbs.Length; i++)
        {
            var breadcrumb = Breadcrumbs[i];

            writer.Write("{");
            writer.Write("\"@type\": \"ListItem\",");
            writer.Write($"\"position\": {i + 1},");
            writer.Write($"\"name\": \"{breadcrumb.Text}\"");

            if (i != Breadcrumbs.Length - 1)
            {
                writer.Write(",");
                writer.Write($"\"item\": \"https://{domain}{breadcrumb.PageUrl}\"");
            }

            writer.Write("}");

            if (i != Breadcrumbs.Length - 1)
            {
                writer.Write(",");
            }
        }
        writer.WriteLine("]}");
        writer.Write("</script>");
-->
