@layout DefaultLayout
@page "/portfolio/raidhealersimulator"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Raid Healer Simulator - Fydar",
            Description = "The simulation experience of what it’s like to be a healer in an MMORPG raid, complete with a variety of abilities and a challenging boss battle.",
            CanonicalUrl = "https://fydar.dev/portfolio/raidhealersimulator",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/raidhealersimulator/keyart-1.91x1-1200x630.webp",
                    Alt = "Promotional material for the game 'Raid Healer Simulator'."
                }
            ]
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
</HeadContent>

<section class="fullscreen">
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <video class="parallax-layer" style="--parallax-multiplier: 0.5" autoplay muted loop>
            <source src="/media/raidhealersimulator/background.mp4?v=1" type="video/mp4">
        </video>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="media/raidhealersimulator/titlecard.svg?v=1" alt="Title card for the game 'Raid Healer Simulator'." />
        </picture>

        <SteamPlayButton href="/play/raidhealersimulator">Play in Browser</SteamPlayButton>

    </div>
</section>

<aside>

</aside>

<section class="container">

    <h1>Fydar.Numerics</h1>



</section>
