@page "/portfolio/snoot"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Snoot - Fydar",
            Description = "Restore life to a desolate world by exploring a sandbox of crafting recipes. On your adventure you will bring rain, grass, bugs, birds, and bees.",
            CanonicalUrl = "https://fydar.dev/portfolio/snoot",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/snoot/keyart-1.91x1-1200x630.webp",
                    Alt = "Promotional material for the game 'Snoot'."
                }
            ]
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
</HeadContent>

<MainFullscreen>

    <section class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <video class="parallax-layer" style="--parallax-multiplier: 0.5" autoplay muted loop>
            <source src="/media/snoot/background.mp4?v=1" type="video/mp4">
        </video>

    </section>

    <section class="landing-footer">

        <picture>
            <img class="titlecard" src="media/snoot/titlecard.svg?v=1" alt="Title card for the game 'Snoot'." />
        </picture>

        <SteamPlayButton href="https://fydar.github.io/Snoot/">Play in Browser</SteamPlayButton>

    </section>

    <section class="container">

        <h1>Fydar.Numerics</h1>



    </section>

</MainFullscreen>
