@layout DefaultLayout
@page "/portfolio/thedwellers"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "The Dwellers - Fydar",
            Description = "A dungeon crawler with a powerful node-based editor for the RPG system.",
            CanonicalUrl = "https://fydar.dev/portfolio/thedwellers",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/thedwellers/keyart-1-1_91x1-1200-630.webp",
                    Alt = "Promotional material for the game 'The Dwellers'."
                }
            ]
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
</HeadContent>

<section class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

    <video class="parallax-layer" style="--parallax-multiplier: 0.5" autoplay muted loop>
        <source src="/media/thedwellers/background.mp4?v=1" type="video/mp4">
    </video>

</section>

<section class="landing-footer">

    <picture>
        <img class="titlecard" src="media/thedwellers/titlecard.svg?v=1" alt="Title card for the game 'The Dwellers'." />
    </picture>

</section>

<section class="container">

    <h1>Fydar.Numerics</h1>



</section>
