@page "/portfolio/thenewearthconflict"

<PageTitle>The New Earth Conflict - Fydar</PageTitle>

<HeadContent>
    <meta name="description" content="description">
</HeadContent>

<MainFullscreen>

    <section class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <video class="parallax-layer" style="--parallax-multiplier: 0.5" autoplay muted loop>
            <source src="/media/thenewearthconflict/background.mp4" type="video/mp4">
        </video>

    </section>

    <section class="landing-footer">

        <picture>
            <img class="titlecard" src="media/thenewearthconflict/titlecard.svg" alt="Title card for the game 'The New Earth Conflict'." />
        </picture>

    </section>

    <section class="container">

        <h1>The New Earth Conflict</h1>

        <p>I always enjoyed space games, but I found that they can often be inaccessible. In this project, I wanted to make a 3rd-person experience of piloting a spaceship accessible and fun.</p>

        <p>Every ship cannon is individually targeting with unique stats for turning-angle and range. Many of the weapons had unique mechanics to them.</p>

        <p>Missile cannons fire frenzied-swarms of tracking missiles; torpedo launchers fire long-range tracking torpedos; mining lasers continuously mine from an asteroid; and finally, the sniper and assault lasers barrage the target with lasers.</p>

        <figure class="figure-image">
            <img src="/img/the-new-earth-conflict-header.png" loading="lazy" />
            <figcaption>Gameplay screenshot with weapons firing.</figcaption>
        </figure>

        <figure class="figure-image">
            <img src="/img/the-new-earth-conflict-8.png" loading="lazy" />
            <figcaption>Defeat screen with destroyed ship.</figcaption>
        </figure>

    </section>

</MainFullscreen>
