@page "/portfolio/voxelmultiplayer"

<PageTitle>Voxel Multiplayer - Fydar</PageTitle>

<HeadContent>
    <meta name="description" content="description">
</HeadContent>

<MainFullscreen>

    <section class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <video class="parallax-layer" style="--parallax-multiplier: 0.5" autoplay muted loop>
            <source src="/media/voxelmultiplayer/background.mp4" type="video/mp4">
        </video>

    </section>

    <section class="landing-footer">

        <picture>
            <img class="titlecard" src="media/voxelmultiplayer/titlecard.svg" alt="Title card for the game 'The New Earth Conflict'." />
        </picture>

    </section>

    <section class="container">

        <h1>Fydar.Numerics</h1>



    </section>

</MainFullscreen>
