@using Portfolio.Services.Content;
@using Portfolio.Component.Website.Server.Areas.Blog.Models;

@{
  Layout = "_Layout";
}

@model BlogPostViewModel;
@{
  ViewData["Title"] = Model.BlogPost.PostTitle;
  ViewData["HeaderStyle"] = "BlogStyle";
  ViewData["FeaturedImage"] = Model.BlogPost.FeaturedImage;
}

@inject IContentService contentService;

<section class="container" style="min-height: 80vh;">

  <div class="page">

    <h2>@Model.BlogPost.PostTitle</h2>

    @if (Model.BlogPost.PageResource != null)
    {
      using var stream = Model.BlogPost.PageResource.Content.OpenRead();
      <vc:markup stream="stream" />
    }

  </div>

</section>
