<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <SectionOutlet SectionName="layoutheadcontent" />
    <HeadOutlet />
    <SectionOutlet SectionName="layoutbodystyle" />
</head>

<body>
    <Routes />

    <BlazorErrorUI />
    <script src="_framework/blazor.web.js?v=1" autostart="false"></script>
    <script>
        Blazor.start({
            ssr: { disableDomPreservation: true }
        });
    </script>
</body>

</html>
