<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <button class="dismiss">🗙</button>

    <style>
        #blazor-error-ui {
            display: none;
            position: fixed;
            bottom: 24px;
            left: 24px;
            right: 24px;
            z-index: 1000;
            padding: 0.6rem 1.25rem 0.7rem 1.25rem;
            color: #fff;
            background: #950202;
            border-radius: 26px;
            border: 2px solid #ff0000;
        }

            #blazor-error-ui .dismiss {
                position: absolute;
                right: 0.85rem;
                top: 0.7rem;
                cursor: pointer;
                height: 1.75em;
                background: none;
                border: none;
            }
    </style>
</div>
