/* code styles*/
table.code-table {
	padding: 0;
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border: 0;
	border-spacing: 0;
	border-collapse: separate;
	width: 100%;
	background: none;
	caption-side: bottom;
	background-color: rgba(30, 30, 30, 255);
	border-radius: 6px;
	display: block;
	overflow-x: auto;
	scrollbar-width: thin;
	scrollbar-height: thin;
	scrollbar-color: #888 rgba(30, 30, 30, 255);
}

	/* scrollbar */
	table.code-table::-webkit-scrollbar {
		height: 8px;
		width: 8px;
	}

	/* track */
	table.code-table::-webkit-scrollbar-track {
		/* background: #f1f1f1; */
	}

	table.code-table.code-sticky-linenumber::-webkit-scrollbar-track {
		margin-left: 34px;
	}

	/* handle */
	table.code-table::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 4px;
		border: 2px solid rgba(30, 30, 30, 255);
	}

		/* handle on hover */
		table.code-table::-webkit-scrollbar-thumb:hover {
			background: #999;
		}

	/* corner */
	table.code-table::-webkit-scrollbar-corner {
		background-color: rgba(30,30,30,255);
		border-bottom-right-radius: 6px;
	}


	table.code-table caption {
		margin-top: 2px;
		text-align: left;
		color: var(--color-text-subtle-4);
	}

	table.code-table tbody {
		text-align: left;
		font-family: Consolas,Monaco,'Andale Mono',monospace;
		color: rgba(220, 220, 220, 255);
		tab-size: 4;
		font-size: 12px;
		line-height: 1.35;
		display: block;
		width: 100%;
	}

		table.code-table tbody tr {
			padding: 0;
			border: 0;
			background: none;
			width: 100%;
		}

			table.code-table tbody tr td,
			table.code-table tbody tr th {
				padding: 0;
				white-space: pre;
			}

			table.code-table tbody tr:first-child {
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
			}

				table.code-table tbody tr:first-child th,
				table.code-table tbody tr:first-child td {
					padding-top: 5px;
				}

					table.code-table tbody tr:first-child th:first-child,
					table.code-table tbody tr:first-child td:first-child {
						border-top-left-radius: 6px;
					}

					table.code-table tbody tr:first-child th:last-child,
					table.code-table tbody tr:first-child td:last-child {
						border-top-right-radius: 6px;
					}

			table.code-table tbody tr:last-child {
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
			}

				table.code-table tbody tr:last-child th,
				table.code-table tbody tr:last-child td {
					padding-bottom: 5px;
				}

					table.code-table tbody tr:last-child th:first-child,
					table.code-table tbody tr:last-child td:first-child {
						border-bottom-left-radius: 6px;
					}

					table.code-table tbody tr:last-child th:first-child,
					table.code-table tbody tr:last-child td:last-child {
						border-bottom-right-radius: 6px;
					}


			/* line numbers */
			table.code-table tbody tr th {
				-webkit-user-select: none;
				-ms-user-select: none;
				user-select: none;
				background-color: rgba(26, 26, 26, 255);
				padding-left: 6px;
				padding-right: 6px;
				text-align: right;
				min-width: 22px;
				color: #2b90af;
			}

			/* line content */
			table.code-table tbody tr td {
				padding-left: 1em;
				padding-right: 2em;
				width: 100%;
				cursor: text;
			}

				table.code-table tbody tr td::selection
				table.code-table tbody tr td *::selection {
					background-color: #264f78;
				}

				table.code-table tbody tr td a,
				code a {
					cursor: pointer;
					text-decoration-style: dotted;
					text-decoration-color: var(--code-foreground-color);
					color: var(--code-foreground-color);
				}

					table.code-table tbody tr td a:hover {
						text-decoration: none;
					}

				table.code-table tbody tr td span,
				code span {
					color: var(--code-foreground-color);
				}

	table.code-table.code-sticky-linenumber tbody tr th {
		top: auto;
		left: 0;
		position: sticky;
	}


	/* line styles*/
	table.code-table tbody tr.line-green {
		background-color: #182f19;
	}

		table.code-table tbody tr.line-green th {
			background-color: #182f19;
		}

		table.code-table tbody tr.line-green th,
		table.code-table tbody tr.line-green td {
			border-top: 1px solid #274e28;
		}

		table.code-table tbody tr.line-green + :not(.line-red) th,
		table.code-table tbody tr.line-green + :not(.line-red) td {
			border-top: 1px solid #274e28;
		}

		table.code-table tbody tr.line-green + .line-green th,
		table.code-table tbody tr.line-green + .line-green td {
			border-top: none;
		}


	table.code-table tbody tr.line-red {
		background-color: #2b1313;
	}

		table.code-table tbody tr.line-red th {
			background-color: #2b1313;
		}

		table.code-table tbody tr.line-red th,
		table.code-table tbody tr.line-red td {
			border-top: 1px solid #481c1c;
		}

		table.code-table tbody tr.line-red + :not(.line-red) th,
		table.code-table tbody tr.line-red + :not(.line-red) td {
			border-top: 1px solid #481c1c;
		}

		table.code-table tbody tr.line-red + .line-red th,
		table.code-table tbody tr.line-red + .line-red td {
			border-top: none;
		}


.c-keyword {
	--code-foreground-color: rgba(86, 156, 214, 255);
}

.c-control {
	--code-foreground-color: rgba(216, 160, 223, 255);
}

.c-string {
	--code-foreground-color: rgba(214, 157, 133, 255);
}

.c-numeric {
	--code-foreground-color: rgba(181, 207, 168, 255);
}

.c-comment {
	--code-foreground-color: rgba(87, 166, 74, 255);
}

.c-class {
	--code-foreground-color: rgba(78, 201, 176, 255);
}

.c-interface {
	--code-foreground-color: rgba(184, 215, 163, 255);
}

.c-enum {
	--code-foreground-color: rgba(184, 215, 163, 255);
}

.c-structure {
	--code-foreground-color: rgba(134, 198, 145, 255);
}

.c-method {
	--code-foreground-color: rgba(220, 220, 170, 255);
}

.c-parameter {
	--code-foreground-color: rgba(156, 220, 254, 255);
}

.c-local {
	--code-foreground-color: rgba(156, 220, 254, 255);
}
