body {
  /* Typography */
  --color-text-primary: #d8d8d8;
  --color-text-headings: #e1e4e8;
  --color-text-subtitles: #afb0b1;
  --color-text-subtle-1: #d8d8d8;
  --color-text-subtle-2: #4a4a4a;
  --color-text-subtle-3: #6c757d;
  --color-text-subtle-4: #999999;
  --color-text-link: #8799ed;
  /* Borders */
  --color-border-1: #242628;
  --color-border-2: #2d2f31;
  --color-border-select-1: #007bff40;
  --color-border-select-2: #80bdff;
  --color-border-error-1: #dc354540;
  --color-border-error-2: #dc3545;
  /* Form */
  --color-form-background-autocorrect: #1c1c1f;
  /* Backgrounds */
  --color-background-1: rgb(25, 28, 38);
  --color-background-2: #0d0d0d;
  --color-background-3: #0d0d0d;
  --color-background-4: #242628;
  --color-background-5: #0c0c0c;
  --color-background-footer: #202129;
  /* Grey */
  --color-grey-5: #202020;
  --color-grey-6: #444444;
  /* Green */
  --color-green-1: #255325;
  --color-green-6: #64b860;
  --color-green-8: #a0ed9b;
  /* Orange */
  --color-orange-1: #40251c;
  --color-orange-6: #f78e6b;
  --color-orange-7: #f2840f;
  --color-orange-8: #fed7b5;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-primary);
  /*background: #0b0d11;*/
  background-color: #0D1117;
}

  body.dark {
    font-weight: 100;
    letter-spacing: 0.15px;
  }


.card {
  border: none;
  text-decoration: none;
  border-radius: 12px;
  border: 1px solid #3a424c;
  padding: 12px;
}

  .card .card-image:first-child,
  .card .card-header:first-child,
  .card .card-body:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .card .card-image:last-child,
  .card .card-header:last-child,
  .card .card-body:last-child {
    border-bottom: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }


  .card .card-header {
    background-color: #2c323f;
    background: none;
    flex-grow: 0;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
    margin: 0 0 0.6em 0;
    border-top: none;
    padding: 4px 4px;
  }

  .card .card-body {
    background-color: #2c323f;
    background: none;
    border-top: none;
    flex-grow: 1;
    padding: 0;
  }

  .card .card-image {
    background-color: #2c323f;
    background: none;
    border-top: none;
    border-radius: 12px;
    margin: 0 0 0.4em 0;
  }

  .card .card-title {
    font-size: 1.1em;
  }

  .card .card-subtitle {
    font-size: 13px;
  }


  /* Hover effects and animation */
  .card.card-hoverEffect {
    transition: border 0.15s ease-in-out;
  }

    .card.card-hoverEffect:hover {
      border: 1px solid #5480b6;
    }

.badge-tag {
  background-color: #0b0d0e;
  border: 1px solid #232a2c;
  flex-grow: 1;
}

.iconannotationcloud {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin: 0 0 0.5em 0;
}

.iconannotation {
  padding: 3px 3px;
  font-size: 11px;
  color: #30363c;
}

  .iconannotation:hover .mark {
    color: #8ba3bd;
  }

.form-btn-readmore {
  font-size: 20px;
  padding: 12px 12px;
  color: var(--color-text-subtle-4);
  border: 1px solid #30363d;
  text-decoration: none;
}

.page {
  margin-top: 1.5em;
  border: 1px solid #2d2e34;
  padding: 1em 2.5rem;
  border-radius: 12px;
  margin-bottom: 4rem;
}

section.profile {
  padding: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  margin-top: 4em;
  border: 1px solid #2d2e34;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 20%, rgba(13, 17, 23, 0.95) 50%), url(/img/astral-elites-21-9.png);
  background-size: cover;
}

  section.profile .badgecloud {
    gap: 0;
  }

section.breadcrumb-bar {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #2d2e34;
  border-radius: 12px;
  margin-top: 1.5em;
}

.alert {
  background-color: #11151e;
  border-left: 6px solid #3b414f;
}

blockquote {
  background: #11151e;
  border-left: 6px solid #3b414f;
}

  blockquote:before {
    color: #3b414f;
  }

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: #2c323f;
  border-radius: 30px;
}

  ::-webkit-scrollbar-thumb:hover {
    background: #333a4a;
  }

::-webkit-scrollbar-track {
  background: #1d212e;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}
