

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.9em;
  margin: 0.6rem 0 0.5rem 0;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 6px 12px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  caret-color: var(--color-text-subtle-1);
  color: var(--color-text-subtle-1);
  background: none;
  background-clip: content-box;
  border: 1px solid var(--color-border-2);
  border-radius: .45rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,background .15s ease-in-out;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  box-shadow: 0 0 0 500px var(--color-background-1) inset, 0 0 0 0 var(--color-border-select-1);
}

  .form-control:focus {
    background: none;
    background-clip: content-box;
    outline: 0;
    border: 1px solid var(--color-border-select-2);
    color: var(--color-text-subtle-1);
    box-shadow: 0 0 0 500px var(--color-background-1) inset, 0 0 0 0.2rem var(--color-border-select-1);
  }

  .form-control:-webkit-autofill {
    background: none;
    background-clip: content-box;
    -webkit-text-fill-color: var(--color-text-subtle-1) !important;
    box-shadow: 0 0 0 500px var(--color-form-background-autocorrect) inset, 0 0 0 0 var(--color-border-select-1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
  }

    .form-control:-webkit-autofill::first-line {
      background: none;
      background-clip: content-box;
      -webkit-text-fill-color: var(--color-text-subtle-1) !important;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      font-size: 1rem;
    }

    .form-control:-webkit-autofill:focus {
      background: none;
      background-clip: content-box;
      box-shadow: 0 0 0 500px var(--color-form-background-autocorrect) inset, 0 0 0 0.2rem var(--color-border-select-1);
    }

  .form-control.input-validation-error {
    box-shadow: 0 0 0 500px var(--color-background-1) inset, 0 0 0 0 var(--color-border-error-1);
    border: 1px solid var(--color-border-error-2);
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
  }

    .form-control.input-validation-error:focus {
      border-color: var(--color-border-error-2);
      box-shadow: 0 0 0 500px var(--color-background-1) inset, 0 0 0 0.2rem var(--color-border-error-1);
    }

.form-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .45rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

  .form-btn-primary:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
  }

.form-text {
  display: block;
  margin-top: .25rem;
}

/* Buttons */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

  .btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }

.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.validation-feedback {
  display: block;
  height: 0;
  opacity: 0;
  transition: ease-in-out 0.1s;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
}

.invalid-feedback, .field-validation-error {
  height: 1em;
  opacity: 1;
  color: var(--color-text-error);
}

.field-validation-valid {
  height: 0em;
  opacity: 0;
}

.btn.btn-theme-toggle {
  color: #999;
}

  .btn.btn-theme-toggle .mark {
    margin: 0;
  }
