@using Portfolio.Services.Content;
@using Portfolio.Models.Portfolio;
@using Portfolio.Site.Areas.Portfolio.Models;

@model CategoryViewModel

@{
  ViewData["Title"] = "Portfolio";
}

<vc:breadcrumb-bar breadcrumb-bar='new BreadcrumbBarViewModel(
  new BreadcrumbViewModel()
  {
    Text = Model.Category.DisplayName
  }
)' />

<section class="container" style="min-height: 80vh;">

    <div class="card-grid @(Model.Category.Projects.Count > 3 ? "card-grid-sm" : "")">

      @foreach (var project in Model.Category.Projects)
      {
        <vc:portfolio-item project="project" />
      }

    </div>

</section>
