@using Portfolio.Services.Content;
@using Portfolio.Site.Areas.Portfolio.Models;

@model PortfolioIndexViewModel
@{
  ViewData["Title"] = "";
}

@inject IContentService contentService;

<section class="container" style="min-height: 80vh;">

    @for (int i = 0; i < contentService.Categories.Count; i++)
    {
      var category = contentService.Categories[i];

      <vc:portfolio-grid category="category" />
    }

</section>

