@using Portfolio.Site.Services.ContentService;
@using Portfolio.Site.Areas.Portfolio.Models;

@model PortfolioIndexViewModel
@{
  ViewData["Title"] = "";
}

@inject IContentService contentService;

<section style="min-height: 80vh;">
  <div class="container">

    @for (int i = 0; i < contentService.Categories.Count; i++)
    {
      int missing = 0;

      var category = contentService.Categories[i];

      <h1>@category.DisplayName</h1>

      <div class="card-grid @(category.Projects.Count > 3 ? "card-grid-sm" : "")">
        @foreach (var project in category.Projects)
        {
          if (project.HideOnHomePage)
          {
            missing++;
          }
          else
          {
            <vc:portfolio-item project="project" />
          }
        }
      </div>

      @if (missing > 0)
      {
        <div class="form-group" style="text-align: right;">
          <a class="form-btn form-btn-readmore"
             asp-area="Portfolio"
             asp-controller="PortfolioItem"
             asp-action="Index"
             asp-route-identifier="@category.Slug">
            view <b>@missing</b> more projects →
          </a>
        </div>
      }
    }
  </div>
</section>
