@using Portfolio.Site.Areas.Portfolio.Models;
using Portfolio.Component.Website.Server.Areas.Portfolio.Models;

@model DisciplineViewModel
@{
  ViewData["Title"] = Model.Discipline.DisplayName;
  ViewData["FeaturedImage"] = Model.Discipline.FeaturedImage;
}

<vc:breadcrumb-bar breadcrumb-bar="new BreadcrumbBarViewModel(
	new BreadcrumbViewModel()
	{
		Text = Model.Discipline.DisplayName
	}
)" />

<section class="container" style="min-height: 80vh;">

  <div class="page">

    <h2>@Model.Discipline.DisplayName</h2>

    @if (Model.Discipline.PageResource != null)
    {
      using var stream = Model.Discipline.PageResource.Content.OpenRead();
      <vc:markup stream="stream" />
    }

  </div>

</section>
