@using Portfolio.Services.Content;
@using Portfolio.Component.Website.Server.Areas.Portfolio.Models;
@using Portfolio.Component.Website.Server.Areas.Portfolio.Components;

@model PortfolioIndexViewModel
@{
  ViewData["Title"] = "";
}

@inject IContentService contentService;

<section class="container" style="min-height: 80vh;">

    @for (int i = 0; i < contentService.Categories.Count; i++)
    {
      var category = contentService.Categories[i];

      @await Component.InvokeAsync(typeof(PortfolioGridViewComponent), new {
        category=category
      })

      <vc:portfolio-grid category="category" />
    }

</section>

