@using Portfolio.Site.Areas.Ticket.Models;

@model TicketTicketViewModel
@{
  ViewData["Title"] = "Contact";
}

<section class="container" style="min-height: 80vh;">

  <h2>Ticket</h2>

  <p>
    @Model.TicketId
  </p>

  <p>
    @Model.From
  </p>

  <p>
    @Model.To
  </p>

  <div>
    @Html.Raw(Model.HtmlBody)
  </div>

</section>
