/* Graph Connections */
svg.graph-connection {
    position: absolute;
    overflow: visible;
    pointer-events: none;
}

    svg.graph-connection .collider {
        stroke: transparent;
        stroke-width: 10;
        stroke-linejoin: round;
        fill: none;
        fill-rule: nonzero;
        pointer-events: stroke;
    }

    svg.graph-connection .connector {
        stroke: #1d62ff;
        stroke-width: 4;
        stroke-linejoin: round;
        fill: none;
    }

    svg.graph-connection:has(*:hover) .connector {
        stroke: cyan;
    }

    svg.graph-connection path {
    }
