
div.node {
    --node-border-radius: 6px;
    min-width: 80px;
    background: #242636;
    position: absolute;
    border-radius: var(--node-border-radius);
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'ss02' 1;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    user-select: none;
    transition: transform 0.0175s linear;
}

    div.node ::deep *:last-child {
        --recommended-padding-bottom: calc(10px - 2px);
    }

    div.node ::deep div.node-section-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        padding: 0 7px 0 7px;
        box-sizing: border-box;
        border-bottom: 2px solid #1d62ff;
        font-size: 12px;
    }

        div.node ::deep div.node-section-header + * {
            --recommended-padding-top: 5px;
        }

    div.node ::deep div.node-section-sockets {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
    }

        div.node ::deep div.node-section-sockets div.node-inputs,
        div.node ::deep div.node-section-sockets div.node-outputs {
            flex-grow: 1;
            display: grid;
            grid-auto-rows: 20px;
            align-items: center;
            padding-top: var(--recommended-padding-top);
            padding-bottom: var(--recommended-padding-bottom);
        }

            div.node ::deep div.node-section-sockets div.node-inputs div.node-input,
            div.node ::deep div.node-section-sockets div.node-outputs div.node-output {
                display: contents;
                cursor: pointer;
            }

                div.node ::deep div.node-section-sockets div.node-inputs div.node-input::before,
                div.node ::deep div.node-section-sockets div.node-outputs div.node-output::before {
                    content: "";
                    grid-column: 1 / span 2;
                    grid-row: var(--row);
                    width: calc(100% - 14px);
                    height: calc(100% - 4px);
                }

                div.node ::deep div.node-section-sockets div.node-inputs div.node-input:hover,
                div.node ::deep div.node-section-sockets div.node-outputs div.node-output:hover {
                    color: #aaa;
                }

                    div.node ::deep div.node-section-sockets div.node-inputs div.node-input:hover div.node-input-socket:hover:before,
                    div.node ::deep div.node-section-sockets div.node-outputs div.node-output:hover div.node-output-socket:hover:before,
                    div.node ::deep div.node-section-sockets div.node-inputs div.node-input.connected div.node-input-socket:before,
                    div.node ::deep div.node-section-sockets div.node-outputs div.node-output.connected div.node-output-socket:before {
                        content: '';
                        position: absolute;
                        background-color: #1c62ff;
                        grid-row: var(--row);
                        width: 4px;
                        height: 12px;
                        transition: transform 0.075s linear;
                    }


                div.node ::deep div.node-section-sockets div.node-inputs div.node-input div.node-input-socket,
                div.node ::deep div.node-section-sockets div.node-outputs div.node-output div.node-output-socket {
                    background-color: #1c62ff;
                    border-radius: 4px;
                    font-size: 10px;
                    font-weight: bold;
                    line-height: initial;
                    text-align: center;
                    vertical-align: middle;
                    grid-row: var(--row);
                    padding-left: 4px;
                    padding-right: 4px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    margin-left: 5px;
                    margin-right: 5px;
                }


                    div.node ::deep div.node-section-sockets div.node-inputs div.node-input div.node-input-socket:hover,
                    div.node ::deep div.node-section-sockets div.node-outputs div.node-output div.node-output-socket:hover {
                        background-color: #e65949;
                        color: #ffffff;
                        content: "x"
                    }

                div.node ::deep div.node-section-sockets div.node-inputs div.node-input div.node-input-label,
                div.node ::deep div.node-section-sockets div.node-outputs div.node-output div.node-output-label {
                    flex-grow: 1;
                    grid-row: var(--row);
                }


        div.node ::deep div.node-section-sockets div.node-inputs {
            justify-items: left;
            grid-template-columns: auto 1fr;
        }

            div.node ::deep div.node-section-sockets div.node-inputs div.node-input::before {
                margin-left: 10px;
                margin-right: 4px;
            }

            div.node ::deep div.node-section-sockets div.node-inputs div.node-input:hover div.node-input-socket:hover:before,
            div.node ::deep div.node-section-sockets div.node-inputs div.node-input.connected div.node-input-socket:before {
                left: 0;
                transform: translateX(-4px);
            }

            div.node ::deep div.node-section-sockets div.node-inputs div.node-input.connected div.node-input-socket:hover:before {
                transform: translateX(-7.95px);
            }

            div.node ::deep div.node-section-sockets div.node-inputs div.node-input div.node-input-socket {
                grid-column: 1;
            }

            div.node ::deep div.node-section-sockets div.node-inputs div.node-input div.node-input-label {
                grid-column: 2;
            }

        div.node ::deep div.node-section-sockets div.node-outputs {
            justify-items: right;
            background-color: #1d1f2b;
            grid-template-columns: 1fr auto;
        }

            div.node ::deep div.node-section-sockets div.node-outputs div.node-output::before {
                margin-left: 4px;
                margin-right: 10px;
            }

            div.node ::deep div.node-section-sockets div.node-outputs div.node-output:hover div.node-output-socket:hover:before,
            div.node ::deep div.node-section-sockets div.node-outputs div.node-output.connected div.node-output-socket:before {
                right: 0;
                transform: translateX(4px);
            }

            div.node ::deep div.node-section-sockets div.node-outputs div.node-output.connected div.node-output-socket:hover:before {
                transform: translateX(7.95px);
            }

            div.node ::deep div.node-section-sockets div.node-outputs div.node-output div.node-output-socket {
                grid-column: 2;
            }

            div.node ::deep div.node-section-sockets div.node-outputs div.node-output div.node-output-label {
                grid-column: 1;
            }

        div.node ::deep div.node-section-sockets:last-child div.node-outputs {
            border-bottom-right-radius: var(--node-border-radius);
        }

    div.node ::deep div.node-section-properties {
        padding-top: calc(var(--recommended-padding-top, 0px) + (var(--recommended-padding-bottom) / 2));
        padding-bottom: calc(var(--recommended-padding-bottom) / 2);
        min-height: 20px;
        align-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }
