
<div onmousemove=@Node_OnMouseMove onmousedown=@Node_OnMouseDown onmouseup=@Node_OnMouseUp class="node" style="transform: translate(@(X * 20)px, @(Y * 20)px); min-width: @(MinWidth * 20)px;">

    <div class="node-section-header">
        @Name
    </div>

    @if (Content != null)
    {
        @Content
    }

</div>

@code {
    [Parameter]
    public RenderFragment? Name { get; set; }

    [Parameter]
    public RenderFragment? Content { get; set; }

    [Parameter]
    public int X { get; set; }

    [Parameter]
    public int Y { get; set; }

    [Parameter]
    public int MinWidth { get; set; }
}
