blockquote {
    margin: 0 0 1rem;
    border-left: 6px solid #3368e473;
    padding: 2px 26px 2px 26px;
    max-width: 580px;
    background-color: #2727557a;
}

    blockquote p.source {
        text-align: right !important;
        font-size: 12.6px;
        opacity: 0.75;
    }

        blockquote p.source:before {
            content: '—';
            margin-right: 1rem;
            opacity: 0.5;
        }

        blockquote p.source ::deep a {
            text-decoration: none;
        }
