<Cover href="/portfolio/starcitizen">
    <Background>
        <div class="blur" style="background: linear-gradient(rgb(153 148 139) 0%, rgb(63 57 50) 100%)">
        </div>
        <picture>
            <img loading="lazy" width="400" height="600" src="@Assets["media/squadron42/coverart.webp"]" alt="Cover art for the game 'Squadron 42'." />
        </picture>
    </Background>
</Cover>
