<Cover href="/portfolio/legostarwarsbattles">
    <Background>
        <div class="blur" style="background: radial-gradient(180% 60% at 50% 52%, #0d1f57, #040510)">
        </div>
        <picture>
            <img loading="lazy" width="400" height="600" src="@Assets["media/legostarwarsbattles/coverart.webp"]" alt="Cover art for the game 'LEGO® Star Wars™ Battles'." />
        </picture>
    </Background>
</Cover>
