/* Cover Grids */
.cover-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px 12px;
    margin: 10px 0;
}

@media screen and (min-width: 768px) {
    .cover-grid,
    .cover-grid.cover-grid-sm {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
