
/* Cover grids */
.cover-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 10px;
    margin: 10px 0;
}

    .cover-grid.cover-grid-md {
        grid-template-columns: 1fr 1fr;
    }

    .cover-grid.cover-grid-sm {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cover-grid.cover-grid-xs {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
