<Cover href="/portfolio/starcitizen">
    <Background>
        <div class="blur" style="background: radial-gradient(300% 156% at 55% 60%, rgb(131 144 156) 2%, rgb(52 69 95) 30%, rgb(65 73 83) 80%)">
        </div>
        <picture>
            <img loading="lazy" width="400" height="600" src="@Assets["media/starcitizen/coverart.webp"]" alt="Cover art for the game 'Star Citizen'." />
        </picture>
    </Background>
</Cover>
