<Cover href="/portfolio/eitr">
    <Background>
        <div class="blur" style="background: radial-gradient(130% 66% at 55% 40%, rgb(137 117 120) 0%, rgb(77 62 71) 60%, rgb(49 36 56) 100%)">
        </div>
        <img loading="lazy" width="400" height="600" src="@Assets["media/eitr/coverart-background.png"]" alt="Cover art for the game 'EITR'." style="image-rendering: pixelated;" />
    </Background>
    <Overlay>
        <img loading="lazy" class="logo" src="@Assets["media/eitr/titlecard.png"]" alt="Logo for the game 'EITR'." style="image-rendering: pixelated; padding: 0% 3% 107% 3%; filter: drop-shadow(0px 1px 4px black);" />
    </Overlay>
</Cover>
