<Cover href="/portfolio/outrage">
    <Background>
        <div class="blur" style="background: radial-gradient(200% 53% at 55% 60%, rgb(235 152 243) 2%, rgb(231 193 245) 50%, rgb(201 214 249) 100%)">
        </div>
        <picture>
            <img loading="lazy" width="400" height="600" src="@Assets["media/outrage/coverart.webp"]" alt="Cover art for the game 'OutRage: Fight Fest'." />
        </picture>
    </Background>
</Cover>
