

/* Cards */
.cover {
    display: block;
    position: relative;
    z-index: 1;
    cursor: pointer;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    aspect-ratio: 6 / 9;
    user-select: none;
}

    .cover .cover-background {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-size: cover;
        transform-style: preserve-3d;
        transform-origin: top center;
        transform: skewX(0.001deg);
        will-change: transform;
        transition: transform 0.5s cubic-bezier(0.18, 0.9, 0.58, 1);
        background-color: #262a31;
    }

        .cover .cover-background ::deep .blur {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .cover .cover-background ::deep svg,
        .cover .cover-background ::deep img,
        .cover .cover-background ::deep video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


        .cover .cover-background ::deep video {
            animation: library-fade-in ease 1s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        .cover .cover-background .cover-overlay {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            display: flex;
        }

            .cover .cover-background .cover-overlay ::deep .logo {
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                margin: auto;
                object-fit: contain;
            }

                .cover .cover-background .cover-overlay ::deep .logo.logo-southfield {
                    padding: 0% 2% 107% 2%;
                    filter: drop-shadow(0px 1px 2px #0002);
                }

                .cover .cover-background .cover-overlay ::deep .logo.logo-starcitizen {
                    padding: 0 0 60% 0;
                    filter: drop-shadow(0px 1px 2px #0006);
                }

                .cover .cover-background .cover-overlay ::deep .logo.logo-squadron42 {
                    padding: 0 16% 0 16%;
                    filter: drop-shadow(0px 1px 2px #0006);
                }

                .cover .cover-background .cover-overlay ::deep .logo.logo-eitr {
                    padding: 0% 3% 107% 3%;
                    filter: drop-shadow(0px 1px 4px black);
                }

                .cover .cover-background .cover-overlay ::deep .logo.logo-ubisoft-uno {
                    padding: 0% 0% 0% 0%;
                }

        /* Shine */
        .cover .cover-background::after {
            display: block;
            content: "";
            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;
            width: 100%;
            height: 120%;
            background: linear-gradient(210deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
            transform: translateY(-25%);
            will-change: transform;
            transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1), opacity 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
            opacity: 0.325;
            pointer-events: none;
        }

    .cover:hover .cover-background::after {
        transform: translateY(0%);
        opacity: 0.4;
    }

    /* Shadow */
    .cover::before {
        display: block;
        content: "";
        position: absolute;
        top: 2.5%;
        left: 2.5%;
        width: 95%;
        height: 95%;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
        will-change: opacity;
        transform-origin: top center;
        transform: skewX(.001deg);
        transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1), opacity 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
        pointer-events: none;
    }


    .cover:hover .cover-background {
        transform: rotateX(7deg) translateY(-6px);
    }

    .cover:hover::before {
        opacity: 0.6;
        transform: rotateX(7deg) translateY(-6px) scale(1.0325);
    }

@keyframes library-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
