<Cover href="/portfolio/southfield">
    <Background>
        <div class="blur" style="background: radial-gradient(200% 53% at 55% 60%, rgb(136 162 247) 2%, rgb(76 96 238) 100%)">
        </div>
        <picture>
            <img loading="lazy" width="400" height="600" src="@Assets["media/southfield/coverart-background.webp"]" alt="Cover art for the game 'Southfield'." />
        </picture>
    </Background>
    <Overlay>
        <SvgSprite class="logo" Link="/icons.svg?v=1#titlecard-southfield" Alt="Logo for the game 'Southfield'" style="padding: 0% 2% 107% 2%; filter: drop-shadow(0px 1px 2px #0002);" />
    </Overlay>
</Cover>
