body {
    padding: 0px;
    margin: 0px;
    font-family: 'Quattrocento Sans', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(64, 64, 64);
}

h1 {
    font-weight: 400;
    font-size: 2em;
}

h2 {
    font-weight: 400;
    font-size: 1.4em;
}

h3 {
    font-weight: 400;
    font-size: 1.4em;
}

.section-text {
    margin: 2em 1em;
}

.section-image {
    width: 100%;
}

    .section-image img {
        width: 100%;
    }

.section-cutout {
    padding: 1em;
    background: #fafafa;
    box-shadow: inset 1px 1px 4px #aaa;
}

.section-asideImage {
    width: 250px;
    margin: 0 1em;
    float: right;
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .section-asideImage {
        width: 200px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .section-asideImage {
        width: 160px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .section-asideImage {
        display: block;
        width: 200px;
        max-width: none;
        float: none;
        margin: 0 auto 1em auto;
        
    }
}

.readmore {
    float: right;
    margin: 1.2em;
    transition-duration: 0.15s;
}

.readmore a {
    color: #aaa;
    text-decoration: none;

}

.readmore a:hover {
    color: #666;
    text-decoration: underline #666;
}

.layout {
    display: grid;
    grid-template-columns: auto 200px 800px 200px auto;
    grid-template-areas: "paddingLeft header header header paddingRight"
    "paddingLeft navbar navbar navbar paddingRight"
    "paddingLeft sheet sheet sheet paddingRight";
}

    .layout .sheet {
        grid-area: sheet;
        background-color: #eee;

        display: grid;
        grid-gap: 2em;
        padding: 2em;
        grid-template-columns: 2.5fr 1fr;
        grid-template-areas: "sheetArticle sheetAside";
    }

        .layout .sheet .sheetArticle {
            grid-area: sheetArticle;
        }

        .layout .sheet .sheetArticle > header {
            text-align: center;
        }

        aside,
        article {
            background-color: #fff;
            box-shadow: 0px 1.5px 2px #ccc;
            margin-bottom: 3em;
        }

            article h1 {
                font-size: 1.5em;
            }

            aside header,
            article header {
                background-color: #f9f9f9;
                padding: 1em 1em;
            }
                .entry-header {
                    color: #666;
                }

                .entry-meta {
                    color: #aaa;
                    text-transform: uppercase;
                    font-size: 0.7em;
                    overflow: hidden;
                }

                .portfolio-meta .location,
                .entry-meta .location {
                    float: left;
                }

                .portfolio-meta .date,
                .entry-meta .date {
                    float: left;
                }

                .portfolio-meta .grade,
                .entry-meta .grade {
                    float: right;
                }

                .portfolio-meta span,
                .entry-meta span {
                    margin: 4px 16px 4px 0;
                }

                /* Pins */
                .portfolio-meta .location:before,
                .portfolio-meta .date:before,
                .portfolio-meta .grade:before,

                .entry-meta .location:before,
                .entry-meta .date:before,
                .entry-meta .grade:before {
                    content: "";
                    display: block;
                    filter: brightness(0.7);
                    width: 1.2em;
                    height: 1.2em;
                    float: left;
                    margin: 0 4px 0 0;
                }

                .portfolio-meta .location:before,
                .entry-meta .location:before {
                    background: url("./img/location-pin.png") no-repeat;
                    background-size: 1.2em;
                }

                .portfolio-meta .date:before,
                .entry-meta .date:before {
                    background: url("./img/date-pin.png") no-repeat;
                    background-size: 1.2em;
                }

                .portfolio-meta .grade:before,
                .entry-meta .grade:before {
                    background: url("./img/star-pin.png") no-repeat;
                    background-size: 1.2em;
                }

                

.portfolioGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.4em;
    margin: 1.4em;
}

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 580px) {
        .portfolioGrid {
            grid-template-columns: 1fr;
        }
    }

    .portfolioGrid .item {
        box-shadow: 0px 1.5px 2px #ccc;
        background-color: #f6f6f6;
        border-radius: 3px;
        
        transition: transform 0.1s linear;
    }

        .item::after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 3px;
            
            box-shadow: 0 4px 5px -2px #aaa;
            opacity: 0;
            transition: opacity 0.1s linear;
        }
        
        .item:hover::after {
            opacity: 1;
        }
        
        .item:hover {
            transform: translateY(-2px);
        }


        .portfolioGrid .item .imageArea {
            padding-top: 56.25%;
            width: 100%;
            position: relative;
            z-index: 0;
        }

            .portfolioGrid .item .imageArea .imageHolder {
                height: 100%;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                z-index: -2;
                overflow: hidden;
            }
            
            .portfolioGrid .item .imageArea .imageHolder img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.2s ease-in-out;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }

            /* 
            .portfolioGrid .item:hover .imageArea .imageHolder img {
                transform: scale(1.06);
                filter: blur(2px);
                -webkit-filter: blur(2px);
            } */
            
            .portfolio-meta {
                color: #aaa;
                text-transform: uppercase;
                font-size: 0.7em;
                padding: 0.5em;
                overflow: hidden;
            }
            
            .portfolio-title {
                margin: 0;
                padding: 0.7em 0.5em 0.3em 0.7em;

                color: #666;
            }
            
                .portfolio-title a {
                    text-decoration: none;
                    color: #666;
                }
            
            .portfolio-item-info {
                width: 100%;
                height: 100%;
                opacity: 0;
                top: 0;
                position: absolute;
                transition: 0.2s;
                transition-property: opacity;
            }
            
            .portfolioGrid .item:hover .portfolio-item-info {
                opacity: 1;
            }

                .portfolio-item-info-group {
                    text-align: center;
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                }

                .portfolio-item-info-group-icon {
                    background-color: #eee;
                    display: inline-block;
                    min-width: 1.4em;
                    min-height: 1.4em;
                }

            aside section,
            article section {
                min-height: 3em;
                overflow: hidden;
            }


            aside footer,
            article footer {
                background-color: #f6f6f6;
                vertical-align: middle;
                overflow: hidden;
            }

        .layout .sheet .sheetAside {
            grid-area: sheetAside;
            
            background-color: #fff;
            box-shadow: 0px 1.5px 2px #ccc;
        }

        /* Small Devices, Tablets */
        @media only screen and (max-width : 768px) {

            .layout .sheet {
                grid-template-columns: 1fr;
                grid-template-areas: "sheetArticle" "sheetAside";
            }
        }

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

        .layout {
            grid-template-columns: auto 160px 672px 160px auto;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

        .layout {
            grid-template-columns: auto 100px 568px 100px auto;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

        .layout {
            grid-template-columns: 20px 20px auto 20px 20px;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        .layout {
            grid-template-columns: auto 10px 300 10px auto;
        }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        .layout {
            grid-template-columns: auto 10px 300px 10px auto;
        }
    }

    .layout .header {
        grid-area: header;
        height: 200px;
    }

    .layout .paddingLeft {
        grid-area: paddingLeft;
    }

    .layout .paddingRight {
        grid-area: paddingRight;
    }

    .layout .headerContent {
        grid-area: header;
        grid-column: 3/4;
        align-self: center;
        justify-self: center;
        text-align: center;
    }

    .layout .navbar {
        grid-area: navbar;
        background-color: #2e2e2e;
        color: #eee;
        
        height: 52px;
        transition-duration: 0.2s;

        font-size: 1em;
        margin: 0;
        height: 100%;
    }  

        .layout .navbar a {
            padding: 1em 1.2em;
            display: inline-block;
            vertical-align: middle;

            text-decoration: none;
            
            color: #ddd;
            transition-duration: 0.2s;
        }

        .layout .navbar a:hover {
            color: #eee;
        }