body {
	padding: 0;
	margin: 0;
	/* font-family: 'Quattrocento Sans', Helvetica, sans-serif;*/
	/* -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji; */
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 16px;
	font-weight: 400;
}

	body.light {
		color: #404040;
		background-color: #ffffff;
		/* background-color: #edf0f2; */
	}

h1 {
	font-weight: 400;
	font-size: 2em;
}

h2 {
	font-weight: 400;
	font-size: 1.5em;
}

h3 {
	font-weight: 400;
	font-size: 1.4em;
}




section.breadcrumb-bar {
	box-shadow: 0 1px 5px #00000033;
	background-color: #edf0f2;
}

.breadcrumb-bar {
	display: flex;
	padding: 1px 1rem;
	color: #4a4a4a;
	font-family: sans-serif;
	font-size: 1.05em;
	user-select: none;
	padding-top: 6px;
}

	.breadcrumb-bar .breadcrumb {
		padding: 0.5em 0.5em;
		font-family: sans-serif;
		text-decoration: none;
		letter-spacing: 0.25px;
		color: #4a4a4a;
	}

		.breadcrumb-bar .breadcrumb:hover {
			color: #696969;
		}

	.breadcrumb-bar a.breadcrumb {
		color: #333333;
	}

	.breadcrumb-bar .breadcrumb-divider {
		font-family: sans-serif;
		padding: 0.5em 0.5em;
		font-weight: bold;
	}

	.breadcrumb-bar .breadcrumb.breadcrumb-active {
		color: #777;
		font-weight: bold;
	}




section.navbar {
	position: sticky;
	top: 0;
	z-index: 10;
	box-shadow: 0 1px 5px #00000033;
	background-color: #ffffff;
}


.navbar {
	font-family: sans-serif;
	font-size: 1.1em;
	flex-wrap: wrap;
	display: flex;
	padding: 0 4rem;
}

	.navbar .nav-button {
		position: relative;
		display: flex;
		align-items: center;
		align-self: center;
		justify-content: center;
		padding: 24px 10px;
		min-width: 88px;
		text-decoration: none;
		letter-spacing: 1.2px;
		user-select: none;
		transition: border-bottom 0.5s ease-in-out;
		color: #404040;
	}

		.navbar .nav-button:hover {
			color: #666666;
		}

		.navbar .nav-button:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 0;
			bottom: 0;
			left: 0;
			background-color: #f2840f;
			visibility: hidden;
			transition: all 0.15s ease-in-out;
		}

		.navbar .nav-button:hover:before {
			visibility: visible;
			height: 2px;
		}

		.navbar .nav-button.active:before {
			visibility: visible;
			height: 4px;
		}


	.navbar .navbar-grouping {
		display: flex;
		justify-content: center;
	}

	.navbar .splitter {
		flex-grow: 1;
	}





section.breadcrumbs {
	background-color: #d8d8d8;
}



.card {
	border: 1px solid #e1e4e8;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

	.card .card-jumbotron:not(:last-child),
	.card .card-image:not(:last-child),
	.card .card-header:not(:last-child),
	.card .card-body:not(:last-child) {
		border-bottom: 1px solid #e1e4e8;
	}



.card-rounded {
	border-radius: 6px;
}

.card.card-rounded .card-jumbotron:first-child,
.card.card-rounded .card-image:first-child,
.card.card-rounded .card-header:first-child,
.card.card-rounded .card-body:first-child {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.card.card-rounded .card-jumbotron:last-child,
.card.card-rounded .card-image:last-child,
.card.card-rounded .card-header:last-child,
.card.card-rounded .card-body:last-child {
	border-bottom: none;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.card-hoverEffect {
	transition: transform 0.15s ease-in-out;
}

	.card.card-hoverEffect:hover {
		transform: translateY(-4px);
	}

	.card.card-hoverEffect::after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: 0 10px 12px -6px #00223545;
		opacity: 0;
		transition: opacity 0.25s linear;
	}

.card .card-hover {
	opacity: 0;
	pointer-events: none;
	top: 600px;
	transition: opacity 0.25s ease, top 0s linear 2s;
}

.card:hover .card-hover {
	opacity: 1;
	top: 0;
	transition: opacity 0.25s ease, top 0s linear 0s;
}

.card.card-


.card.card-hoverEffect.card-rounded::after {
	border-radius: 6px;
}

.card.card-hoverEffect:hover::after {
	opacity: 1;
}

.card .card-image {
	padding-top: 56.25%;
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: #fafbfc;
}



	.card .card-image .imageHolder {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

		.card .card-image .imageHolder svg,
		.card .card-image .imageHolder img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.2s ease-in-out;
		}

.card .card-header {
	/* background-color: #fafbfc; */
	padding: 0.5rem 0.5rem;
	flex-grow: 1;
}


.card .card-body {
	margin: 0;
	padding: 1px 0;
	background-color: #fdfdfd;
}

.card .card-title {
	margin: 0;
	padding: 0;
	color: #666666;
	font-size: 1.4em;
	font-weight: 350;
	letter-spacing: 0.25px;
}


	.card .card-title a {
		text-decoration: none;
		color: #666666;
	}

.card .card-subtitle {
	margin: 0;
	padding: 0;
	color: #858585;
	margin-top: 0.3rem;
	font-size: 1.1rem;
}


	.card .card-subtitle a {
		text-decoration: none;
		color: #858585;
	}



.card .card-jumbotron {
	flex-grow: 1;
	min-height: 120px;
	padding: 26px 0;
	background-color: #fafbfc;
	color: #999;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-flow: column;
	text-align: center;
	text-decoration: none;
}

	.card .card-jumbotron img {
		width: 120px;
		margin: auto;
	}

	.card .card-jumbotron .jumbotext-2,
	.card .card-jumbotron .jumbotext-3 {
		margin: 0;
		display: inline-block;
		text-decoration: none;
	}

	.card .card-jumbotron .jumbotext-2 {
		font-size: 6rem;
		font-weight: bold;
	}

	.card .card-jumbotron .jumbotext-3 {
		font-size: 2.5rem;
		font-weight: bold;
	}

	.card .card-jumbotron .jumbotext-4 {
		font-size: 1.5rem;
		font-weight: bold;
	}



.card-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1.0rem;
	margin: 1.3rem 0;
}

	.card-grid.card-grid-sm {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.card-grid.card-grid-xs {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}


.readmore {
	float: right;
	margin: 1.2em;
	transition-duration: 0.15s;
}

	.readmore a {
		color: #aaa;
		text-decoration: none;
	}

		.readmore a:hover {
			color: #666;
			text-decoration: underline #666;
		}





.overlay {
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
}

	.overlay .overlay-bottom-right {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.overlay .overlay-top-right {
		position: absolute;
		top: 0;
		right: 0;
	}

.badge-bar {
	width: auto;
	display: flex;
	flex-wrap: wrap;
	pointer-events: none;
}

	.badge-bar.badge-bar-vertical {
		flex-wrap: wrap-reverse;
		justify-content: flex-end;
		padding: 4px;
		font-size: 1rem;
	}

	.badge-bar.badge-bar-subtle {
		color: #999;
		text-transform: uppercase;
		font-size: 0.775rem;
		padding: 0.2rem 0;
		font-weight: 400;
		letter-spacing: 0.25px;
	}

		.badge-bar.badge-bar-subtle .badge {
			padding: 0.3rem 0.4rem;
		}

		.badge-bar.badge-bar-subtle .pin {
			padding-right: 0.15em;
		}

			.badge-bar.badge-bar-subtle .pin::after {
				height: 1em;
				transform: translateY(-0.1em);
			}

	.badge-bar.badge-bar-social {
		font-size: 1.8rem;
		justify-content: center;
		margin: 1rem 0;
	}

.badge {
	display: inline-block;
	min-width: 1.4em;
	white-space: nowrap;
	pointer-events: all;
	text-decoration: none;
	padding: 0.3rem 0.2rem;
}

	.badge.badge-lozenge {
		margin: 0.3em;
		font-size: 0.85em;
		padding: 0.3em 0.45em 0.3em 0.15em;
		border-radius: 0.5em;
		background-color: #fafbfc;
		color: #444;
		font-weight: 500;
		box-shadow: 0 0 0 0 #4287f5ff;
		transition: box-shadow .15s ease-in-out, background-color .15s ease-in-out;
		user-select: none;
	}

		.badge.badge-lozenge:hover {
			background-color: #fafbfc;
			box-shadow: 0 0 0 0.275em #4287f5ff;
		}

	.badge.badge-material {
		margin: 0.3em 0.2em;
		font-weight: bold;
		text-align: center;
		font-size: 0.9em;
		padding: 0.4em 0.75em 0.3em 0.75em;
		border-radius: 1em;
		background-color: #f4f5f7;
		color: #252f3f;
	}

		.badge.badge-material.badge-red {
			background-color: #fde8e7;
			color: #9a1c1c;
		}

		.badge.badge-material.badge-orange {
			background-color: #feecdc;
			color: #8a2c0d;
		}

		.badge.badge-material.badge-yellow {
			background-color: #fdf6b2;
			color: #723b14;
		}

		.badge.badge-material.badge-green {
			background-color: #def7ec;
			color: #04543f;
		}

		.badge.badge-material.badge-cyan {
			background-color: #d5f5f6;
			color: #03505c;
		}

		.badge.badge-material.badge-blue {
			background-color: #e1effe;
			color: #1e429f;
		}

		.badge.badge-material.badge-violet {
			background-color: #e5edff;
			color: #43379d;
		}

		.badge.badge-material.badge-purple {
			background-color: #edebfe;
			color: #5521b5;
		}

		.badge.badge-material.badge-pink {
			background-color: #fce8f3;
			color: #98154b;
		}


.badge-cloud {
	max-width: 464px;
}

/* Pins */
.pin {
	display: inline-block;
	width: 1.2em;
	height: 1em;
	margin: 0 2px 0 2px;
	vertical-align: middle;
}

	.pin::after {
		content: '';
		display: block;
		position: relative;
		width: 100%;
		height: 1.3em;
		transform: translateY(-0.3em);
		top: 0;
	}

	.pin.pin-orange-arrow::after {
		background: url("/img/pin-orange-arrow.svg") no-repeat;
		background-size: contain;
		background-position: center;
	}

	.pin.pin-date::after {
		background: url("/img/pin-calender.svg") no-repeat;
		filter: invert() brightness(0.7);
		background-size: contain;
		background-position: center;
	}

	.pin.pin-pencil::after {
		background: url("/img/pin-pencil.svg") no-repeat;
		filter: invert() brightness(0.7);
		background-size: contain;
		background-position: center;
	}

	.pin.pin-person::after {
		background: url("/img/pin-person.svg") no-repeat;
		filter: invert() brightness(0.7);
		background-size: contain;
		background-position: center;
	}

	.pin.pin-people::after {
		background: url("/img/pin-person.svg") no-repeat;
		filter: invert() brightness(0.7);
		background-size: contain;
		background-position: center;
	}

	.pin.pin-location::after {
		background: url("/img/pin-location.svg") no-repeat;
		filter: brightness(0.7);
		background-size: contain;
		background-position: center;
	}

	.pin.pin-grade::after {
		background: url("/img/star-pin.svg") no-repeat;
		filter: brightness(0.7);
		background-size: contain;
		background-position: center;
	}

	.pin.pin-website::after {
		background: url("/img/globe.svg") no-repeat;
		filter: brightness(0.7);
		background-size: contain;
		background-position: center;
	}

	.pin.pin-youtube::after {
		background: url("/img/youtube.svg") no-repeat;
		background-size: contain;
		background-position: center;
	}

	.pin.pin-linkedin::after {
		background: url("/img/linkedin.svg") no-repeat;
		background-size: contain;
		background-position: center;
	}

	.pin.pin-github::after {
		background: url("/img/github.svg") no-repeat;
		background-size: contain;
		background-position: center;
	}

	.pin.pin-steam::after {
		background: url("/img/steam.svg") no-repeat;
		background-size: contain;
		background-position: center;
	}

	.pin.pin-unity::after {
		background: url("/img/unity.svg") no-repeat;
		background-size: contain;
		background-position: center;
	}

	.pin.pin-google-play::after {
		background: url("/img/google-play.svg") no-repeat;
		background-size: contain;
		background-position: center;
	}

	.pin.pin-itch-io::after {
		background: url("/img/itch-io.svg") no-repeat;
		background-size: contain;
		background-position: center;
	}

	.pin.pin-global-game-jam::after {
		background: url("/img/global-game-jam.png") no-repeat;
		background-size: contain;
		background-position: center;
	}

	.pin.pin-ludum-dare::after {
		background: url("/img/ludum-dare.png") no-repeat;
		background-size: contain;
		background-position: center;
	}


.website-footer {
	color: #888888;
	font-family: sans-serif;
	font-size: 1em;
	background-color: #24252a;
	flex-wrap: wrap;
	display: flex;
	padding-top: 0.5rem;
	padding-bottom: 3rem;
}

.logo {
	display: flex;
	vertical-align: middle;
	margin: 12px 12px 12px 12px;
	text-decoration: none;
}

.text-logo {
	display: flex;
	align-items: center;
	font-size: 24px;
	color: white;
	font-weight: bold;
	vertical-align: middle;
	margin: auto;
	text-decoration: none;
}

.parallax-layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding: 0 15px;
}

	.container .card-grid {
		grid-template-columns: 1fr;
	}

		.container .card-grid.card-grid-sm {
			grid-template-columns: 1fr;
		}

		.container .card-grid.card-grid-xs {
			grid-template-columns: 1fr 1fr;
		}


.page header {
	/* background-color: #f6f8fa; */
	text-align: center;
	padding: 1px 1.6rem;
	border-bottom: 1px solid #e1e4e8;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.page h1 {
	font-size: 1.4em;
}

.page section {
	min-height: 3rem;
	overflow: hidden;
}

.page footer {
	background-color: #f6f6f6;
	vertical-align: middle;
	overflow: hidden;
}

.page.page-profile {
	box-shadow: 0 8px 20px #00000066;
	margin-top: 96px;
	margin-bottom: 96px;
}


blockquote {
	background: #fbfbfb;
	border-left: 6px solid #d8d8d8;
	margin: 1.5rem 10px;
	padding: 1.15rem 10px 2px 12px;
	max-width: 580px;
}

	blockquote:before {
		content: '\201C';
		position: absolute;
		color: #d8d8d8;
		font-size: 12rem;
		transform: translate(-0.25rem, -3rem);
		font-family: 'Quattrocento Sans', Helvetica, sans-serif;
	}


.alert {
	background-color: #fbfbfb;
	border-left: 6px solid #d8d8d8;
	margin: 1.5rem 10px;
	padding: 0.5rem 1rem 0.5rem 1rem;
	max-width: 580px;
}

	.alert.alert-green {
		background-color: #def7ec;
		color: #04543f;
		border-left: 5px solid #60b8a1;
	}

	.alert.alert-orange {
		background-color: #feecdc;
		color: #8a2c0d;
		border-left: 5px solid #f78e6b;
	}

	.alert .alert-title-1 {
		font-size: 2.25rem;
		font-weight: bold;
		margin: 12px;
	}

	.alert .alert-title-2 {
		font-size: 1.5rem;
		font-weight: bold;
		margin: 12px;
	}

	.alert .alert-subtext {
		font-style: italic;
		font-size: 0.95rem;
	}


.media {
	display: flex;
	align-items: flex-start;
	margin-bottom: 1rem;
}

	.media .media-image {
		width: 64px;
		height: 64px;
		margin-right: 1rem;
		margin-top: 1rem;
	}

	.media .media-body {
		flex: 1;
	}

.post-sectionicon {
	margin: auto;
	width: 142px;
	display: block;
}

.post-text {
	margin: 1rem 1.5rem;
}

	.post-text h1 {
		padding-top: 1em;
		margin-top: 1.25em;
		margin-bottom: 0.35em;
	}

	.post-text h2 {
		padding-top: 1em;
		margin-top: 0;
		margin-bottom: 0.35em;
		font-size: 1.65em;
	}

	.post-text h3 {
		padding-top: 1em;
		margin-top: 0.55em;
		margin-bottom: 0.35em;
		font-size: 1.55em;
	}

div.post-image {
	background-color: #f3f3f3;
}


.post-videoholder {
	padding-top: 56.25%;
	width: 100%;
	position: relative;
}

	.post-videoholder iframe {
		border: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
	}

.post-image {
	width: 90%;
	margin: 2rem auto;
}

	.post-image img {
		width: 100%;
	}

.post-image-caption {
	color: #4a4a4a;
	padding: 0.8em 1rem;
}

.post-cutout {
	padding: 2rem;
	background: #fbfbfb;
	box-shadow: inset 1px 1px 4px #aaa;
}

/* Table of Contents */
.toc-container {
	background-color: #f6f8fa;
	border: 1px solid #e1e4e8;
	display: table;
	margin-bottom: 1em;
	padding: 16px 32px 20px 20px;
	width: auto;
	font-size: 0.95rem;
}

	.toc-container a {
		text-decoration: none;
	}

		.toc-container a:hover .toc-text {
			text-decoration: underline;
		}

	.toc-container .toc-title {
		font-weight: 700;
		text-align: center;
		margin: 0;
	}

	.toc-container ul {
		padding-top: 3px;
		list-style: outside none none !important;
		padding-left: 1.5rem;
		margin-bottom: 0;
	}

		.toc-container ul li {
			list-style: outside none none !important;
			padding-top: 3px;
			padding-bottom: 3px;
		}

			.toc-container ul li .toc-number {
				color: #202122;
				text-decoration: none;
				min-width: 24px;
				display: inline-block;
				text-align: center;
			}

			.toc-container ul li .toc-text {
			}

	.toc-container > ul {
		padding-left: 0;
	}

/* Buttons */
.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	text-decoration: none;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-secondary {
	color: #6c757d;
	border-color: #6c757d;
}

	.btn-outline-secondary:hover {
		color: #fff;
		background-color: #6c757d;
		border-color: #6c757d;
	}

.btn-lg {
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
}



@media (min-width: 576px) {
	.post-text {
		margin: 1rem 3rem;
	}

	.container .card-grid {
		grid-template-columns: 1fr 1fr;
	}

		.container .card-grid.card-grid-sm {
			grid-template-columns: 1fr 1fr;
		}

		.container .card-grid.card-grid-xs {
			grid-template-columns: 1fr 1fr 1fr;
		}
}

@media (min-width: 768px) {
	.page .container {
		max-width: 688px;
	}

	.container {
		max-width: 720px;
		width: 100%;
		padding: 0;
	}

		.container .card-grid {
			grid-template-columns: 1fr 1fr;
		}

			.container .card-grid.card-grid-sm {
				grid-template-columns: 1fr 1fr;
			}

			.container .card-grid.card-grid-xs {
				grid-template-columns: 1fr 1fr 1fr;
			}

		.container.container-sm {
			max-width: 720px;
		}

	.post-image {
		width: 85%;
	}

	.post-text {
		margin: 1rem 0;
	}
}

@media (min-width: 992px) {
	.page .container {
		max-width: 880px;
	}

	.container {
		max-width: 960px;
	}

		.container .card-grid.card-grid-sm {
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 1.1rem;
		}

		.container .card-grid.card-grid-xs {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		.container.container-sm {
			max-width: 720px;
		}

	.post-image {
		width: 75%;
	}
}

@media (min-width: 1200px) {
	.page .container {
		max-width: 980px;
	}

	.container {
		max-width: 1140px;
	}

		.container.container-sm {
			max-width: 720px;
		}
}

label {
	display: inline-block;
	margin-bottom: .5rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-size: 0.9em;
	margin: 0.6rem 0 0.5rem 0;
}

.form-group {
	margin-bottom: 1rem;
}

.form-control {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

	.form-control:focus {
		color: #495057;
		background-color: #fff;
		border-color: #80bdff;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
		-webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
	}

	.form-control:-webkit-autofill {
		-webkit-text-fill-color: #495057 !important;
		background-color: #fff !important;
	}

	.form-control.input-validation-error {
		border-color: #dc3545;
		padding-right: calc(1.5em + .75rem);
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-position: right calc(.375em + .1875rem) center;
		background-size: calc(.75em + .375rem) calc(.75em + .375rem);
	}

		.form-control.input-validation-error:focus {
			border-color: #dc3545;
			box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25) !important;
			-webkit-box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25) !important;
		}

.form-btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

	.form-btn-primary:focus {
		color: #fff;
		background-color: #0069d9;
		border-color: #0062cc;
		box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
	}




.validation-feedback {
	display: block;
	height: 0;
	opacity: 0;
	transition: ease-in-out 0.1s;
	width: 100%;
	margin-top: .25rem;
	font-size: 80%;
}

.invalid-feedback, .field-validation-error {
	height: 1em;
	opacity: 1;
	color: #dc3545;
}

.field-validation-valid {
	height: 0em;
	opacity: 0;
}


.text-muted {
	color: #6c757d !important;
}

.form-text {
	display: block;
	margin-top: .25rem;
}

.small, small {
	font-size: 80%;
	font-weight: 400;
}




.dark .form-control {
	color: #dedede !important;
	background-color: #121212;
	border: 1px solid #2d2f31;
	caret-color: #dedede;
}

	.dark .form-control:focus {
		color: #dedede;
		border-color: #80bdff;
		background-color: #121212 !important;
		box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
		-webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
	}

	.dark .form-control.input-validation-error {
		border-color: #dc3545;
		padding-right: calc(1.5em + .75rem);
		background-color: #121212 !important;
	}

		.dark .form-control.input-validation-error:focus {
			border-color: #dc3545;
			box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25) !important;
			-webkit-box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25) !important;
		}

	.dark .form-control:-webkit-autofill {
		-webkit-text-fill-color: #dedede !important;
		box-shadow: 0 0 0 50px #121212 inset !important;
		-webkit-box-shadow: 0 0 0 50px #121212 inset !important;
	}

	.dark .form-control.input-validation-error:focus:-webkit-autofill {
		box-shadow: 0 0 0 50px #121212 inset !important;
		-webkit-box-shadow: 0 0 0 50px #121212 inset !important;
	}




body.dark {
	color: #c8c8c8;
	background-color: #121212;
	/* background-color: rgb(18, 23, 26);*/
}

.dark a {
	color: #8799ed;
}

.dark section.navbar {
	background-color: #151515;
}

.dark .navbar .nav-button {
	color: #e1e4e8;
}

	.dark .navbar .nav-button:hover {
		color: #f5f7fa;
	}



.dark .card {
	border: 1px solid #242628;
}

	.dark .card .card-jumbotron:not(:last-child),
	.dark .card .card-image:not(:last-child),
	.dark .card .card-header:not(:last-child),
	.dark .card .card-body:not(:last-child) {
		border-bottom: 1px solid #242628;
	}

	.dark .card .card-image {
		background-color: #242628;
	}

	.dark .card .card-body {
		background-color: #0d0d0d;
	}

	.dark .card .card-title {
		color: #e1e4e8;
	}

		.dark .card .card-title a {
			color: #e1e4e8;
		}

	.dark .card .card-subtitle {
		color: #c7cbd1;
	}

		.dark .card .card-subtitle a {
			color: #c7cbd1;
		}

	.dark .card .card-jumbotron {
		background-color: #242628;
	}



.dark blockquote {
	background: #202020;
	border-left: 6px solid #444444;
}

	.dark blockquote:before {
		color: #d8d8d8;
	}



.dark .alert {
	background-color: #202020;
	border-left: 6px solid #444444;
}

	.dark .alert.alert-green {
		background-color: #255325;
		color: #a0ed9b;
		border-left: 5px solid #64b860;
	}

	.dark .alert.alert-orange {
		background-color: #40251c;
		color: #fed7b5;
		border-left: 5px solid #f78e6b;
	}

.dark .toc-container {
	background: #151515;
	border: 1px solid #363636;
}

.toc-container ul li .toc-number {
	color: #999999;
}

.dark div.post-image {
	background-color: #202020;
}

.dark .post-image-caption {
	color: #d8d8d8;
}


.dark .breadcrumb-bar {
	color: #646464;
	background-color: #0c0c0c;
}

	.dark .breadcrumb-bar .breadcrumb {
		color: #d8d8d8;
	}

		.dark .breadcrumb-bar .breadcrumb:hover {
			color: #e6e6e6;
		}

	.dark .breadcrumb-bar a.breadcrumb {
		color: #bdbdbd;
	}

	.dark .breadcrumb-bar .breadcrumb.breadcrumb-active {
		color: #bdbdbd;
	}



/* Code Styles*/
table .code-table {
	padding: 0;
	margin: 0;
	border: 0;
	background: none;
	font-size: 0.965em;
	text-align: left;
	font-family: Consolas,Monaco,'Andale Mono',monospace;
	white-space: pre;
	color: rgba(220, 220, 220, 255);
	tab-size: 4;
	background-color: rgba(30, 30, 30, 255);
}

	table.code-table a {
		text-decoration-style: dotted;
		text-decoration-color: rgba(160, 160, 160, 255);
		cursor: pointer;
		color: rgba(220, 220, 220, 255);
	}

	table.code-table tr {
		padding: 0;
		border: 0;
		background: none;
	}

	table.code-table td {
		padding: 0;
	}

	table.code-table tr td:nth-child(1) {
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-color: rgba(26, 26, 26, 255);
		padding-left: 6px;
		padding-right: 8px;
		text-align: right;
		border-right: solid 1px #999;
		position: absolute;
		width: 2em;
		top: auto;
	}

	table.code-table tr td:nth-child(2) {
		padding-left: 4em;
	}

	table.code-table tr:nth-child(1) td:nth-child(1) {
		padding-top: 5px;
	}

	table.code-table tr:nth-child(1) td:nth-child(2) {
		padding-top: 5px;
	}

	table.code-table tr:last-child td:nth-child(1) {
		padding-bottom: 5px;
	}

	table.code-table tr:last-child td:nth-child(2) {
		padding-bottom: 5px;
	}

	code a,
	table.code-table a {
		text-decoration-style: dotted;
		text-decoration-color: rgba(160, 160, 160, 255);
		cursor: pointer;
		color: rgba(220, 220, 220, 255);
	}

	.keyword,
	.keyword a,
	table.code-table .keyword a {
		color: rgba(86, 156, 214, 255);
		text-decoration-color: rgba(86, 156, 214, 255);
	}

	.keyword-c,
	.keyword-c a,
	table.code-table .keyword-c a {
		color: rgba(216, 160, 223, 255);
		text-decoration-color: rgba(216, 160, 223, 255);
	}

	.string,
	.string a,
	table.code-table .string a {
		color: rgba(214, 157, 133, 255);
		text-decoration-color: rgba(214, 157, 133, 255);
	}

	.numeric,
	.numeric a,
	table.code-table .numeric a {
		color: rgba(181, 207, 168, 255);
		text-decoration-color: rgba(181, 207, 168, 255);
	}

	.comment,
	.comment a,
	table.code-table .comment a {
		color: rgba(87, 166, 74, 255);
		text-decoration-color: rgba(87, 166, 74, 255);
	}

	.type-c,
	.type-c a,
	table.code-table .type-c a {
		color: rgba(78, 201, 176, 255);
		text-decoration-color: rgba(78, 201, 176, 255);
	}

	.type-i,
	.type-i a,
	table.code-table .type-i a {
		color: rgba(184, 215, 163, 255);
		text-decoration-color: rgba(184, 215, 163, 255);
	}

	.type-e,
	.type-e a,
	table.code-table .type-e a {
		color: rgba(184, 215, 163, 255);
		text-decoration-color: rgba(184, 215, 163, 255);
	}

	.type-g,
	.type-g a,
	table.code-table .type-g a {
		color: rgba(184, 215, 163, 255);
		text-decoration-color: rgba(184, 215, 163, 255);
	}

	.type-s,
	.type-s a,
	table.code-table .type-s a {
		color: rgba(134, 198, 145, 255);
		text-decoration-color: rgba(134, 198, 145, 255);
	}

	.method,
	.method a,
	table.code-table .method a {
		color: rgba(220, 220, 170, 255);
		text-decoration-color: rgba(220, 220, 170, 255);
	}

	.parameter,
	.parameter a,
	table.code-table .parameter a {
		color: rgba(156, 220, 254, 255);
		text-decoration-color: rgba(156, 220, 254, 255);
	}

	.local,
	.local a,
	table.code-table .local a {
		color: rgba(156, 220, 254, 255);
		text-decoration-color: rgba(156, 220, 254, 255);
	}
