@layout DefaultLayout
@page "/error"
@page "/error/{errorCode:int}"

@using System.Diagnostics
@using System.Net

<PageTitle>Error - Fydar</PageTitle>

<main>
    <section class="container">

        <div class="page">

            <h2>Uh oh!</h2>

            <p>It appears that there has been an error! Please try again soon.</p>

            <p>Error Code: @ErrorCode (@((HttpStatusCode)(ErrorCode ?? 500)))</p>

        </div>

    </section>
</main>

@code {
    [Parameter]
    public int? ErrorCode { get; set; }
}
