@page "/error/404"

<PageTitle>Page not found - Fydar</PageTitle>

<main>
    <section class="container hero">

        <h2 class="hero-header">404</h2>

        <p class="hero-text">This is not the web page you are looking for.</p>

    </section>
</main>
