

.hero {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 800px;
}

    .hero .hero-header {
        font-size: 128px;
        font-weight: bold;
        margin: 0;
    }

    .hero .hero-text {
        text-align: center;
    }
