@using Fydar.Dev.WebApp.Components.CoverArt;

@layout DefaultLayout
@page "/resume"

@inject NavigationManager NavigationManager

<PageTitle>Resume - Fydar</PageTitle>

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Resume - Fydar",
            Description = "Fydar is a game developer and engineer who thrives when pushing technical boundaries and creating memorable experiences.",
            CanonicalUrl = "https://fydar.dev/resume",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/header.webp",
                    Alt = "A portrait of Fydar in an anime art style."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Resume",
                    Item = "https://fydar.dev/resume/"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />

    <link rel="preload" href="media/portrait-cropped.webp" as="image" />
</HeadContent>

@{
    string explicitBaseUri = "https://fydar.dev";

    if (NavigationManager.BaseUri == "https://fydar.dev/")
    {
        explicitBaseUri = "";
    }
}

<article class="resume">

    <section class="page page-coverletter">

        <div class="page-coverletter-header" data-nosnippet>
            <h1>Fydar</h1>
        </div>

        <div  data-nosnippet>
            <ul class="page-coverletter-details" dir="ltr">
                <li><SvgSprite Link="/icons.svg?v=1#icon-home" Alt="Location" />Brighton, UK</li>
                <li><ScrapeProofLink LinkText="contact@fydar.dev" LinkDestination="mailto:contact@fydar.dev" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-email" Alt="Email" /></ScrapeProofLink></li>
                <li><a href="@explicitBaseUri/" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-fydar-round" Alt="Portfolio Website" />https://fydar.dev/<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></li>
                <li><a href="https://github.com/Fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-github" Alt="GitHub" />@@Fydar<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></li>
                <li><a href="https://www.linkedin.com/in/fydar" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-linkedin-inverted" Alt="LinkedIn" />/in/fydar<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></li>
            </ul>
        </div>

        <p data-nosnippet>Greetings,</p>
        <div class="spacer"></div>

        <p>I am a programmer with <b>7 years</b> of experience working in the <b>Games Development</b> industry. I have worked on <a href="@explicitBaseUri/#titles" class="textual-link" target="_blank">8 commercial titles<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a> and I have an extensive portfolio of other works.</p>

        <p data-nosnippet>
            <a class="link-tag" href="@explicitBaseUri/portfolio/eitr" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />EITR<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <a class="link-tag" href="@explicitBaseUri/portfolio/legostarwarsbattles" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />LEGO® Star Wars™ Battles<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <a class="link-tag" href="@explicitBaseUri/portfolio/starcitizen" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />Squadron 42<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <br />
            <a class="link-tag" href="@explicitBaseUri/portfolio/starcitizen" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />Star Citizen<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <a class="link-tag" href="@explicitBaseUri/portfolio/outrage" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />OutRage: Fight Fest<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <a class="link-tag" href="@explicitBaseUri/portfolio/southfield" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />Southfield<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
            <a class="link-tag" href="@explicitBaseUri/portfolio/uno" target="_blank"><SvgSprite Link="/icons.svg?v=1#icon-game-controller-duotone" Alt="Game" />UNO™<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>
        </p>

        <div class="spacer"></div>

        <p>My career has been diverse, spanning a range of disciplines in the Games Development industry, making me a <b>highly versatile candidate</b> for any role.</p>

        <ul>
            <li><b><a href="@explicitBaseUri/portfolio/backend" class="textual-link" target="_blank">Backend Engineer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> for highly scalable, distributed cloud microservices and dedicated servers</li>
            <li><b><a href="@explicitBaseUri/portfolio/systems" class="textual-link" target="_blank">Systems Engineer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> for performance-critical and complex systems</li>
            <li><b><a href="@explicitBaseUri/portfolio/tools" class="textual-link" target="_blank">Tools Engineer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> for technical art, game design, game data authoring, and asset management</li>
            <li><b><a href="@explicitBaseUri/portfolio/multiplayer" class="textual-link" target="_blank">Multiplayer Engineer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> for game clients, meta-game servers, and realtime game servers</li>
            <li><b><a href="@explicitBaseUri/portfolio/gameplay" class="textual-link" target="_blank">Gameplay Engineer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> with a keen understanding of satisfying mechanics</li>
            <li><b><a href="@explicitBaseUri/portfolio/technicalart" class="textual-link" target="_blank">Technical Artist<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a></b> for asset pipelines and artist tooling</li>
        </ul>

        <div class="spacer"></div>

        <p>In addition to my professional experience in the above disciplines, I'm also a very active hobbyist developer. I regularly participate in game jams, many of which are available on my portfolio website. These serve as a great opportunity for me to push the boundaries of my knowledge with new techniques and the latest technologies.</p>
        
        <div class="spacer"></div>

        <p>Thank you for your consideration.</p>
        
        <div class="spacer"></div>

        <p>Sincerely,<br />Fydar</p>
        
        <SvgSprite class="signature-signed" width="200" height="100" Link="/icons.svg?v=1#icon-fydar-signature" Alt="Fydar's signature."  />
        <p><span class="phonetics">/&#952;a&#618;d&#593;r/</span></p>
    </section>

    <section class="page page-experience">

        <h1>Professional Experience</h1>

        <div class="timeline-company">

            <div class="timeline-company-logo">
                <picture>
                    <img src="/media/companies/snapfingerclick/logo_200x200.png?v=1" alt="The logo for 'Snap Finger Click'.">
                </picture>
            </div>

            <div class="timeline-years">
            </div>

            <div class="timeline-company-summary">
                <h2>Snap Finger Click</h2>
                <p class="subtitle2">Full-time · AAA · 5 months</p>
                <p class="subtitle3">Brighton, England, United Kingdom · Remote</p>
            </div>

            <a href="@explicitBaseUri/portfolio/uno" class="timeline-company-media">
                <img src="/media/uno/capsule_350x200.webp?v=1" alt="Landscape promotional material for the game 'UNO'." />
                <div class="timeline-company-media-body">
                    <p class="timeline-company-media-body-name">UNO<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-company-media-body-description">The Ubisoft release of the classic card game UNO for PC and consoles.</p>
                </div>
            </a>

            <div class="timeline-position">
                <h3>Senior Programmer</h3>
                <p class="subtitle4">July 2024 – November 2024 · 5 mos</p>
            </div>

            <div class="timeline-position-details">
                <p>The UNO codebase dates back to 2016 with the first release of the <b>Ubisoft</b> UNO game. As such, it inherited a lot of bugs over the many years of development it's received. My responsibility working on UNO was to address these bugs to earn community trust.</p>
            </div>

        </div>

        <div class="timeline-company">

            <div class="timeline-company-logo">
                <picture>
                    <img src="/media/companies/radicalforge/logo_200x200.jpg?v=1" alt="The logo for 'Radical Forge'.">
                </picture>
            </div>

            <div class="timeline-years">
                <div class="timeline-year">2024</div>
                <div class="timeline-year">2023</div>
            </div>

            <div class="timeline-company-summary">
                <h2>Radical Forge</h2>
                <p class="subtitle2">Full-time · AA · 1 year, 7 months</p>
                <p class="subtitle3">Middlesbrough, England, United Kingdom · Remote</p>
            </div>

            <a href="@explicitBaseUri/portfolio/southfield" class="timeline-company-media">
                <img src="/media/southfield/capsule_350x200.webp?v=1" alt="Landscape promotional material for the game 'Southfield'." />
                <div class="timeline-company-media-body">
                    <p class="timeline-company-media-body-name">Southfield<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-company-media-body-description">Weird farming meets silly physics, combine crops with unpredictable effects, build your dream farmstead, and experiment with automation.</p>
                </div>
            </a>

            <div class="timeline-position">
                <h3>Senior Tools Programmer</h3>
                <p class="subtitle4">September 2022 – March 2024 · 1 yr, 7 mos</p>
            </div>

            <div class="timeline-position-details">
                <p>I made many tools to empower artists by automating parts of their previous workflows; chief amongst which were tools for the automation of <b>screenshot capture</b> for <b>icon generation</b>, <b>gradient recolouring</b>, <b>texture atlasing</b>, <b>level design tools for terrains</b>, <b>texture generation</b>, and <b>procedural generation</b>.</p>
            </div>
            
            <a href="https://www.gamesindustry.biz/technical-art-roles-what-they-are-and-how-to-get-one" target="_blank" class="timeline-company-media">
                <img src="/media/companies/radicalforge/egx-thumbnail.webp?v=1" alt="From left to right, Fydar, Calvin, Piotr, and Bruce at EGX." />
                <div class="timeline-company-media-body">
                    <p class="timeline-company-media-body-name">EGX 2023 Panellist<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-company-media-body-description">I represented Radical Forge at <b>EGX 2023</b> on a <b>GamesIndustry.biz</b> panel called <b>'Technical art roles: What they are, and how to get one'</b> where I talked about the responsibilities of a Tools Programmer in the art pipeline.</p>
                </div>
            </a>

        </div>


        <div class="timeline-company">

            <div class="timeline-company-logo">
                <SvgSprite Link="/icons.svg?v=1#icon-hardballgames" Alt="The logo for 'Hardball Games'." />
            </div>

            <div class="timeline-years">
                <div class="timeline-year">2022</div>
            </div>

            <div class="timeline-company-summary">
                <h2>Hardball Games</h2>
                <p class="subtitle2">Full-time · AA · 3 months</p>
                <p class="subtitle3">Brighton, United Kingdom · Hybrid</p>
            </div>

            <a href="@explicitBaseUri/portfolio/outrage" target="_blank" class="timeline-company-media">
                <img src="/media/outrage/capsule_350x200.webp?v=1" alt="Landscape promotional material for the game 'OutRage: Fight Fest'." />
                <div class="timeline-company-media-body">
                    <p class="timeline-company-media-body-name">OutRage: Fight Fest<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-company-media-body-description">A 16-player beat-em-up brawler with a sandbox of attacks, weapons, and destructible props in Battle Royale Free for All and Team-based game modes.</p>
                </div>
            </a>

            <div class="timeline-position">
                <h3>Senior Programmer</h3>
                <p class="subtitle4">April 2022 – June 2022 · 3 mos</p>
            </div>

            <div class="timeline-position-details">
                <p>I implemented <b>gameplay</b> features to enhance the combat experience in the game, such as picking up and throwing props.</p>

                <p>I was able to work with <a href="https://www.photonengine.com/quantum" class="textual-link" target="_blank">Photon Quantum<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>, a <b>deterministic</b> <b>entity-component system</b>, which inspired me to work on my own implementation of an <b>ECS</b> that utilises the <b>latest C# language features</b>.</p>
            </div>

        </div>

    </section>


    <section class="page page-projects">

        <div class="timeline-company">

            <div class="timeline-company-logo">
                <SvgSprite Link="/icons.svg?v=1#icon-cloudimperiumgames" Alt="The logo for 'Cloud Imperium Games'." />
            </div>

            <div class="timeline-years">
                <div class="timeline-year">2022</div>
                <div class="timeline-year">2021</div>
            </div>

            <div class="timeline-company-summary">
                <h2>Cloud Imperium Games</h2>
                <p class="subtitle2">Full-time · AAA · 1 years, 8 months</p>
                <p class="subtitle3">Wilmslow, United Kingdom · Remote</p>
            </div>

            <a href="@explicitBaseUri/portfolio/starcitizen" target="_blank" class="timeline-company-media">
                <img src="/media/starcitizen/capsule_350x200.webp?v=1" alt="Landscape promotional material for the game 'Star Citizen'." />
                <div class="timeline-company-media-body">
                    <p class="timeline-company-media-body-name">Star Citizen<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-company-media-body-description">A next-generation AAA massively multiplayer online sandbox of life-size planets, moons, cities, space stations, asteroid belts, and more.</p>
                </div>
            </a>

            <div class="timeline-position">
                <h3>Tools Programmer</h3>
                <p class="subtitle4">September 2020 – April 2022 · 1 yrs 8 mos</p>
            </div>

            <div class="timeline-position-details">
                <p>Programmer on standalone (out-of-engine) tools using C# for ‘Star Citizen’ and ‘Squadron 42’.</p>

                <p>My primary assignment was creating and maintaining a bespoke asset management solution with asset dependency visualisation and change tracker.</p>
            </div>

        </div>

        <div class="timeline-company">

            <div class="timeline-company-logo">
                <picture>
                    <img src="/media/companies/ttgames/logo.png?v=1" alt="The logo for 'TT Games'.">
                </picture>
            </div>

            <div class="timeline-years">
                <div class="timeline-year">2020</div>
                <div class="timeline-year">2019</div>
            </div>

            <div class="timeline-company-summary">
                <h2>TT Games</h2>
                <p class="subtitle2">Full-time · AA · 2 years, 3 months</p>
                <p class="subtitle3">Brighton, United Kingdom · On-site</p>
            </div>

            <a href="@explicitBaseUri/portfolio/legostarwarsbattles" target="_blank" class="timeline-company-media">
                <img src="/media/legostarwarsbattles/capsule_350x200.webp?v=1" alt="Landscape promotional material for the game 'LEGO® Star Wars™ Battles'." />
                <div class="timeline-company-media-body">
                    <p class="timeline-company-media-body-name">LEGO® Star Wars™ Battles<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-company-media-body-description">A mobile multiplayer realtime strategy game featuring competitive ranked matchmaking, weekly Leaderboards, and Clans.</p>
                </div>
            </a>

            <div class="timeline-position">
                <h3>Game Programmer</h3>
                <p class="subtitle4">May 2019 – September 2020 · 1 yr 5 mos</p>
            </div>

            <div class="timeline-position-details">
                <p>Full-Stack developer (<b>.NET Core</b> and <b>Unity</b>) on the mobile title ‘LEGO® Star Wars™ Battles’.</p>

                <p>I was personally responsible for the creation and release of the servers and databases for <b>Clans</b> and <b>Leaderboards</b>.</p>
            </div>

            <div class="timeline-position">
                <h3>Junior Programmer</h3>
                <p class="subtitle4">July 2018 – May 2019 · 10 mos</p>
            </div>

            <div class="timeline-position-details">
                <p>Gameplay programmer in <b>Unity</b> on the mobile title ‘LEGO® Star Wars™ Battles’.</p>

                <p>When I first joined the team, I worked primarily on gameplay. I created the <b>data delivery mechanisms</b>, <b>configuration system</b>, and <b>unit AI</b>. I also created helpful tools for <b>saved game data management</b>, <b>profile management</b>, and <b>network debugging</b>.</p>
            </div>

        </div>

        <div class="timeline-company">

            <div class="timeline-company-logo">
                <picture>
                    <img src="/media/companies/enemeentertainment/enemeentertainment-logo.png?v=1" alt="The logo for 'Eneme Entertainment'." style="image-rendering: pixelated; background-color: black;">
                </picture>
            </div>

            <div class="timeline-years">
                <div class="timeline-year">2018</div>
                <div class="timeline-year">2017</div>
            </div>

            <div class="timeline-company-summary">
                <h2>Eneme Entertainment</h2>
                <p class="subtitle2">Full-time · Indie · 1 year</p>
                <p class="subtitle3">London, United Kingdom · Remote</p>
            </div>

            <a href="@explicitBaseUri/portfolio/eitr" target="_blank" class="timeline-company-media">
                <img src="/media/eitr/capsule_350x200.jpg?v=1" alt="Landscape promotional material for the game 'EITR'." />
                <div class="timeline-company-media-body">
                    <p class="timeline-company-media-body-name">EITR<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-company-media-body-description">A soulslike RPG built around exceptional combat and formidable challenges set within a mythological Norse world.</p>
                </div>
            </a>

            <div class="timeline-position">
                <h3>Programmer</h3>
                <p class="subtitle4">July 2017 – July 2018 · 1 yr</p>
            </div>

            <div class="timeline-position-details">
                <p>I joined the indie title ‘EITR’ team as a remote programmer. I programmed many core gameplay systems such as the <b>inventory system</b>, <b>item system</b>, <b>tooltips</b>, <b>character stats</b>, <b>skill trees</b>, <b>input mapping</b>, and <b>achievements</b>.</p>

                <p>Programming on ‘EITR’ inspired my <a href="@explicitBaseUri/portfolio/rpgcore" class="textual-link" target="_blank">RPGCore<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a> open-source project.</p>
            </div>

        </div>

    </section>

    <section class="page page-projects">

        <h1>Education</h1>

        <div class="timeline-company">

            <div class="timeline-company-logo">
                <SvgSprite Link="/icons.svg?v=1#icon-brightonmet-solid" Alt="The logo for 'Brighton MET'." />
            </div>

            <div class="timeline-years">
                <div class="timeline-year">2018</div>
                <div class="timeline-year">2017</div>
                <div class="timeline-year">2016</div>
            </div>

            <div class="timeline-company-summary">
                <h2>Brighton MET</h2>
                <p class="subtitle3">Worthing, United Kingdom</p>
            </div>

            <div class="timeline-position">
                <h3>Extended Diploma in Games Development</h3>
                <p class="subtitle2">2017 – 2018 · Distinction</p>
            </div>

            <div class="timeline-position-details">
                <p>It was towards the end of this course that I started my work at 'Eneme Entertainment' on the indie title 'Eitr'.</p>
            </div>

            <a href="@explicitBaseUri/portfolio/thedwellers" target="_blank" class="timeline-position-media">
                <img src="/media/thedwellers/capsule_350x200.jpg?v=1" alt="Landscape promotional material for the game 'The Dwellers'." />
                <div class="timeline-position-media-body">
                    <p class="timeline-position-media-body-name">The Dwellers<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-position-media-body-description">A dungeon crawler with a powerful node-based editor for the RPG system.</p>
                </div>
            </a>

            <a href="@explicitBaseUri/portfolio/voxelmultiplayer" target="_blank" class="timeline-position-media">
                <img src="/media/voxelmultiplayer/capsule_350x200.jpg?v=1" alt="Landscape promotional material for the game 'Voxel Multiplayer'." />
                <div class="timeline-position-media-body">
                    <p class="timeline-position-media-body-name">Voxel Multiplayer<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-position-media-body-description">Fully bespoke voxel rendering system to create a 'Cube World' style game with a multiplayer component.</p>
                </div>
            </a>

            <div class="timeline-position">
                <h3>Diploma in Games Development</h3>
                <p class="subtitle2">2016 – 2017 · Distinction</p>
            </div>

            <div class="timeline-position-details">
                <p>I joined this course with a strong understanding of game development and programming from my hobbyist experience. This course offered me the freedom to explore programming concepts at my speed. I also had the opportunity to learn the fundamentals of 2D and 3D art.</p>

                <p>I became familiar with 3DS Max which became my tool of choice. This benefited my understanding of 3D graphics greatly. The 3D artistry later inspired my exploration of Substance Designer and other tech art tools.</p>
            </div>

            <a href="@explicitBaseUri/portfolio/thenewearthconflict" target="_blank" class="timeline-position-media">
                <img src="/media/thenewearthconflict/capsule_350x200.jpg?v=1" alt="Landscape promotional material for the game 'The New Earth Conflict'." />
                <div class="timeline-position-media-body">
                    <p class="timeline-position-media-body-name">The New Earth Conflict<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-position-media-body-description">A realtime space strategy game where the player takes the pilot seat of a battleship.</p>
                </div>
            </a>

            <a href="@explicitBaseUri/portfolio/cryptcrawl" target="_blank" class="timeline-position-media">
                <img src="/media/cryptcrawl/capsule_350x200.jpg?v=1" alt="Landscape promotional material for the game 'Crypt Crawl'." />
                <div class="timeline-position-media-body">
                    <p class="timeline-position-media-body-name">Crypt Crawl<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-position-media-body-description">A pixel art dungeon crawler with dungeon textures generated in Substance Designer.</p>
                </div>
            </a>
        </div>
    </section>

    <section class="page page-experience">

        <h1>Game Jams</h1>

        <div class="timeline-company">

            <div class="timeline-company-logo" style="background-color: #aec159; padding: 4pt; border-radius: 2pt;">
                <SvgSprite Link="/icons.svg?v=1#icon-gbjam" Alt="The logo for 'GBJAM'." />
            </div>

            <div class="timeline-company-summary">
                <h2>GBJAM 8</h2>
                <p class="subtitle2">September 2022 · 1 week · Solo</p>
            </div>

            <div class="timeline-position-details">
                <p>I can't remember why I finally decided on the project idea, but once I did, the first thing I made was a <b>shader</b> that could emulate the style and feel of a Game Boy game. I then used <b>Pyxel Edit</b> to create the pixel art tilesets used for the character, terrain, and mining minigame. </p>

                <p>I especially enjoyed creating the <b>procedural generation</b> systems to firstly create the maps and then scatter minable resources underneath the rock. I created the entire game using a single entrypoint, as opposed to the <b>Unity</b> component based <b>IoC</b> (inversion of control).</p>
            </div>

            <a href="@explicitBaseUri/portfolio/miniminer" target="_blank" class="timeline-position-media">
                <img src="/media/miniminer/capsule_350x200.jpg?v=1" alt="Landscape promotional material for the game 'Mini Miner'." />
                <div class="timeline-position-media-body">
                    <p class="timeline-position-media-body-name">Mini Miner<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-position-media-body-description">The Game Boy demake of the Nintendo DS <i>Pokémon Diamond and Pearl</i> underground mining minigame.</p>
                </div>
            </a>

        </div>


        <div class="timeline-company">

            <div class="timeline-company-logo">
                <SvgSprite Link="/icons.svg?v=1#icon-ludumdare" Alt="The logo for 'Ludum Dare'." />
            </div>

            <div class="timeline-company-summary">
                <h2>Ludum Dare 46 Compo</h2>
                <p class="subtitle2">April 2020 · 48 hours · Solo</p>
            </div>

            <div class="timeline-position-details">
                <p>Upon hearing the theme 'Keep it alive' I immediately recalled my days playing the "Healer" in MMORPG raids and wanted to create a UI-only version of my experiences.</p>

                <p>I also explored new scripting methods to create <b>abilities</b> in RPG games, as I wanted to be able to create a system that would allow me to add multiple unique ways of healing your allies.</p>

                <p>I'm very proud of the overall experience, primarily because of it’s difficulty. It may take several playthroughs to complete, but it is doable once you know what you are down.</p>
            </div>

            <a href="@explicitBaseUri/portfolio/raidhealersimulator" target="_blank" class="timeline-position-media">
                <img src="/media/raidhealersimulator/capsule_350x200.webp?v=1" alt="Landscape promotional material for the game 'Raid Healer Simulator'." />
                <div class="timeline-position-media-body">
                    <p class="timeline-position-media-body-name">Raid Healer Simulator<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-position-media-body-description">The simulation experience of what it’s like to be a healer in an MMORPG raid, complete with a variety of abilities and a challenging boss battle.</p>
                </div>
            </a>

        </div>


        <div class="timeline-company">

            <div class="timeline-company-logo" style="background-color: #13171a; padding: 8pt; border-radius: 2pt;">
                <SvgSprite Link="/icons.svg?v=1#icon-astralelites" Alt="The logo for 'Astral Elites'." />
            </div>

            <div class="timeline-company-summary">
                <h2>Asteroids Clone</h2>
                <p class="subtitle2">July 2018 · 8 hours · Solo</p>
            </div>

            <div class="timeline-position-details">
                <p>For this Asteroids clone, the first thing I implemented was <b>procedurally generated asteroid meshes</b>. I then utilised Unity’s 2D physics engine to fling those asteroids into the centre of the arena.</p>

                <p>After the code test concluded, I added Discord integration via the <b>Discord SDK</b>.</p>
            </div>

            <a href="@explicitBaseUri/portfolio/astralelites" target="_blank" class="timeline-position-media">
                <img src="/media/astralelites/capsule_350x200.jpg?v=1" alt="Landscape promotional material for the game 'Astral Elites'." />
                <div class="timeline-position-media-body">
                    <p class="timeline-position-media-body-name">Astral Elites<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></p>
                    <p class="timeline-position-media-body-description">The physics-based and fast-paced asteroid clone for the modern era, complete with Discord integration.</p>
                </div>
            </a>

        </div>


    </section>

    <!--
    <section class="page page-experience">

        <div class="timeline-company">

            <div class="timeline-company-logo" style="background-color: #252260; padding: 6pt; border-radius: 50%;">
                <SvgSprite Link="/icons.svg?v=1#icon-globalgamejam" Alt="The logo for 'Global Game Jam'." />
            </div>

            <div class="timeline-company-summary">
                <h2>Global Game Jam</h2>
                <p class="subtitle3">Once Annually · 48 hours</p>
            </div>

            <div class="timeline-position">
                <h3>Global Game Jam 2021</h3>
                <p class="subtitle2">January 2021 · Themed 'Lost and Found' · Solo</p>
            </div>

            <div class="timeline-position-details">
                <p>I was inspired by <b>Agar.io</b> and other in-browser multiplayer games create my own ".io" style game. To do so, I used <b>Blazor WebAssembly</b> to create a realtime game client that connects to an <b>ASP.NET Core</b> server via <b>WebSockets</b>.</p>
            </div>

            <a href="@explicitBaseUri/portfolio/pewpew" target="_blank" class="timeline-position-media">
                <img src="/media/pewpew/capsule_350x200.jpg?v=1" alt="Landscape promotional material for the game 'Pew Pew'." />
                <div class="timeline-position-media-body">
                    <p class="timeline-position-media-body-name">Pew Pew</p>
                    <p class="timeline-position-media-body-description">Coordinate with your team in a multiplayer space-shooter.</p>
                </div>
            </a>

            <div class="timeline-position">
                <h3>Global Game Jam 2020</h3>
                <p class="subtitle2">January 2020 · Themed 'Repair' · Team of 3</p>
            </div>

            <div class="timeline-position-details">
                <p>For this Global Game Jam, I decided to meet up with some co-workers from TT Games. We were inspired by games like <a href="https://littlealchemy.com/">'Little Alchemy'</a> where the player has to combine elements together to discover new elements, and <a href="https://www.nintendo.co.uk/Games/Nintendo-Switch-games/Animal-Crossing-New-Horizons-1438623.html">'Animal Crossing: New Horizons'</a> to create a game where you create the life to populate a desolate world.</p>

                <p>We worked in <b>Unity</b>, where I created the <b>inventory</b>, <b>crafting</b>, and <b>world interaction</b> systems, along with the shader to warp the world over the horizon.</p>
            </div>

            <a href="@explicitBaseUri/portfolio/snoot" target="_blank" class="timeline-position-media">
                <img src="/media/snoot/capsule_350x200.webp?v=1" alt="Landscape promotional material for the game 'Snoot'." />
                <div class="timeline-position-media-body">
                    <p class="timeline-position-media-body-name">Snoot</p>
                    <p class="timeline-position-media-body-description">Restore life to a desolate world by exploring a sandbox of crafting recipes. On your adventure you will bring rain, grass, bugs, birds, and bees.</p>
                </div>
            </a>

            <div class="timeline-position">
                <h3>Global Game Jam 2019</h3>
                <p class="subtitle2">January 2019 · Themed 'Home' · Team of 6</p>
            </div>

            <div class="timeline-position-details">
                <p>For this Global Game Jam, I connect with a team of developers from all over the industry. After a chaotic and fun ideas generation session, we decided to make a game that emulates the experience of digging around in the cracks of your sofa.</p>

                <p>I implemented a <b>tutorial system</b> to introduce the players to the mechanics and a <b>dialogue system</b> that would guide players through the interactive experience.</p>
            </div>

            <a href="@explicitBaseUri/portfolio/sofarfromhome" target="_blank" class="timeline-position-media">
                <img src="/media/sofarfromhome/capsule_350x200.jpg?v=1" alt="Landscape promotional material for the game 'So Far from Home'." />
                <div class="timeline-position-media-body">
                    <p class="timeline-position-media-body-name">So Far from Home</p>
                    <p class="timeline-position-media-body-description">Searching between the sofa cushions for a missing key, but what else is down there? Uncover memories from a time well spent.</p>
                </div>
            </a>

            <div class="timeline-position">
                <h3>Global Game Jam 2018</h3>
                <p class="subtitle2">January 2018 · Themed 'Transmission' · Team of 5</p>
            </div>

            <div class="timeline-position-details">
                <p>For this Global Game Jam, I went to the Unity office in Brighton and formed a team. This was my first game jam in a team, and it’s an experience I will never forget. We decided to create a game where the player would remote control a drone via a the space station CCTV system.</p>

                <p>I implemented the <b>character controller</b>, <b>camera controllers</b>, <b>glitching UI</b>, and <b>transitions between cameras</b>.</p>
            </div>

            <a href="@explicitBaseUri/portfolio/lostinstatic" target="_blank" class="timeline-position-media">
                <img src="/media/lostinstatic/capsule_350x200.jpg?v=1" alt="Landscape promotional material for the game 'Lost in Static'." />
                <div class="timeline-position-media-body">
                    <p class="timeline-position-media-body-name">Lost in Static</p>
                    <p class="timeline-position-media-body-description">As an evil AI runs rampant on a space station, it is up to you to control a drone capable of shutting her down.</p>
                </div>
            </a>

        </div>
    </section>
    -->

</article>
