
.resume {
    z-index: 1;
    padding: 2rem 2rem 4rem 2rem;
    width: 100%;
    grid-column: 1 / -1;
    box-sizing: border-box;
    width: max-content;
    margin: auto;
}

    .resume ::deep *::selection {
        background-color: #a3c0d9;
    }

    .resume .page {
        min-width: 210mm;
        width: 210mm;
        max-width: 210mm;
        min-height: 297mm;
        height: 297mm;
        max-height: 297mm;
        margin: 1.25cm auto;
        padding: 12mm 14mm;
        box-sizing: border-box;
        background-color: white;
        color: #404040;
        page-break-inside: avoid;
        font-weight: 400;
        line-height: 1.2;
        text-align: justify;
        font-family: Calibri, sans-serif;
        font-size: 11pt;
        filter: brightness(0.9625);
    }

    .resume h1 {
        font-size: 18pt;
        font-weight: 400;
        color: #404040;
        margin: 0 0 20pt 0;
        letter-spacing: 0.25pt;
    }

    .resume h2 {
        font-size: 13pt;
        font-weight: bold;
        color: #404040;
        letter-spacing: 0.25pt;
    }

    .resume h3 {
        font-size: 11pt;
        font-weight: bold;
        color: #404040;
        letter-spacing: 0.25pt;
    }

    .resume p {
        page-break-inside: avoid;
        margin-top: 6pt;
        margin-bottom: 6pt;
    }

    .resume ::deep a {
        text-decoration: none;
        color: #0055b6;
    }

    .resume a.textual-link {
        display: inline-block;
        white-space: nowrap;
        font-weight: bold;
    }

    .resume ::deep svg.external-link-icon {
        width: 8pt;
        height: 8pt;
        margin-left: 2pt;
        margin-top: 2pt;
        margin-right: 2pt;
        opacity: 0.8;
    }

    .resume ul {
        padding-left: 20pt;
    }

        .resume ul li {
            margin-bottom: 4pt;
        }

    .resume h2,
    .resume h3,
    .resume .subtitle2,
    .resume .subtitle3,
    .resume .subtitle4 {
        margin: 0 0 1pt 0;
    }

    .resume .subtitle2 {
        color: #595959;
    }

    .resume .subtitle3 {
        color: #a6a6a6;
    }

    .resume .subtitle4 {
        color: #b6b6b6;
        font-size: 10.5pt;
    }

    .resume .phonetics {
        letter-spacing: 2px;
        color: #898989;
    }

    .resume .printed-name {
    }

    .resume .link-tag {
        background-color: #f6f8fa;
        border: solid 1pt rgb(209, 213, 218);
        border-radius: 8pt;
        padding: 1pt 6pt 1pt 4pt;
        margin: 4pt 4pt 0 0;
        gap: 4pt;
        display: inline-flex;
        color: #565656;
        align-items: center;
        font-weight: bold;
    }

        .resume .link-tag ::deep svg:first-child {
            width: 14pt;
            height: 14pt;
        }

        .resume .link-tag ::deep svg:last-child {
            width: 7pt;
            height: 7pt;
            margin-left: -1pt;
            margin-top: 1pt;
            margin-right: -1pt;
            align-self: start;
        }

    .resume .page-coverletter-header {
    }

        .resume .page-coverletter-header h1 {
            font-size: 42pt;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin-bottom: 6pt;
            font-weight: 600;
        }

    .resume .spacer {
        height: 12pt;
    }

    .resume .page-coverletter-details {
        border-bottom: 2pt solid #3f3f3f;
        display: flex;
        flex-direction: row;
        gap: 4pt;
        padding: 0 4pt;
        font-size: 0.925em;
        justify-content: space-between;
        margin-top: 0;
        margin-bottom: 32pt;
    }

        .resume .page-coverletter-details li {
            display: flex;
            align-items: center;
            margin: 0;
            font-size: 11pt;
            letter-spacing: 0.025em;
        }

            .resume .page-coverletter-details li ::deep a {
                color: #3f3f3f;
                display: flex;
                align-items: center;
                padding-top: 4pt;
                padding-bottom: 4pt;
                padding-left: 4pt;
                padding-right: 4pt;
            }

            .resume .page-coverletter-details li ::deep svg:first-child {
                height: 12pt;
                width: 12pt;
                margin-right: 4pt;
            }

            .resume .page-coverletter-details li ::deep svg.external-link-icon {
                transform: translateY(-4px);
            }



    .resume .timeline-company {
        display: grid;
        grid-template-columns: 1.625cm auto;
        gap: 0 12pt;
        margin-bottom: 16pt;
        page-break-inside: avoid;
    }

        .resume .timeline-company .timeline-company-media,
        .resume .timeline-company .timeline-position-media {
            grid-column: 2 / 3;
            display: flex;
            flex-direction: row;
            color: #404040;
            margin-top: 5pt;
            margin-bottom: 5pt;
        }

            .resume .timeline-company .timeline-company-media img,
            .resume .timeline-company .timeline-position-media img {
                height: 48pt;
                box-sizing: border-box;
                min-width: 74.6pt;
                max-width: 74.6pt;
                margin-right: 8pt;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8pt;
                object-fit: cover;
                background-color: #293138;
                color: #eeeeee;
            }

            .resume .timeline-company .timeline-company-media .timeline-company-media-body,
            .resume .timeline-company .timeline-position-media .timeline-position-media-body {
                display: flex;
                flex-direction: column;
                align-self: center;
            }

                .resume .timeline-company .timeline-company-media .timeline-company-media-body .timeline-company-media-body-name,
                .resume .timeline-company .timeline-position-media .timeline-position-media-body .timeline-position-media-body-name {
                    font-weight: bold;
                    margin: 0;
                    text-align: left;
                }

                .resume .timeline-company .timeline-company-media .timeline-company-media-body .timeline-company-media-body-description,
                .resume .timeline-company .timeline-position-media .timeline-position-media-body .timeline-position-media-body-description {
                    text-overflow: ellipsis;
                    margin: 0;
                    text-align: left;
                }

        .resume .timeline-company .timeline-company-media {
            margin-top: 8pt;
            margin-bottom: 8pt;
        }

        .resume .timeline-company .timeline-position-media {
            grid-column: 2 / 3;
        }

        .resume .timeline-company .timeline-company-logo {
            grid-column: 1 / 2;
            display: flex;
            align-items: center;
            align-self: center;
        }

            .resume .timeline-company .timeline-company-logo picture {
                display: contents;
            }

            .resume .timeline-company .timeline-company-logo img,
            .resume .timeline-company .timeline-company-logo ::deep svg {
                width: 100%;
                aspect-ratio: 1;
                object-fit: contain;
                color: white;
                user-select: none;
            }

        .resume .timeline-company .timeline-company-summary {
            grid-column: 2 / 3;
            align-self: center;
        }

        .resume .timeline-company .timeline-position-icon {
            grid-column: 2 / 3;
            display: flex;
            align-items: center;
            width: 20pt;
        }

            .resume .timeline-company .timeline-position-icon img,
            .resume .timeline-company .timeline-position-icon ::deep svg {
                width: 100%;
                aspect-ratio: 1;
                object-fit: contain;
                color: #777;
                user-select: none;
            }

        .resume .timeline-company .timeline-position {
            grid-column: 2 / 3;
            margin-top: 6pt;
            margin-bottom: 6pt;
        }

        .resume .timeline-company .timeline-position-details + .timeline-position,
        .resume .timeline-company .timeline-position-media + .timeline-position {
            margin-top: 18pt;
        }

        .resume .timeline-company .timeline-position-details {
            grid-column: 2 / 3;
            margin-bottom: 6pt;
        }

            .resume .timeline-company .timeline-position-details *:first-child {
                margin-top: 0;
            }

            .resume .timeline-company .timeline-position-details *:last-child {
                margin-bottom: 0;
            }

        .resume .timeline-company .timeline-stream {
            grid-column: 1;
            display: contents;
        }

        .resume .timeline-company .timeline-stream-node {
            background-color: #bfbfbf;
            border-radius: 50%;
            width: 6pt;
            height: 6pt;
            grid-column: 1;
            margin: 4.5pt auto 0 auto;
        }

        .resume .timeline-company .timeline-stream-connection {
            background-color: #bfbfbf;
            width: 1.5pt;
            height: auto;
            margin: 16.5pt auto 1.5pt auto;
            grid-column: 1;
        }


@media print {
    * {
        -webkit-print-color-adjust: exact;
    }

    @page {
        size: 210mm 297mm;
        margin: 0;
    }

    .resume {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        .resume .page {
            margin: 0;
            filter: none;
        }
}
