article.page-resume > div.container > header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6rem;
    gap: 8px 24px;
}

    article.page-resume > div.container > header > * {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    article.page-resume > div.container > header > h1 {
        flex-grow: 1;
        align-self: center;
    }

    article.page-resume > div.container > header ::deep > div.card {
        margin-left: auto;
    }

        article.page-resume > div.container > header ::deep > div.card > .card__button {
            padding: 0.2em 0.825em 0.2em 0.5em;
            min-height: 48px;
        }

article.page-resume ::deep .section-page {
    margin-block-start: 4rem;
    margin-block-end: 4rem;
}

    article.page-resume ::deep .section-page > .section-page-below {
        color: #a3a3a3;
        margin-block-start: 0.625em;
        margin-block-end: 0.625em;
    }

        article.page-resume ::deep .section-page > .section-page-below > .section-page-below-left,
        article.page-resume ::deep .section-page > .section-page-below > .section-page-below-right {
            display: inline-block;
        }

            article.page-resume ::deep .section-page > .section-page-below > .section-page-below-left a {
                color: #a3a3a3;
                text-decoration: none;
            }

                article.page-resume ::deep .section-page > .section-page-below > .section-page-below-left a:hover {
                    text-decoration: underline;
                }

        article.page-resume ::deep .section-page > .section-page-below > .section-page-below-right {
            float: right;
        }


/* Resume */
article.page-resume ::deep div.page {
    padding: 12mm 14mm;
    box-sizing: border-box;
    background-color: white;
    color: #393939;
    font-weight: 400;
    line-height: 1.325;
    text-align: justify;
    font-size: 10pt;
    filter: brightness(0.9625);
    --palette-primary-color: #595959;
}

    article.page-resume ::deep div.page *::selection {
        background-color: #a3c0d9;
    }

    article.page-resume ::deep div.page .subtle {
        color: #909090;
    }

    article.page-resume ::deep div.page h2 {
        font-size: 18pt;
        font-weight: 400;
        color: #393939;
        margin: 32pt 0 20pt 0;
        letter-spacing: 0.25pt;
    }

    article.page-resume ::deep div.page h3 {
        font-size: 13pt;
        font-weight: 600;
        color: #393939;
        letter-spacing: 0.25pt;
    }

    article.page-resume ::deep div.page h4 {
        font-size: 10pt;
        font-weight: 600;
        color: var(--palette-primary-color);
        letter-spacing: 0.25pt;
    }

    article.page-resume ::deep div.page p {
        page-break-inside: avoid;
        margin-top: 6pt;
        margin-bottom: 6pt;
    }

    article.page-resume ::deep div.page h2:first-child {
        margin-top: 0;
    }

    article.page-resume ::deep div.page .textual-tags {
        color: var(--palette-primary-color);
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 3pt 0 6pt 0;
    }

    article.page-resume ::deep div.page .textual-tag {
        display: flex;
        flex-direction: row;
        gap: 3pt;
        line-height: 1;
        margin-bottom: 0;
    }

        article.page-resume ::deep div.page .textual-tag + .textual-tag::before {
            content: "\00b7 ";
            font-weight: bold;
            white-space: pre;
            padding-left: 4pt;
            padding-right: 2pt;
        }

        article.page-resume ::deep div.page .textual-tag svg {
            width: 1.07143em;
            height: 1.07143em;
        }

    article.page-resume ::deep div.page .heading-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 3pt 0 5pt 0;
    }

        article.page-resume ::deep div.page .heading-row h4 {
            margin: 0;
        }

        article.page-resume ::deep div.page .heading-row .textual-tags {
            margin: 0;
        }

    article.page-resume ::deep div.page a {
        text-decoration: none;
        color: #0055b6;
    }

        article.page-resume ::deep div.page a.textual-link {
            display: inline-block;
            white-space: nowrap;
            font-weight: 600;
        }

            article.page-resume ::deep div.page a.textual-link svg.external-link-icon {
                margin-left: 1.5pt;
                margin-top: 0;
                transform: translateY(-2pt);
            }

    article.page-resume ::deep div.page svg.external-link-icon {
        width: 8pt;
        height: 8pt;
        margin-left: 2pt;
        margin-top: 2pt;
        transform: none;
        opacity: 1;
    }

    article.page-resume ::deep div.page ul {
        padding-left: 20pt;
    }

        article.page-resume ::deep div.page ul li {
            margin-bottom: 4pt;
        }

    article.page-resume ::deep div.page .subtitle4 {
        color: #b6b6b6;
        font-size: 10pt;
    }

    article.page-resume ::deep div.page span.ipa {
        letter-spacing: 1pt;
        color: #909090;
    }

        article.page-resume ::deep div.page span.ipa span.titled {
            border-bottom: none;
        }

    article.page-resume ::deep div.page .link-tag-cloud {
        padding-left: 16pt;
    }

    article.page-resume ::deep div.page .link-tag {
        background-color: #f6f8fa;
        border: solid 1pt rgb(209, 213, 218);
        border-radius: 8pt;
        padding: 1pt 6pt 1pt 4pt;
        margin: 4pt 4pt 0 0;
        gap: 4pt;
        display: inline-flex;
        color: #565656;
        align-items: center;
        font-weight: 600;
    }

        article.page-resume ::deep div.page .link-tag > svg:first-child {
            width: 14pt;
            height: 14pt;
        }

        article.page-resume ::deep div.page .link-tag svg.external-link-icon {
            width: 7pt;
            height: 7pt;
            margin-left: -1pt;
            margin-top: 1pt;
            margin-right: -1pt;
            align-self: start;
        }


    article.page-resume ::deep div.page .capsule-tag-cloud {
        margin-top: 4pt;
        display: flex;
        flex-wrap: wrap;
        gap: 4pt;
    }

    article.page-resume ::deep div.page .capsule-tag {
        background-color: var(--palette-primary-background1-color);
        border: solid 1pt var(--palette-primary-color);
        color: var(--palette-primary-color);
        border-radius: 4pt;
        line-height: 1em;
        padding: 1pt 1pt 0 3pt;
        gap: 0pt 2pt;
        display: inline-flex;
        font-weight: 600;
        letter-spacing: 0.25pt;
        align-items: center;
        position: relative;
        border: none;
        padding: 3pt 3pt 2pt 5pt;
    }

        article.page-resume ::deep div.page .capsule-tag p {
            padding: 3pt 0;
            margin: 0;
        }

        article.page-resume ::deep div.page .capsule-tag > svg:first-child {
            width: 14pt;
            height: 14pt;
            margin: 0;
            margin-right: 1pt;
        }

        article.page-resume ::deep div.page .capsule-tag svg.external-link-icon {
            width: 7pt;
            height: 7pt;
            margin-left: -1pt;
            margin-top: 2pt;
            margin-right: 1pt;
            align-self: start;
        }

    article.page-resume ::deep div.page.page-coverletter {
    }

        article.page-resume ::deep div.page.page-coverletter .page-coverletter-header {
        }

            article.page-resume ::deep div.page.page-coverletter .page-coverletter-header h2 {
                font-size: 38pt;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                margin-bottom: 6pt;
                font-weight: 600;
            }

        article.page-resume ::deep div.page.page-coverletter .page-coverletter-details {
            border-bottom: 2pt solid #3f3f3f;
            display: flex;
            flex-direction: row;
            gap: 4pt;
            padding: 0;
            font-size: 0.925em;
            justify-content: space-between;
            margin-top: 0;
            margin-bottom: 32pt;
        }

            article.page-resume ::deep div.page.page-coverletter .page-coverletter-details li {
                display: flex;
                align-items: center;
                margin: 0;
                font-size: 10pt;
                letter-spacing: 0.025em;
            }

                article.page-resume ::deep div.page.page-coverletter .page-coverletter-details li p,
                article.page-resume ::deep div.page.page-coverletter .page-coverletter-details li a {
                    margin: 0;
                    color: #3f3f3f;
                    display: flex;
                    align-items: center;
                    padding-top: 4pt;
                    padding-bottom: 4pt;
                    padding-left: 4pt;
                    padding-right: 4pt;
                }

                article.page-resume ::deep div.page.page-coverletter .page-coverletter-details li svg:first-child {
                    height: 12pt;
                    width: 12pt;
                    margin-right: 4pt;
                }

                article.page-resume ::deep div.page.page-coverletter .page-coverletter-details li svg.external-link-icon {
                    transform: translateY(-3pt);
                }

    article.page-resume ::deep div.page .spacer {
        height: 14pt;
    }


    article.page-resume ::deep div.page .timeline {
        margin-bottom: 30pt;
        gap: 8pt;
        display: flex;
        flex-direction: column;
    }

        article.page-resume ::deep div.page .timeline .timeline-header,
        article.page-resume ::deep div.page .timeline .timeline-body {
            display: flex;
            flex-direction: row;
            gap: 8pt;
        }

            article.page-resume ::deep div.page .timeline .timeline-header .timeline-header-icon {
                display: flex;
                align-items: center;
                align-self: center;
            }

                article.page-resume ::deep div.page .timeline .timeline-header .timeline-header-icon picture,
                article.page-resume ::deep div.page .timeline .timeline-header .timeline-header-media picture {
                    display: contents;
                }

            article.page-resume ::deep div.page .timeline .timeline-header .timeline-header-icon,
            article.page-resume ::deep div.page .timeline .timeline-header .timeline-header-media {
                width: 32pt;
                height: 32pt;
            }

                article.page-resume ::deep div.page .timeline .timeline-header .timeline-header-icon img,
                article.page-resume ::deep div.page .timeline .timeline-header .timeline-header-icon svg,
                article.page-resume ::deep div.page .timeline .timeline-header .timeline-header-media img,
                article.page-resume ::deep div.page .timeline .timeline-header .timeline-header-media svg {
                    width: 100%;
                    height: 100%;
                    border-radius: 4pt;
                    object-fit: cover;
                }

            article.page-resume ::deep div.page .timeline .timeline-header .timeline-header-media {
                width: 56pt;
            }



            article.page-resume ::deep div.page .timeline .timeline-header .timeline-header-content {
                flex-grow: 1;
                align-content: center;
            }

                article.page-resume ::deep div.page .timeline .timeline-header .timeline-header-content > *:first-child {
                    margin-top: 0
                }

                article.page-resume ::deep div.page .timeline .timeline-header .timeline-header-content > *:last-child {
                    margin-bottom: 0
                }

                article.page-resume ::deep div.page .timeline .timeline-header .timeline-header-content h3 {
                    font-size: 13pt;
                    font-weight: 600;
                    line-height: 1;
                    margin: 0;
                }

                article.page-resume ::deep div.page .timeline .timeline-header .timeline-header-content h4 {
                    font-size: 13pt;
                    font-weight: 500;
                    line-height: 1;
                    margin: 0;
                }

                article.page-resume ::deep div.page .timeline .timeline-header .timeline-header-content .heading-row {
                    font-weight: 400;
                    font-size: 10.5pt;
                    letter-spacing: 0.25pt;
                    color: #393939;
                    color: #777777;
                    line-height: 1;
                }


            article.page-resume ::deep div.page .timeline .timeline-body .timeline-body-years {
                display: flex;
                flex-direction: column;
                place-content: space-evenly;
                align-items: center;
                min-width: 32pt;
            }

                article.page-resume ::deep div.page .timeline .timeline-body .timeline-body-years .timeline-year {
                    color: #b6b6b6;
                    display: flex;
                    flex-direction: column;
                    font-weight: 500;
                    align-items: center;
                    flex-grow: 1;
                    font-size: 10pt;
                    letter-spacing: 1pt;
                }

                    article.page-resume ::deep div.page .timeline .timeline-body .timeline-body-years::before,
                    article.page-resume ::deep div.page .timeline .timeline-body .timeline-body-years .timeline-year::after {
                        content: '';
                        width: 2pt;
                        margin-top: 1pt;
                        margin-bottom: 4pt;
                        background-color: #e6e6e6;
                        flex-grow: 1;
                        align-items: center;
                        border-radius: 1.5pt;
                    }

                    article.page-resume ::deep div.page .timeline .timeline-body .timeline-body-years:empty::before,
                    article.page-resume ::deep div.page .timeline .timeline-body .timeline-body-years .timeline-year:last-child::after {
                        margin-bottom: -18pt;
                    }

        article.page-resume ::deep div.page .timeline:last-child .timeline-body .timeline-body-years .timeline-year:last-child {
            flex-grow: 0;
        }

            article.page-resume ::deep div.page .timeline:last-child .timeline-body .timeline-body-years .timeline-year:last-child::after {
                content: unset;
            }

        article.page-resume ::deep div.page .timeline .timeline-body .timeline-body-content {
            flex-grow: 1;
        }

            article.page-resume ::deep div.page .timeline .timeline-body .timeline-body-content > *:first-child {
                margin-top: 0;
            }

            article.page-resume ::deep div.page .timeline .timeline-body .timeline-body-content > *:last-child {
                margin-bottom: 0;
            }


        article.page-resume ::deep div.page .timeline .timeline-header-link {
            grid-row: 1;
            grid-column: 1 / 3;
            width: 100%;
            height: 100%;
        }


    article.page-resume ::deep div.page .callout {
        position: relative;
        margin: 6pt 0 2pt 0;
        padding: 3pt 10pt 5pt 32pt;
        background: var(--palette-primary-background1-color);
        border-radius: 3pt;
        display: block;
    }

        article.page-resume ::deep div.page .callout > *:first-child {
            margin-top: 0;
        }

        article.page-resume ::deep div.page .callout > *:last-child {
            margin-bottom: 0;
        }

        article.page-resume ::deep div.page .callout::after {
            content: '';
            position: absolute;
            width: 3pt;
            height: 100%;
            left: 0;
            top: 0;
            background-color: var(--palette-primary-color);
            border-top-left-radius: 3pt;
            border-bottom-left-radius: 3pt;
        }

        article.page-resume ::deep div.page .callout > svg:first-child {
            position: absolute;
            width: 18pt;
            height: 18pt;
            left: 9pt;
            top: 50%;
            transform: translateY(-9.5pt);
            color: var(--palette-primary-color);
        }

            article.page-resume ::deep div.page .callout > svg:first-child + h4 {
                margin-top: 0;
            }

        article.page-resume ::deep div.page .callout h4 {
            margin-bottom: 1pt;
        }

        article.page-resume ::deep div.page .callout + .callout {
            margin-top: 0;
        }


    article.page-resume ::deep div.page .cover-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 5pt;
    }

    article.page-resume ::deep div.page .cover::before {
        box-shadow: 0 2pt 4pt 1pt rgba(0, 0, 0, 0.4);
    }

    article.page-resume ::deep div.page .cover .cover-background::after {
        display: none;
    }

    article.page-resume ::deep div.page .cover-date-label {
        font-size: 1.125em;
        height: 2.0em;
        margin-top: 0;
        margin-bottom: 1em;
        padding-left: 0;
        color: #8d8d8d;
    }

        article.page-resume ::deep div.page .cover-date-label::before {
            background-color: #00000025;
            bottom: 0;
            left: 0;
            right: -5pt;
            height: 1.5pt;
        }

        article.page-resume ::deep div.page .cover-date-label:not(:empty)::after {
            background-color: #00000025;
            bottom: 1.5pt;
            left: 13pt;
            width: 1.5pt;
            height: 5px;
        }



article.page-resume ::deep .palette-magenta {
    --palette-primary-color: #c54394;
    --palette-primary-background1-color: #c5439425;
}

article.page-resume ::deep .palette-northbrook {
    --palette-primary-color: #DA3C10;
    --palette-primary-background1-color: #DA3C1025;
}

article.page-resume ::deep .palette-outoftheblue {
    --palette-primary-color: #5378d8;
    --palette-primary-background1-color: #5378d825;
}

article.page-resume ::deep .palette-backend {
    --palette-primary-color: #4393C5;
    --palette-primary-background1-color: #4393C525;
}

article.page-resume ::deep .palette-systems {
    --palette-primary-color: #0a7a5f;
    --palette-primary-background1-color: #00a46e24;
}

article.page-resume ::deep .palette-tools {
    --palette-primary-color: #435ac5;
    --palette-primary-background1-color: #435ac525;
}

article.page-resume ::deep .palette-multiplayer {
    --palette-primary-color: #c54394;
    --palette-primary-background1-color: #c5439425;
}

article.page-resume ::deep .palette-gameplay {
    --palette-primary-color: #8F43C5;
    --palette-primary-background1-color: #8F43C525;
}

article.page-resume ::deep .palette-technicalart {
    --palette-primary-color: #b80000;
    --palette-primary-background1-color: #ff000025;
}

@media print {

    @page {
        size: 210mm 297mm;
        margin: 0;
    }

    article.page-resume ::deep * {
        -webkit-print-color-adjust: exact;
    }

    article.page-resume ::deep .section-page {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    article.page-resume ::deep div.page {
        filter: none;
    }

    article.page-resume ::deep .container.container--a4 {
        padding: 0;
        max-width: unset;
    }

    article.page-resume > div.container > header,
    article.page-resume ::deep .section-page-above,
    article.page-resume ::deep .section-page-below {
        display: none;
    }
}
