@using Portfolio.Instance.Services.ContentService;
@using Portfolio.Models;

@model ResourceImageViewModel;

@inject IContentService contentService;

<div class="image">
	<svg class="overlay" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<filter id="blur" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
			<feGaussianBlur stdDeviation="12 12" edgeMode="duplicate" />
			<feComponentTransfer>
				<feFuncA type="discrete" tableValues="1 1" />
			</feComponentTransfer>
		</filter>
		@{
			var blurContent = contentService.GetResource(ResourceHelper.TransformName(Model.Image, "blur")).Content;
		}
		<image filter="url(#blur)"
			xlink:href="data:image/jpeg;base64,@(new ResourceContentBaseWriter(blurContent))"
			x="0" y="0" height="100%" width="100%" preserveAspectRatio="xMidYMid slice" />
	</svg>

	@if (Model.Unblur)
	{
		<img src="~/@ResourceHelper.TransformName(Model.Image, Model.Size)" loading="lazy" class="overlay"
				 style='object-fit: cover; @(Model.Pixel ? "image-rendering: pixelated;" : "")' />
	}
</div>
