@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 512 384">
    <title>@Title</title>
    <path d="M326 284h-17.9l-43.9-40H244M327 133h-17.9l-43.9-38H245M243 226h17.9l43.9-74H325" stroke="#393B4A" stroke-width="6" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" fill="none" />
    <path d="M326 99.1c0-4.5 3.6-8.1 8.1-8.1H476c4.5 0 8.1 3.6 8.1 8.1V157c0 4.5-3.6 8.1-8.1 8.1H334a8.1 8.1 0 0 1-8.1-8.1ZM28 41.7c0-5.4 4.3-9.7 9.7-9.7h196.6c5.4 0 9.7 4.3 9.7 9.7v112.6c0 5.4-4.3 9.7-9.7 9.7H37.7a9.7 9.7 0 0 1-9.7-9.7Z" fill="#242636" fill-rule="evenodd" />
    <path d="M244 58v99a7 7 0 0 1-7 7h-87V58Z" fill="#1D1F2B" fill-rule="evenodd" />
    <path d="M213 40a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM222 40a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM230 40a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM213 48a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM222 48a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM230 48a2 2 0 1 1 4 0 2 2 0 0 1-4 0Z" fill="#393B4A" fill-rule="evenodd" />
    <path d="M227 110.8c0-2.1 1.7-3.8 3.8-3.8h4.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-4.4c-2.1 0-3.8-1.7-3.8-3.8ZM227 128.8c0-2.1 1.7-3.8 3.8-3.8h4.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-4.4c-2.1 0-3.8-1.7-3.8-3.8ZM227 147.8c0-2.1 1.7-3.8 3.8-3.8h4.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-4.4c-2.1 0-3.8-1.7-3.8-3.8ZM227 92.8c0-2.1 1.7-3.8 3.8-3.8h4.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-4.4c-2.1 0-3.8-1.7-3.8-3.8ZM221 74.4c0-1.9 1.5-3.4 3.4-3.4h11.2c1.9 0 3.4 1.5 3.4 3.4v4.2c0 1.9-1.5 3.4-3.4 3.4h-11.2a3.4 3.4 0 0 1-3.4-3.4Z" fill="#1C62FF" fill-rule="evenodd" />
    <path d="M50 74.4c0-1.9 1.5-3.4 3.4-3.4h48.2c1.9 0 3.4 1.5 3.4 3.4v4.2c0 1.9-1.5 3.4-3.4 3.4H53.4a3.4 3.4 0 0 1-3.4-3.4ZM50 92.8c0-2.1 1.7-3.8 3.8-3.8h31.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8H53.8c-2.1 0-3.8-1.7-3.8-3.8ZM161 74.4c0-1.9 1.5-3.4 3.4-3.4h48.2c1.9 0 3.4 1.5 3.4 3.4v4.2c0 1.9-1.5 3.4-3.4 3.4h-48.2a3.4 3.4 0 0 1-3.4-3.4ZM192 92.8c0-2.1 1.7-3.8 3.8-3.8h16.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-16.4c-2.1 0-3.8-1.7-3.8-3.8ZM192 110.8c0-2.1 1.7-3.8 3.8-3.8h16.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-16.4c-2.1 0-3.8-1.7-3.8-3.8ZM192 128.8c0-2.1 1.7-3.8 3.8-3.8h16.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-16.4c-2.1 0-3.8-1.7-3.8-3.8ZM192 147.8c0-2.1 1.7-3.8 3.8-3.8h16.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-16.4c-2.1 0-3.8-1.7-3.8-3.8Z" fill="#393B4A" fill-rule="evenodd" />
    <path d="M33 40.7c0-2.6 2.1-4.7 4.7-4.7h5.6c2.6 0 4.7 2.1 4.7 4.7v6.6c0 2.6-2.1 4.7-4.7 4.7h-5.6a4.7 4.7 0 0 1-4.7-4.7ZM33 74.4c0-1.9 1.5-3.4 3.4-3.4h5.2c1.9 0 3.4 1.5 3.4 3.4v4.2c0 1.9-1.5 3.4-3.4 3.4h-5.2a3.4 3.4 0 0 1-3.4-3.4ZM33 92.8c0-2.1 1.7-3.8 3.8-3.8h4.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-4.4c-2.1 0-3.8-1.7-3.8-3.8Z" fill="#1C62FF" fill-rule="evenodd" />
    <path d="M52 41a5 5 0 0 1 5-5h76a5 5 0 0 1 5 5v6a5 5 0 0 1-5 5H57a5 5 0 0 1-5-5Z" fill="#393B4A" fill-rule="evenodd" />
    <path d="M483 116v39.8c0 5.1-4.1 9.2-9.2 9.2H411v-49Z" fill="#1D1F2B" fill-rule="evenodd" />
    <path d="M454 98a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM463 98a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM471 98a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM454 107a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM463 107a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM471 107a2 2 0 1 1 4 0 2 2 0 0 1-4 0Z" fill="#393B4A" fill-rule="evenodd" />
    <path d="M467 129.8c0-2.1 1.7-3.8 3.8-3.8h4.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-4.4c-2.1 0-3.8-1.7-3.8-3.8Z" fill="#1C62FF" fill-rule="evenodd" />
    <path d="M349 129.8c0-2.1 1.7-3.8 3.8-3.8h42.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-42.4c-2.1 0-3.8-1.7-3.8-3.8ZM349 149.8c0-2.1 1.7-3.8 3.8-3.8h31.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-31.4c-2.1 0-3.8-1.7-3.8-3.8ZM433 129.8c0-2.1 1.7-3.8 3.8-3.8h20.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-20.4c-2.1 0-3.8-1.7-3.8-3.8Z" fill="#393B4A" fill-rule="evenodd" />
    <path d="M330 99a5 5 0 0 1 5-5h6a5 5 0 0 1 5 5v6a5 5 0 0 1-5 5h-6a5 5 0 0 1-5-5ZM331 129.8c0-2.1 1.7-3.8 3.8-3.8h4.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-4.4c-2.1 0-3.8-1.7-3.8-3.8ZM332 149.8c0-2.1 1.7-3.8 3.8-3.8h4.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-4.4c-2.1 0-3.8-1.7-3.8-3.8Z" fill="#1C62FF" fill-rule="evenodd" />
    <path d="M351 99a5 5 0 0 1 5-5h28a5 5 0 0 1 5 5v6a5 5 0 0 1-5 5h-28a5 5 0 0 1-5-5Z" fill="#393B4A" fill-rule="evenodd" />
    <path d="M136.8 184h99.4c4.3 0 7.8 3.5 7.8 7.8V208H129v-16.2c0-4.3 3.5-7.8 7.8-7.8Z" fill="#242636" fill-rule="evenodd" />
    <path d="M244 208H129v44.3c0 5.4 4.3 9.7 9.7 9.7h95.6c5.4 0 9.7-4.3 9.7-9.7V208Z" fill="#1D1F2B" fill-rule="evenodd" />
    <path d="M213 191a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM222 191a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM230 191a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM213 200a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM222 200a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM230 200a2 2 0 1 1 4 0 2 2 0 0 1-4 0Z" fill="#393B4A" fill-rule="evenodd" />
    <path d="M226 223.8c0-2.1 1.7-3.8 3.8-3.8h4.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-4.4c-2.1 0-3.8-1.7-3.8-3.8Z" fill="#1C62FF" fill-rule="evenodd" />
    <path d="M180 223.8c0-2.1 1.7-3.8 3.8-3.8h33.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-33.4c-2.1 0-3.8-1.7-3.8-3.8Z" fill="#393B4A" fill-rule="evenodd" />
    <path d="M134 192.7c0-2.6 2.1-4.7 4.7-4.7h5.6c2.6 0 4.7 2.1 4.7 4.7v6.6c0 2.6-2.1 4.7-4.7 4.7h-5.6a4.7 4.7 0 0 1-4.7-4.7Z" fill="#1C62FF" fill-rule="evenodd" />
    <path d="M154 192.3c0-3 2.4-5.3 5.3-5.3h34.4c3 0 5.3 2.4 5.3 5.3v6.4c0 3-2.4 5.3-5.3 5.3h-34.4c-3 0-5.3-2.4-5.3-5.3Z" fill="#393B4A" fill-rule="evenodd" />
    <path d="M326 190.9c0-3.8 3-6.9 6.9-6.9H476c3.8 0 6.9 3 6.9 6.9V293c0 3.8-3 6.9-6.9 6.9H333c-3.8 0-6.9-3-6.9-6.9Z" fill="#242636" fill-rule="evenodd" />
    <path d="M454 191a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM463 191a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM471 191a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM454 200a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM463 200a2 2 0 1 1 4 0 2 2 0 0 1-4 0ZM471 200a2 2 0 1 1 4 0 2 2 0 0 1-4 0Z" fill="#393B4A" fill-rule="evenodd" />
    <path d="M330 193a5 5 0 0 1 5-5h6a5 5 0 0 1 5 5v6a5 5 0 0 1-5 5h-6a5 5 0 0 1-5-5Z" fill="#1C62FF" fill-rule="evenodd" />
    <path d="M351 192.3c0-3 2.4-5.3 5.3-5.3h49.4c3 0 5.3 2.4 5.3 5.3v6.4c0 3-2.4 5.3-5.3 5.3h-49.4c-3 0-5.3-2.4-5.3-5.3Z" fill="#393B4A" fill-rule="evenodd" />
    <path fill="#1D1F2B" d="M483 208H326v63h157z" />
    <path d="M327.5 227.1h31l7.6-10.6 12.4 20 7.5-13 5.5 6.4 5.5-3.8 86.5.1" stroke="#1C62FF" stroke-width="2.7" stroke-linejoin="round" stroke-miterlimit="10" fill="none" />
    <path d="M348 281.8c0-2.1 1.7-3.8 3.8-3.8h43.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-43.4c-2.1 0-3.8-1.7-3.8-3.8Z" fill="#393B4A" fill-rule="evenodd" />
    <path d="M332 281.8c0-2.1 1.7-3.8 3.8-3.8h4.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-4.4c-2.1 0-3.8-1.7-3.8-3.8ZM226 241.8c0-2.1 1.7-3.8 3.8-3.8h4.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-4.4c-2.1 0-3.8-1.7-3.8-3.8Z" fill="#1C62FF" fill-rule="evenodd" />
    <path d="M188 241.8c0-2.1 1.7-3.8 3.8-3.8h25.4c2.1 0 3.8 1.7 3.8 3.8v4.4c0 2.1-1.7 3.8-3.8 3.8h-25.4c-2.1 0-3.8-1.7-3.8-3.8Z" fill="#393B4A" fill-rule="evenodd" />
    <path d="M327.5 254.6h31l7.6-11.1 12.4 21 7.5-13.6 5.5 6.7 5.5-4 86.5.1" stroke="#1C62FF" stroke-width="2.7" stroke-linejoin="round" stroke-miterlimit="10" fill="none" />
</symbol>

@code {
    public override string Identifier => "nodeeditor";
    public override string Title => "Node Editor";
}
