@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 683 384">
    <title>@Title</title>
    <g>
        <rect x="266" y="115.943" width="151" height="151.926" stroke="#393B4A" stroke-width="8.00391" stroke-miterlimit="8" fill="none" />
        <path d="M472 267.869 548 120.941 624 267.869Z" stroke="#393B4A" stroke-width="8.00391" stroke-miterlimit="8" fill="none" />
        <path d="M59 191.906C59 149.953 93.0264 115.943 135 115.943 176.974 115.943 211 149.953 211 191.906 211 233.859 176.974 267.869 135 267.869 93.0264 267.869 59 233.859 59 191.906Z" stroke="#393B4A" stroke-width="8.00391" stroke-miterlimit="8" fill="none" />
    </g>
</symbol>

@code {
    public override string Identifier => "geometry";
    public override string Title => "Geometry";
}
