@inherits Icon

<symbol id="illustration-@Identifier" viewBox="0 0 512 384">
    <title>@Title</title>
    <g fill="#7F7F7F">
        <rect width="3" height="3" x="222" y="105" />
        <rect width="3" height="3" x="247" y="273" />
        <rect width="3" height="3" x="122" y="246" />
        <rect width="3" height="3" x="469" y="77" />
        <rect width="3" height="3" x="289" y="256" />
        <rect width="3" height="3" x="257" y="274" />
        <rect width="3" height="3" x="261" y="285" />
        <rect width="3" height="3" x="277" y="303" />
        <rect width="3" height="3" x="240" y="284" />
        <rect width="3" height="3" x="270" y="287" />
        <rect width="3" height="3" x="258" y="296" />
        <rect width="3" height="3" x="295" y="265" />
        <rect width="3" height="3" x="296" y="251" />
        <rect width="3" height="3" x="275" y="222" />
        <rect width="3" height="3" x="286" y="224" />
        <rect width="3" height="3" x="271" y="213" />
        <rect width="3" height="3" x="217" y="118" />
        <rect width="3" height="3" x="207" y="123" />
        <rect width="3" height="3" x="219" y="127" />
        <rect width="3" height="3" x="180" y="110" />
        <rect width="3" height="3" x="188" y="106" />
        <rect width="3" height="3" x="481" y="85" />
        <rect width="3" height="3" x="488" y="75" />
        <rect width="3" height="3" x="485" y="93" />
        <rect width="3" height="3" x="485" y="33" />
        <rect width="3" height="3" x="313" y="40" />
        <rect width="3" height="3" x="494" y="36" />
        <rect width="3" height="3" x="479" y="25" />
        <rect width="3" height="3" x="303" y="36" />
        <rect width="3" height="3" x="313" y="26" />
        <rect width="3" height="3" x="304" y="27" />
        <rect width="3" height="3" x="147" y="260" />
        <rect width="3" height="3" x="133" y="259" />
        <rect width="3" height="3" x="130" y="271" />
        <rect width="3" height="3" x="121" y="257" />
        <rect width="3" height="3" x="177" y="336" />
        <rect width="3" height="3" x="181" y="359" />
        <rect width="3" height="3" x="186" y="345" />
        <rect width="3" height="3" x="172" y="346" />
        <rect width="3" height="3" x="129" y="357" />
        <rect width="3" height="3" x="148" y="299" />
        <rect width="3" height="3" x="155" y="305" />
        <rect width="3" height="3" x="143" y="314" />
        <rect width="3" height="3" x="79" y="152" />
        <rect width="3" height="3" x="88" y="142" />
        <rect width="3" height="3" x="76" y="140" />
        <rect width="3" height="3" x="86" y="134" />
        <rect width="3" height="3" x="69" y="134" />
        <rect width="3" height="3" x="89" y="198" />
        <rect width="3" height="3" x="102" y="195" />
        <rect width="3" height="3" x="96" y="205" />
        <rect width="3" height="3" x="81" y="209" />
        <rect width="3" height="3" x="389" y="212" />
        <rect width="3" height="3" x="406" y="214" />
        <rect width="3" height="3" x="398" y="219" />
        <rect width="3" height="3" x="426" y="197" />
        <rect width="3" height="3" x="428" y="208" />
        <rect width="3" height="3" x="438" y="199" />
        <rect width="3" height="3" x="411" y="170" />
        <rect width="3" height="3" x="426" y="171" />
        <rect width="3" height="3" x="405" y="179" />
        <rect width="3" height="3" x="417" y="179" />
        <rect width="3" height="3" x="498" y="312" />
        <rect width="3" height="3" x="508" y="317" />
        <rect width="3" height="3" x="501" y="325" />
        <rect width="3" height="3" x="508" y="337" />
        <rect width="3" height="3" x="15" y="75" />
        <rect width="3" height="3" x="23" y="64" />
        <rect width="3" height="3" x="12" y="63" />
        <rect width="3" height="3" x="21" y="56" />
        <rect width="3" height="3" x="4" y="57" />
        <rect width="3" height="3" x="163" y="16" />
        <rect width="3" height="3" x="175" y="24" />
        <rect width="3" height="3" x="182" y="14" />
        <rect width="3" height="3" x="179" y="32" />
        <rect width="3" height="3" x="109" y="359" />
        <rect width="3" height="3" x="54" y="336" />
        <rect width="3" height="3" x="55" y="354" />
        <rect width="3" height="3" x="60" y="345" />
        <rect width="3" height="3" x="48" y="346" />
    </g>
    <g stroke="#D9D9D9" fill="none" stroke-width="2" stroke-miterlimit="8">
        <path d="M74 42 81.9959 84.5 103.485 103 143.965 110 160 61.3913 117.109 45.913 74 42Z" />
        <path d="M155.224 111.523 157.02 149.076 167.625 165.679 188.886 165.897 216.066 147.018 193.094 123.075 155.224 111.523Z" />
        <path d="M106.442 118.543 92.1849 158.947 104.15 190.221 141.65 195.797 151.195 159.423 148.187 123.811 106.442 118.543Z" />
        <path d="M165.311 193.073 149.424 244.052 170.011 277.868 213.324 263.223 212.392 220.018 185.054 180.461 165.311 193.073Z" />
        <path d="M119.446 357.618 70.9499 344.685 60.2325 325.805 83.1977 298.378 120.092 296.129 150.667 337.181 119.446 357.618Z" />
        <path d="M478.582 357.309 453.028 342.486 441.187 307.211C451.692 301.034 462.197 294.857 472.702 288.681L491.691 315.354 500.464 346.971 478.582 357.309Z" />
        <path d="M235.966 208.034 217.187 229.959 217.196 251.315 235.047 276.979 268.231 220.727 235.966 208.034Z" />
        <path d="M42.4314 258.695 94.0815 184.479 42.154 108.487-8.61622 118.677-30.1679 203.642-10.6432 263.156 42.4314 258.695Z" />
        <path d="M9.88824 77.5889-20.5748 62.1788-46.2576 85.5881-39.7791 104.035-6.87924 107.627 14.3458 97.1982 9.88824 77.5889Z" />
        <path d="M493.073 105.953 466.984 127.972 478.496 160.761 498.007 162.006 514.17 133.125 512.865 109.513 493.073 105.953Z" />
        <path d="M432.011 181.805 425.047 191.449 437.695 192.108 444.108 183.853 437.553 179.74 432.011 181.805Z" />
        <path d="M134.45 250.858 146 252 140.384 241.346 130.277 240 130 247.302 134.45 250.858Z" />
        <path d="M232.457 294.422 232 307 244.727 303.599 251 296.824 242.554 294 232.457 294.422Z" />
        <path d="M282.592 257.546 267.066 268 276.155 278.682 288.679 289.599 289.963 270.669 282.592 257.546Z" />
        <path d="M395.943 186.416 387.675 204.93 407.106 207.675 421.345 204.376 412.964 185.916 395.943 186.416Z" />
        <path d="M282.302 252.7 296.058 242.73 283.108 232.596 271.393 229.024 269.741 245.932 282.302 252.7Z" />
        <path d="M183.32 307 166 308.759 172.302 324.035 180.869 333 191 319.161 183.32 307Z" />
        <path d="M152.702 212.765 146.927 207.453 136.265 211.145 136.29 224.005 148.269 222.809 152.702 212.765Z" />
        <path d="M191.664 297.135 184.323 282.433 171.314 290.037 171.078 300.289 179.665 301.179 191.664 297.135Z" />
        <path d="M165.914 284.039 156.747 268.815 138.781 273.289 140.372 291.106 155.22 295.388 165.914 284.039Z" />
        <path d="M309.089 339.539 260.009 313.358 196.651 314.702 194.068 340.866 223.786 360.279 284.678 356.587 309.089 339.539Z" />
        <path d="M172.112 181.944 166.031 170.492 156.712 179.918 154.746 189.113 163.547 187.391 172.112 181.944Z" />
        <path d="M213.261 154.834C209.925 160.586 206.59 166.337 203.254 172.088L218.685 175.706 229.719 173.072 225.392 163.964 213.261 154.834Z" />
        <path d="M197.284 110.152 201.648 121.386 213.605 107.796 210.27 97.6844 199.947 103.314 197.284 110.152Z" />
        <path d="M39.268 82.8462 30.0921 70.5324 20.6737 90.3994 28.226 101.653 38.5196 91.8749 39.268 82.8462Z" />
        <path d="M319.659 36.35 387.774 72.6582 475.9 70.4285 479.638 33.8566 438.414 6.89809 353.704 12.3948 319.659 36.35Z" />
        <path d="M332.457 62.9986 325.116 48.2958 312.106 55.9005 311.871 66.1518 320.458 67.0425 332.457 62.9986Z" />
        <path d="M507.575 49.9391 490.41 42.4781 486.296 55.8867 483.835 72.3174 500.48 63.2131 507.575 49.9391Z" />
        <path d="M497.227 285.062 481.892 285.873 493.205 304.725 506.757 304.678 504.326 290.691 497.227 285.062Z" />
        <path d="M259.674 80.9278 311.324 6.71217 259.397-69.2798 208.627-59.09 187.075 25.8746 206.6 85.3884 259.674 80.9278Z" />
        <path d="M80.6745 371.148 90.1939 359.098 68.5661 355.142 59.6511 365.35 71.7598 372.762 80.6745 371.148Z" />
        <path d="M355.055 221.034 332.717 223.354 347.795 207.604" stroke-width="3" />
        <path d="M345.163 210.7 349.957 221.402" stroke-width="3" />
    </g>
</symbol>

@code {
    public override string Identifier => "astralelites";
    public override string Title => "Astral Elites";
}
