@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 512 384">
    <title>@Title</title>
    <path d="M54 31 290 31C296.627 31 302 36.3726 302 43L302 55 42 55 42 43C42 36.3726 47.3726 31 54 31Z"
          fill="#242636" fill-rule="evenodd" />
    <path d="M0 0 260 0 260 222.9C260 230.135 254.135 236 246.9 236L13.1004 236C5.86524 236 0 230.135 0 222.9L0 0Z"
          fill="#1D1F2B" fill-rule="evenodd"
          transform="matrix(-1 1.22465e-16 1.22465e-16 1 302 55)" />
    <path d="M274 41 274 41C272.896 41 272 40.1044 272 39L272 39C272 37.8956 272.896 37 274 37L274 37C275.104 37 276 37.8956 276 39L276 39C276 40.1044 275.104 41 274 41Z"
          fill="#393B4A" fill-rule="evenodd" />
    <path d="M283 41 283 41C281.896 41 281 40.1044 281 39L281 39C281 37.8956 281.896 37 283 37L283 37C284.104 37 285 37.8956 285 39L285 39C285 40.1044 284.104 41 283 41Z"
          fill="#393B4A" fill-rule="evenodd" />
    <path d="M292 41 292 41C290.896 41 290 40.1044 290 39L290 39C290 37.8956 290.896 37 292 37L292 37C293.104 37 294 37.8956 294 39L294 39C294 40.1044 293.104 41 292 41Z"
          fill="#393B4A" fill-rule="evenodd" />
    <path d="M274 50 274 50C272.896 50 272 49.1044 272 48L272 48C272 46.8956 272.896 46 274 46L274 46C275.104 46 276 46.8956 276 48L276 48C276 49.1044 275.104 50 274 50Z"
          fill="#393B4A" fill-rule="evenodd" />
    <path d="M283 50 283 50C281.896 50 281 49.1044 281 48L281 48C281 46.8956 281.896 46 283 46L283 46C284.104 46 285 46.8956 285 48L285 48C285 49.1044 284.104 50 283 50Z"
          fill="#393B4A" fill-rule="evenodd" />
    <path d="M292 50 292 50C290.896 50 290 49.1044 290 48L290 48C290 46.8956 290.896 46 292 46L292 46C293.104 46 294 46.8956 294 48L294 48C294 49.1044 293.104 50 292 50Z"
          fill="#393B4A" fill-rule="evenodd" />
    <path d="M48 41.0101C48 38.2431 50.2431 36 53.0101 36L58.9899 36C61.7569 36 64 38.2431 64 41.0101L64 46.9899C64 49.7569 61.7569 52 58.9899 52L53.0101 52C50.2431 52 48 49.7569 48 46.9899Z"
          fill="#393B4A" fill-rule="evenodd" />
    <path d="M69 41.0101C69 38.2431 71.2431 36 74.0101 36L161.99 36C164.757 36 167 38.2431 167 41.0101L167 46.9899C167 49.7569 164.757 52 161.99 52L74.0101 52C71.2431 52 69 49.7569 69 46.9899Z"
          fill="#393B4A" fill-rule="evenodd" />
    <path d="M51.8313 234.842C48.6232 233.579 46.9402 230.579 46.1513 224.895 45.8884 222.737 45.5728 220.737 45.5202 220.421 45.1521 218.736 45.6781 216.842 46.8351 215.842 47.8868 214.947 48.1498 214.21 48.1498 212.263 48.1498 209.894 48.0972 209.736 45.1521 207.736 40.9973 204.894 36.5797 202.736 35.5278 203.052 34.5812 203.368 28.0072 198.525 27.7442 197.315 27.6917 196.999 26.3243 195.946 24.7991 194.999 19.0666 191.578 17.3311 188.104 16.8052 178.84 16.5949 175.683 15.9637 171.788 15.1749 169.103 14.4386 166.63 13.3867 162.893 12.8609 160.787 11.809 156.524 7.81202 149.155 5.8661 147.839 4.65652 147.103 3.97287 144.839 3.92018 141.734 3.92018 140.05 1.55358 128.102 0.501822 124.47-0.392338 121.47-0.287082 116.786 0.764676 108.101 1.50101 102.364 1.97438 101.785 5.60313 101.733 11.4409 101.733 17.9096 106.47 17.2785 110.365 17.1207 111.417 17.3311 112.733 17.857 113.733 19.0666 116.102 18.9615 116.575 16.3845 119.207L14.0179 121.575 15.1222 123.891C17.4889 128.997 18.6985 130.944 21.8014 134.629 24.9043 138.313 25.4828 139.681 24.5887 141.102 24.3258 141.418 24.3258 143.524 24.5887 145.682 25.0095 149.471 26.0613 152.419 28.165 155.419 28.691 156.156 29.6902 158.366 30.3738 160.419 31.1101 162.419 31.9516 164.156 32.2146 164.208 32.5301 164.314 32.8982 163.261 33.0035 161.893 33.1612 160.524 34.1078 157.471 35.1597 155.208 36.6848 151.945 37.1582 150.208 37.316 147.208 37.4737 144.26 37.3686 143.313 36.7901 143.102 36.3693 142.945 36.0537 142.471 36.0537 142.05 36.0537 141.629 35.6856 140.892 35.2123 140.418 34.6863 139.945 33.8975 137.787 33.4242 135.681 32.5301 131.839 32.5301 131.734 33.582 131.049 34.4235 130.471 34.5286 130.155 34.0552 129.313 33.6346 128.523 33.6346 128.049 34.0552 127.628 34.476 127.207 34.0027 125.576 32.2146 121.628 29.2695 114.838 25.6932 100.259 26.5872 98.5222 27.1657 97.3642 26.2717 70.1528 25.5355 67.5212 25.2199 66.2052 24.694 64.4684 24.3784 63.5737 24.0629 62.7315 23.537 60.942 23.2214 59.6787 22.8532 58.4156 22.1696 57.205 21.6962 56.9418 20.1711 56.0471 20.1185 52.4154 21.5385 42.9414 23.011 33.3095 23.2214 26.5198 22.3273 23.046 22.0117 21.8881 21.6962 18.5722 21.5911 15.6774 21.5385 12.7826 21.0651 9.04554 20.5917 7.36127 19.0141 1.62428 19.54 0.782093 25.4302-0.32312 29.1642-1.06008 33.8975-0.375793 35.0545 0.992669 35.7382 1.78219 35.1597 7.62452 33.845 13.5721 32.6879 19.0459 33.4242 23.3618 38.1048 37.5202 39.2092 40.8361 40.5767 45.5731 41.1026 47.9942 41.9966 52.2575 41.9966 52.4154 41.05 53.0996 40.1033 53.8365 40.1033 53.8891 40.9973 55.7839 42.2596 58.3103 43.4166 62.5736 43.4166 64.5737 43.4166 65.4158 43.8899 66.8369 44.4685 67.7843 45.047 68.7317 46.6247 73.6266 47.9395 78.6267 49.2543 83.6796 50.8321 89.364 51.3579 91.3639L52.4098 94.8904 55.8282 94.8904 59.1941 94.8904 61.5607 91.2587C64.8214 86.2059 67.9243 79.9425 68.8184 76.4688 69.2392 74.8898 69.6598 73.3635 69.7651 73.0477 70.0806 72.1003 68.0295 66.7843 67.0303 65.9421 64.7688 64.0999 64.8214 53.3628 67.0303 48.4679 68.3451 45.6256 69.4494 38.415 69.4494 33.0464 69.4494 31.0463 68.9762 26.5724 68.4503 23.2039 67.9243 19.8353 67.6088 16.4669 67.8192 15.7826 68.1873 14.3089 70.2909 13.5194 76.1813 12.7826 78.3374 12.5193 82.3344 11.572 85.0693 10.6771 90.2758 9.04554 95.6402 8.57183 97.6386 9.62448 98.9009 10.3088 98.9534 12.3614 97.7438 13.4142 97.2179 13.8878 95.4824 14.8879 93.9046 15.6774 90.9069 17.1511 86.5418 20.9407 86.5418 22.0987 86.5418 22.467 85.1218 23.6776 83.4389 24.8356 80.7567 26.6778 80.1782 27.3619 79.4419 29.6778 78.8108 31.4673 78.653 33.0989 78.8634 34.52 79.2315 37.0465 81.5456 43.9414 83.9122 49.6785 86.9625 57.0997 88.8033 65.679 87.6988 67.4159 87.4359 67.7843 87.5937 69.4686 88.0669 71.2055 88.8033 74.1003 88.8033 74.4687 87.6988 78.4162 87.0677 80.6795 86.3314 84.4164 86.0159 86.7323 85.7003 89.0482 85.0167 92.8378 84.4382 95.1536 83.9122 97.4694 83.4914 99.7327 83.544 100.154 83.5967 100.575 82.8604 103.312 81.9663 106.207 81.0197 109.101 79.9153 113.47 79.3893 115.944 78.916 118.417 78.1272 121.26 77.6012 122.26 76.6545 124.102 76.6545 124.207 77.6012 125.418 78.2323 126.26 78.3901 126.944 78.0745 127.313 77.7589 127.681 77.9693 128.365 78.653 129.26L79.7049 130.576 78.1797 134.734C77.0227 137.997 76.4442 138.892 75.5502 138.997 74.8138 139.102 74.4457 139.471 74.6561 139.892 74.7613 140.26 74.3932 140.997 73.8147 141.576 72.9732 142.313 72.8153 142.945 73.0783 144.629 73.5517 147.945 74.4983 150.84 74.919 150.366 75.8657 149.261 77.7589 143.997 77.7064 142.734 77.6538 141.892 78.3901 140.208 79.7574 138.26 80.9144 136.576 82.1767 134.734 82.4923 134.208 82.8604 133.681 85.1218 131.576 87.4884 129.523L91.9062 125.786 91.6432 123.102C91.538 121.628 91.0647 119.47 90.5914 118.312 89.5395 115.733 89.4343 109.891 90.381 109.154 90.6965 108.838 91.9062 107.891 93.0105 106.943 94.9564 105.312 94.9564 105.312 96.429 106.259 98.2698 107.47 103.897 113.312 103.897 114.049 103.897 114.365 103.424 115.891 102.793 117.47 102.004 119.575 101.899 120.418 102.372 120.681 102.793 120.997 102.845 121.575 102.424 122.839 102.109 123.839 101.583 126.628 101.267 129.102 100.899 131.576 100.216 134.313 99.6898 135.155 98.0594 137.997 96.1135 143.471 95.4824 147.155 94.9564 149.945 94.6409 150.682 93.9046 150.682 93.3788 150.682 91.9062 152.155 90.381 154.261 88.1195 157.366 87.8565 157.945 88.3299 159.208 88.698 160.208 88.6454 163.156 88.1722 168.209 87.6988 173.577 87.6988 176.104 88.0669 177.156 89.8025 181.735 87.1203 190.209 83.1233 192.946 82.0189 193.683 80.7567 194.999 80.2308 195.841 79.1264 197.683 72.8153 201.368 71.6058 200.894 70.8169 200.578 69.8702 201.42 65.3999 206.368 64.0326 207.841 63.9799 208.21 64.2954 211.157 64.4533 212.947 64.8214 214.368 65.0318 214.368 65.7154 214.368 67.6088 218.368 67.6088 219.789 67.6088 220.526 67.2407 221.368 66.8199 221.737 66.3466 222.105 66.0837 222.737 66.2414 223.105 66.6622 224.158 65.5577 230.684 64.7688 231.842 64.3481 232.369 63.2437 233.421 62.2971 234.158 60.8244 235.211 59.9829 235.421 56.8801 235.369 54.8291 235.369 52.5676 235.105 51.8313 234.842Z"
          fill="#393B4A" fill-rule="evenodd" transform="matrix(1 0 0 -1 353 280)" />
    <path d="M48.5001 75.7675C48.5001 72.3061 51.3061 69.5001 54.7675 69.5001L77.2326 69.5001C80.694 69.5001 83.5 72.3061 83.5 75.7675L83.5 99.2326C83.5 102.694 80.694 105.5 77.2326 105.5L54.7675 105.5C51.3061 105.5 48.5001 102.694 48.5001 99.2326Z"
          stroke="#70AD47" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M91.5001 75.5884C91.5001 72.2259 94.2259 69.5001 97.5884 69.5001L119.412 69.5001C122.774 69.5001 125.5 72.2259 125.5 75.5884L125.5 99.4117C125.5 102.774 122.774 105.5 119.412 105.5L97.5884 105.5C94.2259 105.5 91.5001 102.774 91.5001 99.4117Z"
          stroke="#1C62FF" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M133.5 75.5884C133.5 72.2259 136.226 69.5001 139.588 69.5001L161.412 69.5001C164.774 69.5001 167.5 72.2259 167.5 75.5884L167.5 99.4117C167.5 102.774 164.774 105.5 161.412 105.5L139.588 105.5C136.226 105.5 133.5 102.774 133.5 99.4117Z"
          stroke="#1C62FF" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M49.5001 120.588C49.5001 117.226 52.2259 114.5 55.5884 114.5L77.4117 114.5C80.7742 114.5 83.5001 117.226 83.5001 120.588L83.5001 143.412C83.5001 146.774 80.7742 149.5 77.4117 149.5L55.5884 149.5C52.2259 149.5 49.5001 146.774 49.5001 143.412Z"
          stroke="#1C62FF" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M91.5001 120.588C91.5001 117.226 94.2259 114.5 97.5884 114.5L119.412 114.5C122.774 114.5 125.5 117.226 125.5 120.588L125.5 143.412C125.5 146.774 122.774 149.5 119.412 149.5L97.5884 149.5C94.2259 149.5 91.5001 146.774 91.5001 143.412Z"
          stroke="#70AD47" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M133.5 120.588C133.5 117.226 136.226 114.5 139.588 114.5L161.412 114.5C164.774 114.5 167.5 117.226 167.5 120.588L167.5 143.412C167.5 146.774 164.774 149.5 161.412 149.5L139.588 149.5C136.226 149.5 133.5 146.774 133.5 143.412Z"
          stroke="#1C62FF" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M49.5001 164.588C49.5001 161.226 52.2259 158.5 55.5884 158.5L77.4117 158.5C80.7742 158.5 83.5 161.226 83.5 164.588L83.5 188.412C83.5 191.774 80.7742 194.5 77.4117 194.5L55.5884 194.5C52.2259 194.5 49.5001 191.774 49.5001 188.412Z"
          stroke="#393B4A" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M91.5001 164.588C91.5001 161.226 94.2259 158.5 97.5884 158.5L119.412 158.5C122.774 158.5 125.5 161.226 125.5 164.588L125.5 188.412C125.5 191.774 122.774 194.5 119.412 194.5L97.5884 194.5C94.2259 194.5 91.5001 191.774 91.5001 188.412Z"
          stroke="#7F7F7F" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M133.5 164.767C133.5 161.306 136.306 158.5 139.767 158.5L162.233 158.5C165.694 158.5 168.5 161.306 168.5 164.767L168.5 188.233C168.5 191.694 165.694 194.5 162.233 194.5L139.767 194.5C136.306 194.5 133.5 191.694 133.5 188.233Z"
          stroke="#7F7F7F" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M175.5 75.5884C175.5 72.2259 178.226 69.5001 181.588 69.5001L203.412 69.5001C206.774 69.5001 209.5 72.2259 209.5 75.5884L209.5 99.4117C209.5 102.774 206.774 105.5 203.412 105.5L181.588 105.5C178.226 105.5 175.5 102.774 175.5 99.4117Z"
          stroke="#70AD47" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M175.5 120.768C175.5 117.306 178.306 114.5 181.768 114.5L204.233 114.5C207.694 114.5 210.5 117.306 210.5 120.768L210.5 143.233C210.5 146.694 207.694 149.5 204.233 149.5L181.768 149.5C178.306 149.5 175.5 146.694 175.5 143.233Z"
          stroke="#393B4A" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M176.5 164.588C176.5 161.226 179.226 158.5 182.588 158.5L204.412 158.5C207.774 158.5 210.5 161.226 210.5 164.588L210.5 188.412C210.5 191.774 207.774 194.5 204.412 194.5L182.588 194.5C179.226 194.5 176.5 191.774 176.5 188.412Z"
          stroke="#393B4A" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M217.5 75.5884C217.5 72.2259 220.226 69.5001 223.588 69.5001L245.412 69.5001C248.774 69.5001 251.5 72.2259 251.5 75.5884L251.5 99.4117C251.5 102.774 248.774 105.5 245.412 105.5L223.588 105.5C220.226 105.5 217.5 102.774 217.5 99.4117Z"
          stroke="#393B4A" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M218.5 120.588C218.5 117.226 221.226 114.5 224.588 114.5L246.412 114.5C249.774 114.5 252.5 117.226 252.5 120.588L252.5 143.412C252.5 146.774 249.774 149.5 246.412 149.5L224.588 149.5C221.226 149.5 218.5 146.774 218.5 143.412Z"
          stroke="#393B4A" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M218.5 164.588C218.5 161.226 221.226 158.5 224.588 158.5L246.412 158.5C249.774 158.5 252.5 161.226 252.5 164.588L252.5 188.412C252.5 191.774 249.774 194.5 246.412 194.5L224.588 194.5C221.226 194.5 218.5 191.774 218.5 188.412Z"
          stroke="#7F7F7F" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M259.5 75.7675C259.5 72.3061 262.306 69.5001 265.767 69.5001L288.233 69.5001C291.694 69.5001 294.5 72.3061 294.5 75.7675L294.5 99.2326C294.5 102.694 291.694 105.5 288.233 105.5L265.767 105.5C262.306 105.5 259.5 102.694 259.5 99.2326Z"
          stroke="#393B4A" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M260.5 120.588C260.5 117.226 263.226 114.5 266.588 114.5L288.412 114.5C291.774 114.5 294.5 117.226 294.5 120.588L294.5 143.412C294.5 146.774 291.774 149.5 288.412 149.5L266.588 149.5C263.226 149.5 260.5 146.774 260.5 143.412Z"
          stroke="#1C62FF" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M260.5 164.588C260.5 161.226 263.226 158.5 266.588 158.5L288.412 158.5C291.774 158.5 294.5 161.226 294.5 164.588L294.5 188.412C294.5 191.774 291.774 194.5 288.412 194.5L266.588 194.5C263.226 194.5 260.5 191.774 260.5 188.412Z"
          stroke="#393B4A" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M48.5001 209.767C48.5001 206.306 51.3061 203.5 54.7675 203.5L77.2326 203.5C80.694 203.5 83.5 206.306 83.5 209.767L83.5 233.233C83.5 236.694 80.694 239.5 77.2326 239.5L54.7675 239.5C51.3061 239.5 48.5001 236.694 48.5001 233.233Z"
          stroke="#393B4A" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M91.5001 209.588C91.5001 206.226 94.2259 203.5 97.5884 203.5L119.412 203.5C122.774 203.5 125.5 206.226 125.5 209.588L125.5 233.412C125.5 236.774 122.774 239.5 119.412 239.5L97.5884 239.5C94.2259 239.5 91.5001 236.774 91.5001 233.412Z"
          stroke="#393B4A" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M133.5 209.588C133.5 206.226 136.226 203.5 139.588 203.5L161.412 203.5C164.774 203.5 167.5 206.226 167.5 209.588L167.5 233.412C167.5 236.774 164.774 239.5 161.412 239.5L139.588 239.5C136.226 239.5 133.5 236.774 133.5 233.412Z"
          stroke="#393B4A" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M175.5 209.588C175.5 206.226 178.226 203.5 181.588 203.5L203.412 203.5C206.774 203.5 209.5 206.226 209.5 209.588L209.5 233.412C209.5 236.774 206.774 239.5 203.412 239.5L181.588 239.5C178.226 239.5 175.5 236.774 175.5 233.412Z"
          stroke="#1C62FF" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M217.5 209.588C217.5 206.226 220.226 203.5 223.588 203.5L245.412 203.5C248.774 203.5 251.5 206.226 251.5 209.588L251.5 233.412C251.5 236.774 248.774 239.5 245.412 239.5L223.588 239.5C220.226 239.5 217.5 236.774 217.5 233.412Z"
          stroke="#1C62FF" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M259.5 209.767C259.5 206.306 262.306 203.5 265.767 203.5L288.233 203.5C291.694 203.5 294.5 206.306 294.5 209.767L294.5 233.233C294.5 236.694 291.694 239.5 288.233 239.5L265.767 239.5C262.306 239.5 259.5 236.694 259.5 233.233Z"
          stroke="#393B4A" stroke-width="1.33333" stroke-miterlimit="8" fill="#242636"
          fill-rule="evenodd" />
    <path d="M48.5001 254.588C48.5001 251.226 51.2259 248.5 54.5884 248.5L76.4117 248.5C79.7742 248.5 82.5001 251.226 82.5001 254.588L82.5001 277.412C82.5001 280.774 79.7742 283.5 76.4117 283.5L54.5884 283.5C51.2259 283.5 48.5001 280.774 48.5001 277.412Z"
          stroke="#393B4A" stroke-width="1.33333" stroke-miterlimit="8" fill="#1F202D"
          fill-rule="evenodd" />
    <path d="M91.5001 254.588C91.5001 251.226 94.2259 248.5 97.5884 248.5L119.412 248.5C122.774 248.5 125.5 251.226 125.5 254.588L125.5 277.412C125.5 280.774 122.774 283.5 119.412 283.5L97.5884 283.5C94.2259 283.5 91.5001 280.774 91.5001 277.412Z"
          stroke="#393B4A" stroke-width="1.33333" stroke-miterlimit="8" fill="#1F202D"
          fill-rule="evenodd" />
    <path d="M133.5 254.588C133.5 251.226 136.226 248.5 139.588 248.5L161.412 248.5C164.774 248.5 167.5 251.226 167.5 254.588L167.5 277.412C167.5 280.774 164.774 283.5 161.412 283.5L139.588 283.5C136.226 283.5 133.5 280.774 133.5 277.412Z"
          stroke="#393B4A" stroke-width="1.33333" stroke-miterlimit="8" fill="#1F202D"
          fill-rule="evenodd" />
    <path d="M175.5 254.588C175.5 251.226 178.226 248.5 181.588 248.5L203.412 248.5C206.774 248.5 209.5 251.226 209.5 254.588L209.5 277.412C209.5 280.774 206.774 283.5 203.412 283.5L181.588 283.5C178.226 283.5 175.5 280.774 175.5 277.412Z"
          stroke="#393B4A" stroke-width="1.33333" stroke-miterlimit="8" fill="#1F202D"
          fill-rule="evenodd" />
    <path d="M217.5 254.588C217.5 251.226 220.226 248.5 223.588 248.5L245.412 248.5C248.774 248.5 251.5 251.226 251.5 254.588L251.5 277.412C251.5 280.774 248.774 283.5 245.412 283.5L223.588 283.5C220.226 283.5 217.5 280.774 217.5 277.412Z"
          stroke="#393B4A" stroke-width="1.33333" stroke-miterlimit="8" fill="#1F202D"
          fill-rule="evenodd" />
    <path d="M259.5 254.768C259.5 251.306 262.306 248.5 265.768 248.5L288.233 248.5C291.694 248.5 294.5 251.306 294.5 254.768L294.5 277.233C294.5 280.694 291.694 283.5 288.233 283.5L265.768 283.5C262.306 283.5 259.5 280.694 259.5 277.233Z"
          stroke="#393B4A" stroke-width="1.33333" stroke-miterlimit="8" fill="#1F202D"
          fill-rule="evenodd" />
    <g>
        <g>
            <g>
                <path d="M65.3184 116.725C61.7752 116.747 58.3883 118.54 55.8438 121.246 52.5045 124.797 50.722 129.865 52.0294 134.377 53.05 133.827 54.0767 133.378 55.0879 133.041 54.6924 125.344 60.6658 119.858 67.5898 119.895 67.8557 119.059 68.2315 118.188 68.7227 117.277 67.7025 116.938 66.6767 116.755 65.6621 116.729 65.5475 116.726 65.4327 116.724 65.3183 116.725ZM67.2675 121.061C61.1702 121.17 56.0229 125.879 56.2442 132.705 56.9308 132.534 57.6059 132.419 58.2617 132.365 59.1736 132.291 60.0548 132.336 60.8731 132.518L67.707 125.684C67.3783 124.927 67.1774 124.12 67.123 123.262 67.0782 122.558 67.1318 121.825 67.285 121.061 67.2792 121.061 67.2733 121.061 67.2675 121.061ZM71.0703 124.855 70.0156 125.91 71.9219 127.812 72.9727 126.762 71.0703 124.855ZM68.75 126.293 61.2891 133.754 64.0781 136.539 71.5352 129.082 68.75 126.293ZM80.6172 129.174C79.7131 129.662 78.8473 130.037 78.0176 130.303 78.0644 137.241 72.5649 143.228 64.8497 142.82 64.5128 143.827 64.0652 144.849 63.5176 145.865 68.0295 147.173 73.0997 145.39 76.6505 142.051 80.2158 138.698 82.1828 133.881 80.6174 129.174ZM72.1172 130.152 65.3554 136.914C65.5573 137.762 65.6108 138.679 65.5332 139.631 65.4793 140.292 65.3612 140.973 65.1876 141.666 72.0366 141.898 76.7581 136.728 76.8497 130.609 76.0783 130.766 75.3397 130.822 74.6309 130.777 73.738 130.721 72.8998 130.506 72.1172 130.152ZM60.9062 135.02 51.5684 144.357 51.5684 146.375 53.3594 146.375 62.8086 136.926 60.9062 135.02Z"
                      fill="#D9D9D9" />
            </g>
        </g>
    </g>
    <g>
        <g>
            <g>
                <path d="M94.0294 162.459C97.9635 164.048 100.831 166.291 101.27 170.711L101.27 170.723C104.539 172.606 107.057 175.256 107.787 178.219 107.899 178.673 107.965 179.134 107.982 179.596 109.966 179.39 111.982 178.287 113.473 176.682 115.124 174.902 116.101 172.562 115.775 170.242 114.825 170.362 113.847 170.3 112.869 170.098 109.726 169.448 106.513 167.412 103.584 165.23 103.285 164.967 102.963 164.725 102.621 164.502 100.447 163.084 97.4421 162.459 94.0292 162.459ZM106.98 164.078 105.998 165.516C107.2 166.335 108.422 167.084 109.631 167.686L110.471 166.482C109.695 165.309 108.284 164.46 106.98 164.078ZM121.941 165.414C120.886 167.381 119.627 168.703 118.209 169.469 117.79 169.695 117.361 169.871 116.922 170.002 117.339 172.754 116.188 175.471 114.328 177.475 112.623 179.311 110.302 180.596 107.92 180.777 107.64 182.745 106.457 184.706 104.186 186.422 106.732 186.995 109.107 186.988 111.275 186.541L111.758 183.477 111.941 182.314 112.756 183.164 114.75 185.242C116.487 184.195 118.794 182.473 119.951 180.998L118.144 177.875 117.428 176.639 118.805 177.02 121.801 177.848C122.628 176.356 123.134 174.065 123.143 171.668 123.151 169.49 122.754 167.238 121.941 165.414ZM101.443 172.186 93.5977 183.672 93.6485 190.586 104.619 174.867C103.758 173.891 102.678 172.98 101.443 172.186Z"
                      fill="#D9D9D9" />
            </g>
        </g>
    </g>
    <g>
        <g>
            <g>
                <path d="M240.638 161.625 240.448 162.016 240.86 162.839 240.26 162.401 239.741 163.469 240.114 164.288 239.489 163.986 239.267 164.442 240.351 166.298 238.234 170.648C238.614 170.729 238.996 170.801 239.38 170.865L241.362 166.791 241.365 166.791 242.736 163.973 242.733 163.974 243.255 162.902 242.243 162.409 241.722 163.48 240.638 161.625ZM222.786 162.686C222.747 162.686 222.707 162.687 222.667 162.69 222.351 162.708 222.037 162.798 221.751 162.975 221.466 163.15 221.352 163.398 221.261 163.652 221.17 163.906 221.112 164.194 221.068 164.529 220.98 165.201 220.954 166.059 220.975 167.071 221.016 169.094 221.246 171.718 221.595 174.467 222.147 178.808 222.971 183.411 223.878 186.454L223.882 186.454C223.916 186.571 223.953 186.697 223.992 186.826L223.993 186.829C224.016 186.9 224.038 186.971 224.061 187.041 224.167 187.363 224.291 187.682 224.433 187.91 224.549 188.096 224.668 188.208 224.756 188.252 224.844 188.296 224.909 188.315 225.099 188.247 225.209 188.208 225.208 188.209 225.246 188.044 225.283 187.879 225.277 187.567 225.213 187.193 225.147 186.806 225.027 186.357 224.899 185.889 224.074 182.984 223.241 178.493 222.711 174.326 222.366 171.605 222.14 169.005 222.1 167.048 222.08 166.069 222.108 165.249 222.183 164.676 222.221 164.39 222.272 164.166 222.32 164.032 222.344 163.965 222.369 163.929 222.379 163.914 222.638 163.767 222.861 163.76 223.206 163.889 223.57 164.025 224.027 164.345 224.516 164.805 225.492 165.726 226.591 167.18 227.704 168.618 228.817 170.057 229.941 171.483 231.098 172.402 231.472 172.698 231.853 172.945 232.25 173.113 232.412 173.155 232.623 173.203 232.839 173.232 233.065 173.262 233.291 173.266 233.43 173.241 233.532 173.223 233.558 173.204 233.562 173.202 233.774 172.817 233.683 172.701 233.476 172.49 233.269 172.277 232.842 172.115 232.699 172.106L232.701 172.079C232.427 171.964 232.121 171.777 231.798 171.521 230.814 170.74 229.701 169.36 228.594 167.93 227.487 166.5 226.383 165.02 225.288 163.987 224.74 163.47 224.194 163.057 223.6 162.835 223.341 162.738 223.064 162.686 222.786 162.686ZM234.732 162.94 234.223 164.446 234.804 165.762 233.951 165.251 233.729 165.908 235.039 167.611 234.389 169.536C234.743 169.664 235.097 169.786 235.453 169.901L236.105 167.972 236.107 167.971 237.11 165.003 237.108 165.004 237.489 163.874 236.423 163.514 236.042 164.642 234.732 162.94ZM244.861 163.686 244.075 163.792 243.324 165.337 244.468 164.493 244.86 163.686ZM239.181 164.449 238.416 164.654 237.413 167.622 238.178 167.417 239.181 164.449ZM245.856 164.793 245.305 165.553 245.447 167.338 244.843 166.19 244.017 167.33 244.763 169.345 243.404 171.219C243.863 171.225 244.329 171.22 244.805 171.204L245.673 170.006 245.676 170.007 247.515 167.47 247.512 167.47 248.212 166.505 247.301 165.844 246.602 166.808 245.856 164.793ZM244.049 165.355 243.21 165.569 242.704 166.61 243.489 166.503 244.049 165.355ZM248.865 167.524 248.565 167.938 249.363 167.961 249.657 167.555 248.865 167.524ZM248.507 168.018 247.026 170.061 247.818 170.092 248.219 169.539 247.839 169.314 248.431 169.246 249.114 168.304 248.507 168.018ZM233.622 170.445C233.516 170.661 233.41 170.873 233.304 171.088 233.648 171.201 233.987 171.402 234.281 171.704 234.726 172.16 234.965 172.989 234.544 173.75 234.337 174.125 233.953 174.29 233.627 174.348 233.301 174.407 232.984 174.386 232.69 174.347 232.304 174.295 231.968 174.205 231.773 174.147 231.683 174.324 231.594 174.5 231.504 174.675 234.681 176.368 238.35 176.097 241.969 175.34 242.72 174.357 243.465 173.356 244.212 172.333 240.275 172.389 236.892 171.672 233.622 170.445ZM230.988 175.675C229.368 178.795 227.69 181.811 225.786 184.852 225.967 185.539 226.201 186.299 226.322 187.003 226.398 187.448 226.438 187.874 226.343 188.293 226.248 188.711 225.937 189.143 225.477 189.307 225.053 189.458 224.602 189.433 224.252 189.258 223.902 189.082 223.662 188.8 223.479 188.506 223.465 188.484 223.452 188.461 223.438 188.439 223.292 188.653 223.146 188.867 222.996 189.082 223.9 190.628 225.484 191.407 226.888 191.374 232.558 186.585 236.872 181.867 240.929 176.686 237.593 177.265 234.116 177.336 230.988 175.675Z"
                      fill="#D9D9D9" />
            </g>
        </g>
    </g>
    <g>
        <g>
            <g>
                <path d="M182.719 207.127 188.346 228.736 206.422 230.189 200.793 208.58 182.719 207.127ZM181.537 207.225C179.633 207.967 178.057 210.543 178.428 211.932L178.631 212.668C178.673 212.558 178.716 212.448 178.762 212.338 179.381 210.856 180.422 209.415 181.91 208.656L181.537 207.225ZM182.215 209.824C181.174 210.45 180.345 211.579 179.84 212.787 179.512 213.572 179.337 214.389 179.293 215.07L183.344 229.775C183.362 229.741 183.38 229.706 183.398 229.672 184.061 228.469 185.137 227.316 186.594 226.643L182.215 209.824ZM186.895 227.799C185.79 228.366 184.948 229.281 184.422 230.236 184.143 230.743 183.967 231.259 183.879 231.721L184.609 234.371 184.711 234.379C184.471 232.657 185.42 230.598 187.289 229.311L186.895 227.799ZM188.541 229.924C186.506 231.003 185.634 233.201 185.926 234.483L204.041 236.014C203.707 235.527 203.499 234.892 203.504 234.233L202.104 233.67 205 233.215 204.156 232.41C204.507 231.978 205.013 231.594 205.707 231.305L188.541 229.924Z"
                      fill="#D9D9D9" />
            </g>
        </g>
    </g>
    <g>
        <g>
            <g>
                <path d="M6.31875 1.555 8.46875 9.8125 13.975 10.1125 13.7875 9.0375 13.6687 8.3375 21.375 8.8 21.6812 10.5375 26.425 10.8 24.3937 3.01125 6.31875 1.555ZM5.1425 1.655C3.23625 2.39875 1.66125 4.97375 2.03 6.3625L2.23625 7.1C2.27375 6.9875 2.3175 6.88125 2.3675 6.76875 2.98625 5.28625 4.02375 3.8425 5.51125 3.08625L5.1425 1.655ZM5.8175 4.255C4.77375 4.88 3.94875 6.01125 3.4425 7.21875 3.1175 8 2.9425 8.81875 2.89875 9.5L3.99 13.4688C4.79 12.1438 5.87687 10.825 7.3625 10.1938L5.8175 4.255ZM15.0188 9.55 16.2812 16.8875 21.7188 17.1562 20.425 9.875 15.0188 9.55ZM17.9438 10.875C17.9933 10.8728 18.0434 10.8728 18.0938 10.875 18.9331 10.9109 19.6939 11.5351 19.793 12.2691 19.7932 12.2711 19.7935 12.2731 19.7938 12.275 19.8666 12.8297 19.5378 13.3081 18.9688 13.475L20.2687 15.8188 17.225 15.6812 17.9062 13.425C17.2858 13.2055 16.8249 12.6923 16.75 12.1375 16.6588 11.4541 17.175 10.9082 17.9438 10.875ZM8.76875 10.9563 9.70625 14.5562 14.7812 14.7688 14.1687 11.2563 8.76875 10.9563ZM7.65 11.3062C6.2875 11.9688 5.18 13.575 4.41687 15.0188L5.19562 17.85C5.8375 16.8687 6.69375 15.8 8.54375 14.7312L7.65 11.3062ZM21.8875 11.675 22.4937 15.0938 27.6 15.3125 26.7188 11.9438 21.8875 11.675ZM10 15.6938 11.95 23.1688 30.025 24.6187 27.9 16.4562 22.6938 16.2375 23.0688 18.3563 15.3313 17.9625 14.975 15.9062 10 15.6938ZM8.8375 15.8625C6.8375 17.075 6.35625 18.1063 5.60063 19.325L6.94375 24.2062C6.9625 24.175 6.98125 24.1375 7 24.1063 7.6625 22.9 8.7375 21.75 10.1938 21.075L8.8375 15.8625ZM10.5 22.2313C9.39375 22.8 8.55 23.7125 8.025 24.6688 7.74375 25.175 7.56875 25.6875 7.48125 26.15L8.2125 28.8 8.3125 28.8125C8.075 27.0875 9.025 25.0312 10.8938 23.7437L10.5 22.2313ZM12.1438 24.3563C10.1062 25.4375 9.2375 27.6313 9.53125 28.9125L27.6437 30.4438C27.3125 29.9562 27.1 29.325 27.1063 28.6625L25.7062 28.1 28.6 27.6437 27.7563 26.8438C28.1063 26.4062 28.6125 26.025 29.3125 25.7375L12.1438 24.3563Z"
                      fill="#D9D9D9" transform="matrix(1 0 0 1.03125 134.312 115.516)" />
            </g>
        </g>
    </g>
    <g>
        <g>
            <g>
                <path d="M140.725 163.123 146.354 184.734 164.428 186.188 158.797 164.576 140.725 163.123ZM139.543 163.223C137.639 163.965 136.063 166.541 136.434 167.93L136.637 168.666C136.678 168.556 136.722 168.446 136.768 168.336 137.387 166.854 138.428 165.413 139.916 164.654L139.543 163.223ZM142.352 164.404 157.84 165.754 162.898 184.826 147.314 183.572 142.352 164.404ZM140.221 165.822C139.179 166.448 138.351 167.576 137.846 168.785 137.518 169.57 137.343 170.388 137.299 171.068L141.35 185.773C141.368 185.739 141.385 185.704 141.404 185.67 142.067 184.466 143.143 183.314 144.6 182.641L140.221 165.822ZM144.9 183.795C143.796 184.362 142.954 185.277 142.428 186.232 142.149 186.739 141.974 187.255 141.885 187.717L142.615 190.367 142.717 190.375C142.478 188.654 143.428 186.597 145.295 185.311L144.9 183.795ZM146.547 185.922C144.512 187.001 143.641 189.197 143.932 190.478L162.047 192.012C161.715 191.527 161.507 190.896 161.51 190.24L160.1 189.674 163.014 189.217 162.164 188.406C162.514 187.975 163.02 187.592 163.713 187.303L146.547 185.922Z"
                      fill="#D9D9D9" />
            </g>
        </g>
    </g>
    <g>
        <g>
            <g>
                <path d="M70.9362 72.7241C70.8681 72.7235 70.8013 72.7243 70.7356 72.7266 69.8153 72.7585 69.1191 73.0793 68.7261 73.6335 68.277 74.2667 68.2467 75.1722 68.6747 76.2114 69.1026 77.2506 69.9912 78.3668 71.2343 79.2472 72.4772 80.1277 73.8254 80.5959 74.9484 80.6551 76.0714 80.7145 76.9167 80.3857 77.3659 79.7524 77.8149 79.1191 77.8451 78.2136 77.4173 77.1743 76.9893 76.1352 76.1007 75.0191 74.8577 74.1387 73.6146 73.2581 72.2664 72.7899 71.1434 72.7306 71.0732 72.7269 71.0041 72.7247 70.9362 72.7241ZM67.9512 77.3869 66.7736 79.0475C66.7469 79.085 66.7222 79.1231 66.6986 79.1615 66.1278 79.0103 65.5538 78.9144 64.9863 78.8834 64.8709 78.8769 64.7557 78.8734 64.6406 78.8729 64.5256 78.8724 64.4108 78.8749 64.2964 78.8804 62.6961 78.9569 61.1802 79.6245 60.16 81.0631L51.9483 92.6427 52.1583 92.9736 56.7386 100.192 65.4521 102.208 73.6729 90.6156C74.8411 88.9681 74.8417 87.0464 74.1315 85.3406 73.8331 84.6237 73.4159 83.9359 72.9109 83.2929L74.0279 81.7175C73.6322 81.6444 73.2304 81.5354 72.8272 81.3915L71.9096 82.6856C71.6744 83.0171 71.3378 83.1248 70.8009 83.0666 70.2639 83.0084 69.5943 82.7323 69.0156 82.3283 68.4368 81.9243 67.9512 81.3931 67.7191 80.9119 67.4869 80.4307 67.4743 80.0784 67.7262 79.7231L68.6523 78.4176C68.3842 78.0827 68.1491 77.7377 67.9512 77.3869ZM64.6333 80.0402C64.7287 80.0411 64.825 80.0443 64.9222 80.0496 65.3991 80.0758 65.8942 80.1596 66.3945 80.2931 66.3989 80.6828 66.4989 81.0709 66.667 81.4193 67.0206 82.1524 67.6355 82.7892 68.347 83.2859 69.0586 83.7828 69.8686 84.1403 70.6751 84.2278 71.1246 84.2766 71.594 84.2248 72.0099 84.0453 72.4486 84.6072 72.8063 85.1963 73.0533 85.7895 73.6507 87.2248 73.6496 88.6292 72.7201 89.9399L71.9119 91.0797 65.979 88.0161 67.4649 85.9206 66.5121 85.245 64.6888 87.8163 55.4964 89.6586 61.1127 81.7386C61.9233 80.5954 63.0408 80.0942 64.3499 80.0439 64.4434 80.0403 64.5379 80.0391 64.6333 80.04ZM55.1511 90.1456 60.907 93.1492 57.0786 98.5478 53.3548 92.679 55.1511 90.1456ZM71.5578 91.5793 64.9524 100.894 57.9894 99.2827 62.1975 93.3486 71.5578 91.5793Z"
                      fill="#D9D9D9" />
            </g>
        </g>
    </g>
    <g>
        <g>
            <g>
                <path d="M200.169 73.1875 199.262 74.4625 202.356 76.6562 203.262 75.3875 200.169 73.1875ZM196.581 73.9563 195.7 75.25 202.656 80.0125 203.538 78.7188 196.581 73.9563ZM196.125 77.2937 191.756 82.4688C191.113 82.3375 190.45 82.2688 189.769 82.2688 184.344 82.2688 179.941 86.675 179.941 92.1 179.941 97.5 184.344 101.938 189.769 101.938 195.194 101.938 199.6 97.5 199.6 92.1 199.6 89.7375 198.762 87.5687 197.375 85.875L200.587 80.4437 196.125 77.2937ZM196.587 79.7312 198.431 80.95 195.525 85.825C197.156 87.3187 198.181 89.4625 198.181 91.85 198.181 96.35 194.525 100 190.019 100 185.519 100 181.859 96.35 181.859 91.85 181.859 87.3438 185.519 83.6875 190.019 83.6875 191.431 83.6875 192.762 84.05 193.925 84.6813L196.587 79.7312ZM194.619 91.0125C191.663 90.9688 186.731 94.6562 183.475 91.8562 183.481 95.4625 186.413 98.375 190.019 98.375 193.525 98.375 196.394 95.625 196.556 92.1562 196.119 91.3313 195.444 91.025 194.619 91.0125ZM193.9 92.4688C194.219 92.4625 194.506 92.5625 194.694 92.7812 195.125 93.275 194.894 94.1813 194.175 94.8063 193.462 95.4313 192.531 95.5375 192.1 95.0437 191.669 94.55 191.9 93.6438 192.613 93.0188 193.019 92.6687 193.488 92.4812 193.9 92.4688ZM190.369 95.5375C190.444 95.5375 190.519 95.5437 190.6 95.5563 191.219 95.65 191.675 96.0687 191.613 96.5 191.55 96.9375 191 97.1875 190.375 97.125 189.756 97 189.3 96.625 189.363 96.1687 189.419 95.7937 189.844 95.5375 190.369 95.5375Z"
                      fill="#D9D9D9" />
            </g>
        </g>
    </g>
    <g>
        <g>
            <g>
                <path d="M118.242 116.789 117.83 117.219 117.445 117.617 121.975 122.147 122.379 121.75 122.799 121.338 122.381 120.922 118.664 117.209 118.242 116.789ZM115.59 117.414 113.529 119.473 119.992 125.936 122.051 123.875 115.59 117.414ZM106.014 121.055C105.942 121.055 105.871 121.055 105.799 121.057 102.651 121.108 99.5218 122.333 97.1191 124.734 92.2038 129.648 92.2048 137.613 97.121 142.527 102.038 147.442 110.008 147.443 114.924 142.527 119.082 138.371 119.718 132.04 116.836 127.205L118.234 125.83 117.408 125.004 115.691 126.691 115.352 127.025 115.611 127.426C117.464 130.278 117.915 133.766 116.963 136.926 115.915 136.852 114.988 136.002 114.705 134.801 114.516 133.995 114.611 133.125 114.996 132.479 112.526 133.497 111.781 135.319 112.383 138.092 110.008 138.426 110.262 135.4 108.75 134.469 108.641 137.022 105.681 138.773 104.186 136.982 102.714 135.221 104.431 132.748 106.623 133.205 104.459 131.414 102.517 131.578 100.528 133.494 100.838 131.713 101.516 130.559 102.752 129.914 98.7136 130.208 95.8175 132.978 94.8985 136.25 94.0209 132.533 95.0349 128.468 97.9435 125.561 99.6008 123.904 101.635 122.863 103.768 122.436 103.665 122.563 103.592 122.706 103.551 122.859 103.225 124.076 105.067 125.626 107.664 126.322 110.262 127.018 112.631 126.596 112.957 125.379 113.054 125.017 112.957 124.624 112.707 124.234L112.969 123.963 114.635 122.23 113.807 121.402 112.443 122.82C110.466 121.646 108.239 121.057 106.014 121.055ZM107.875 128.564C106.638 128.584 105.168 129.242 103.73 130.721 106.96 129.738 109.579 130.056 110.799 133.359 111.48 130.511 110.096 128.602 107.994 128.564 107.955 128.564 107.915 128.564 107.875 128.564Z"
                      fill="#D9D9D9" />
            </g>
        </g>
    </g>
    <g>
        <g>
            <g>
                <path d="M136.746 102.421 139.446 102.421 143.861 97.9936C143.38 97.6982 142.913 97.3298 142.479 96.8961 142.047 96.4631 141.681 95.9985 141.386 95.5186L136.746 100.145 136.746 102.421ZM141.654 92.7449C141.654 92.7791 141.655 92.8138 141.656 92.849 141.662 93.0365 141.688 93.2377 141.734 93.4487 141.918 94.2929 142.446 95.2635 143.28 96.0977 144.114 96.9318 145.085 97.4592 145.929 97.6434 146.734 97.8193 147.378 97.6925 147.792 97.3237 146.56 96.9968 145.299 96.2589 144.209 95.1686 143.117 94.0773 142.38 92.8148 142.054 91.5812 141.798 91.8669 141.659 92.2624 141.654 92.7449ZM142.996 90.2945C143.002 90.5353 143.034 90.7904 143.091 91.0571 143.318 92.124 143.973 93.3339 145.009 94.3703 146.045 95.4064 147.253 96.0613 148.32 96.2887 149.387 96.516 150.263 96.327 150.814 95.7758 150.869 95.7211 150.92 95.6612 150.967 95.6 149.061 95.3193 147.39 94.4795 146.124 93.2122 144.872 91.9595 144.037 90.3124 143.747 88.4328 143.696 88.4738 143.648 88.5171 143.601 88.5633 143.188 88.9767 142.979 89.5725 142.996 90.2946ZM144.731 86.9437C144.741 89.1573 145.573 91.0619 146.924 92.4137 147.06 92.5494 147.201 92.6786 147.348 92.8035 148.053 91.4455 148.956 90.5441 149.955 89.9994 151.129 89.3592 152.401 89.2137 153.59 89.2635L153.542 90.395C152.479 90.3504 151.432 90.4827 150.496 90.9929 149.667 91.4449 148.903 92.1962 148.275 93.4771 150.072 94.5764 152.432 94.9603 155.047 94.2435 155.237 92.0352 156.517 89.8303 159.058 89.0137 158.672 86.2876 160.666 81.7883 162.948 81.311 164.067 78.8915 164.968 76.1894 165.678 73.6992 163.506 74.3852 160.768 75.1753 158.596 76.1645 157.294 78.2552 154.793 79.1738 152.157 78.9876 150.335 81.4298 147.948 83.2368 145.338 83.5153 144.918 84.713 144.726 85.8649 144.731 86.9439ZM147.486 87.5208C150.667 86.8976 152.703 83.9687 153.16 81.4283L154.273 81.6287C154.152 82.3002 153.94 82.9897 153.641 83.6628 154.828 84.0824 156.138 83.5816 157.274 82.467 158.484 81.278 159.387 79.4147 159.451 77.557L160.583 77.5968C160.507 79.7858 159.492 81.8749 158.067 83.2749 158.006 83.3343 157.945 83.3921 157.883 83.4491 157.134 84.3857 156.907 85.1211 156.944 85.7783 156.982 86.4393 157.308 87.086 157.856 87.7782L156.969 88.4801C156.344 87.6904 155.871 86.8275 155.815 85.8425 155.793 85.4564 155.837 85.0615 155.953 84.6581 155.034 84.9994 154.055 85.0472 153.119 84.6732 151.998 86.552 150.161 88.1481 147.704 88.6296L147.486 87.5208Z"
                      fill="#D9D9D9" />
            </g>
        </g>
    </g>
    <g>
        <g>
            <g>
                <path d="M30.791 1.27538 23.3789 4.78912 25.8672 5.375 20.4316 10.8106 1.33781 27.0215 1.38094 27.0644 7.92781 24.0977 5.02931 30.7129 5.08588 30.7696 22.1171 10.7774 26.6934 6.20125 27.2773 8.68937 30.791 1.27538ZM1.21288 1.27931C1.12869 2.74369 1.52538 3.776 2.24806 4.54294L3.75388 23.4354 4.8515 22.5058 3.494 5.47844C7.11744 7.47556 14.0625 7.05125 17.0507 12.1484L21.2148 8.61319 21.291 8.53706C18.2962 2.41663 5.37563 6.23225 1.21288 1.27937ZM23.6836 10.7518 23.6113 10.8241 20.0332 15.0234C25.1586 18.0199 24.7574 24.9776 26.7384 28.6502L9.72856 27.119 8.80281 28.207 27.6504 29.9023C28.4304 30.67 29.4879 31.0951 31.0059 31.0077 26.0091 26.8078 29.8584 13.7731 23.6837 10.7519Z"
                      fill="#D9D9D9" transform="matrix(1.03125 0 0 1 260.291 115.5)" />
            </g>
        </g>
    </g>
    <g>
        <g>
            <g>
                <path d="M94.3888 102.567 101.038 102.495 102.08 101.314C100.662 100.376 99.5578 99.0927 98.9639 97.3729L94.3888 102.247 94.3888 102.567ZM97.645 92.3873C100.363 92.4113 102.622 93.0316 104.396 94.2736 110.809 87.1814 120.929 76.0907 121.603 76.0907 121.603 76.7673 111.845 88.0695 105.582 95.2689 107.15 96.8357 108.209 99.0523 108.731 101.948 111.147 97.7856 112.23 94.2912 112.926 90.3476 113.604 91.5417 114.102 92.9838 114.403 94.6559 116.767 90.5839 117.745 87.1956 118.394 83.2921 118.972 84.308 119.428 85.4994 119.684 86.923 122.414 82.2199 122.971 78.6263 123.606 73.4947L123.605 73.4947C118.416 74.6344 115.045 75.9306 110.899 79.345 112.283 79.3572 113.483 79.5793 114.562 79.9864 110.739 81.1632 107.615 82.7474 104.025 85.7044 105.636 85.7186 107.07 85.9677 108.33 86.4366 104.506 87.6796 101.3 89.377 97.645 92.3872ZM99.8929 96.5611C100.363 98.3509 101.384 99.5634 102.831 100.461L104.451 98.6254C102.827 98.143 101.342 97.3529 99.8929 96.5611ZM100.583 95.6492C102.138 96.492 103.668 97.2819 105.285 97.6813L105.811 97.0852C104.9 95.9256 103.244 94.6567 101.957 94.1847L100.583 95.6492Z"
                      fill="#D9D9D9" />
            </g>
        </g>
    </g>
    <g>
        <g>
            <g>
                <path d="M224.719 207.127 230.346 228.736 248.422 230.189 242.793 208.58 224.719 207.127ZM223.537 207.225C221.633 207.967 220.057 210.543 220.428 211.932L220.631 212.668C220.673 212.558 220.716 212.448 220.762 212.338 221.381 210.856 222.422 209.415 223.91 208.656L223.537 207.225ZM224.215 209.824C223.174 210.45 222.345 211.579 221.84 212.787 221.512 213.572 221.337 214.389 221.293 215.07L225.344 229.775C225.362 229.741 225.38 229.706 225.398 229.672 226.061 228.469 227.137 227.316 228.594 226.643L224.215 209.824ZM228.895 227.799C227.79 228.366 226.948 229.281 226.422 230.236 226.143 230.743 225.967 231.259 225.879 231.721L226.609 234.371 226.711 234.379C226.471 232.657 227.42 230.598 229.289 229.311L228.895 227.799ZM230.541 229.924C228.506 231.003 227.634 233.201 227.926 234.483L246.041 236.014C245.707 235.527 245.499 234.892 245.504 234.233L244.104 233.67 247 233.215 246.156 232.41C246.507 231.978 247.013 231.594 247.707 231.305L230.541 229.924Z"
                      fill="#D9D9D9" />
            </g>
        </g>
    </g>
    <path d="M276.714 272.551 276.714 274.438 275.286 274.438 275.286 272.551C274.464 272.266 273.857 271.482 273.857 270.521 273.857 269.345 274.821 268.384 276 268.384 277.179 268.384 278.143 269.345 278.143 270.521 278.143 271.447 277.536 272.23 276.714 272.551ZM270.643 259.479C270.643 256.523 273.036 254.137 276 254.137 278.964 254.137 281.357 256.523 281.357 259.479L281.357 263.433 276 263.041 270.643 263.433 270.643 259.479ZM283.5 263.575 283.5 259.479C283.5 255.348 280.143 252 276 252 271.857 252 268.5 255.348 268.5 259.479L268.5 263.575 266 263.754 266 277.288 276 278 286 277.288 286 263.754 283.5 263.575Z"
          fill="#FFFFFF" fill-rule="evenodd" fill-opacity="0.168627" />
    <path d="M233.714 272.551 233.714 274.438 232.286 274.438 232.286 272.551C231.464 272.266 230.857 271.482 230.857 270.521 230.857 269.345 231.821 268.384 233 268.384 234.179 268.384 235.143 269.345 235.143 270.521 235.143 271.447 234.536 272.23 233.714 272.551ZM227.643 259.479C227.643 256.523 230.036 254.137 233 254.137 235.964 254.137 238.357 256.523 238.357 259.479L238.357 263.433 233 263.041 227.643 263.433 227.643 259.479ZM240.5 263.575 240.5 259.479C240.5 255.348 237.143 252 233 252 228.857 252 225.5 255.348 225.5 259.479L225.5 263.575 223 263.754 223 277.288 233 278 243 277.288 243 263.754 240.5 263.575Z"
          fill="#FFFFFF" fill-rule="evenodd" fill-opacity="0.168627" />
    <path d="M192.714 272.551 192.714 274.438 191.286 274.438 191.286 272.551C190.464 272.266 189.857 271.482 189.857 270.521 189.857 269.345 190.821 268.384 192 268.384 193.179 268.384 194.143 269.345 194.143 270.521 194.143 271.447 193.536 272.23 192.714 272.551ZM186.643 259.479C186.643 256.523 189.036 254.137 192 254.137 194.964 254.137 197.357 256.523 197.357 259.479L197.357 263.433 192 263.041 186.643 263.433 186.643 259.479ZM199.5 263.575 199.5 259.479C199.5 255.348 196.143 252 192 252 187.857 252 184.5 255.348 184.5 259.479L184.5 263.575 182 263.754 182 277.288 192 278 202 277.288 202 263.754 199.5 263.575Z"
          fill="#FFFFFF" fill-rule="evenodd" fill-opacity="0.168627" />
    <path d="M150.714 272.551 150.714 274.438 149.286 274.438 149.286 272.551C148.464 272.266 147.857 271.482 147.857 270.521 147.857 269.345 148.821 268.384 150 268.384 151.179 268.384 152.143 269.345 152.143 270.521 152.143 271.447 151.536 272.23 150.714 272.551ZM144.643 259.479C144.643 256.523 147.036 254.137 150 254.137 152.964 254.137 155.357 256.523 155.357 259.479L155.357 263.433 150 263.041 144.643 263.433 144.643 259.479ZM157.5 263.575 157.5 259.479C157.5 255.348 154.143 252 150 252 145.857 252 142.5 255.348 142.5 259.479L142.5 263.575 140 263.754 140 277.288 150 278 160 277.288 160 263.754 157.5 263.575Z"
          fill="#FFFFFF" fill-rule="evenodd" fill-opacity="0.168627" />
    <path d="M108.714 272.551 108.714 274.438 107.286 274.438 107.286 272.551C106.464 272.266 105.857 271.482 105.857 270.521 105.857 269.345 106.821 268.384 108 268.384 109.179 268.384 110.143 269.345 110.143 270.521 110.143 271.447 109.536 272.23 108.714 272.551ZM102.643 259.479C102.643 256.523 105.036 254.137 108 254.137 110.964 254.137 113.357 256.523 113.357 259.479L113.357 263.433 108 263.041 102.643 263.433 102.643 259.479ZM115.5 263.575 115.5 259.479C115.5 255.348 112.143 252 108 252 103.857 252 100.5 255.348 100.5 259.479L100.5 263.575 98 263.754 98 277.288 108 278 118 277.288 118 263.754 115.5 263.575Z"
          fill="#FFFFFF" fill-rule="evenodd" fill-opacity="0.168627" />
    <path d="M65.7143 272.551 65.7143 274.438 64.2857 274.438 64.2857 272.551C63.4643 272.266 62.8571 271.482 62.8571 270.521 62.8571 269.345 63.8214 268.384 65.0001 268.384 66.1786 268.384 67.1429 269.345 67.1429 270.521 67.1429 271.447 66.5357 272.23 65.7143 272.551ZM59.6429 259.479C59.6429 256.523 62.0357 254.137 65.0001 254.137 67.9643 254.137 70.3572 256.523 70.3572 259.479L70.3572 263.433 65.0001 263.041 59.6429 263.433 59.6429 259.479ZM72.5 263.575 72.5 259.479C72.5 255.348 69.1429 252 65.0001 252 60.8571 252 57.5 255.348 57.5 259.479L57.5 263.575 55 263.754 55 277.288 65.0001 278 75 277.288 75 263.754 72.5 263.575Z"
          fill="#FFFFFF" fill-rule="evenodd" fill-opacity="0.168627" />
</symbol>

@code {
    public override string Identifier => "inventory";
    public override string Title => "Inventory";
}
