@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 512 384">
    <title>@Title</title>
    <g>
        <path d="M0 40 17.8768 40 61.7915 0 82 0" stroke="#393B4A" stroke-width="6"
              stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" fill="none"
              fill-rule="evenodd" transform="matrix(-1 0 0 1 326 244)" />
        <path d="M0 38 17.8768 38 61.7915 0 82 0" stroke="#393B4A" stroke-width="6"
              stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" fill="none"
              fill-rule="evenodd" transform="matrix(-1 0 0 1 327 95)" />
        <path d="M243 226 260.877 226 304.791 152 325 152" stroke="#393B4A" stroke-width="6"
              stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" fill="none"
              fill-rule="evenodd" />
        <path d="M326 99.1163C326 94.6338 329.634 91 334.116 91L475.884 91C480.366 91 484 94.6338 484 99.1163L484 156.884C484 161.366 480.366 165 475.884 165L334.116 165C329.634 165 326 161.366 326 156.884Z"
              fill="#242636" fill-rule="evenodd" />
        <path d="M28 41.7072C28 36.3461 32.3461 32 37.7072 32L234.293 32C239.654 32 244 36.3461 244 41.7072L244 154.293C244 159.654 239.654 164 234.293 164L37.7072 164C32.3461 164 28 159.654 28 154.293Z"
              fill="#242636" fill-rule="evenodd" />
        <path d="M244 58 244 156.965C244 160.85 240.85 164 236.965 164L150 164 150 58Z"
              fill="#1D1F2B" fill-rule="evenodd" />
        <path d="M213 40C213 38.8954 213.895 38 215 38 216.105 38 217 38.8954 217 40 217 41.1046 216.105 42 215 42 213.895 42 213 41.1046 213 40Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M222 40C222 38.8954 222.895 38 224 38 225.105 38 226 38.8954 226 40 226 41.1046 225.105 42 224 42 222.895 42 222 41.1046 222 40Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M230 40C230 38.8954 230.895 38 232 38 233.105 38 234 38.8954 234 40 234 41.1046 233.105 42 232 42 230.895 42 230 41.1046 230 40Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M213 48C213 46.8954 213.895 46 215 46 216.105 46 217 46.8954 217 48 217 49.1046 216.105 50 215 50 213.895 50 213 49.1046 213 48Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M222 48C222 46.8954 222.895 46 224 46 225.105 46 226 46.8954 226 48 226 49.1046 225.105 50 224 50 222.895 50 222 49.1046 222 48Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M230 48C230 46.8954 230.895 46 232 46 233.105 46 234 46.8954 234 48 234 49.1046 233.105 50 232 50 230.895 50 230 49.1046 230 48Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M227 110.758C227 108.682 228.682 107 230.758 107L235.242 107C237.318 107 239 108.682 239 110.758L239 115.242C239 117.318 237.318 119 235.242 119L230.758 119C228.682 119 227 117.318 227 115.242Z"
              fill="#1C62FF" fill-rule="evenodd" />
        <path d="M227 128.758C227 126.682 228.682 125 230.758 125L235.242 125C237.318 125 239 126.682 239 128.758L239 133.242C239 135.318 237.318 137 235.242 137L230.758 137C228.682 137 227 135.318 227 133.242Z"
              fill="#1C62FF" fill-rule="evenodd" />
        <path d="M227 147.758C227 145.682 228.682 144 230.758 144L235.242 144C237.318 144 239 145.682 239 147.758L239 152.242C239 154.318 237.318 156 235.242 156L230.758 156C228.682 156 227 154.318 227 152.242Z"
              fill="#1C62FF" fill-rule="evenodd" />
        <path d="M227 92.7576C227 90.6823 228.682 89 230.758 89L235.242 89C237.318 89 239 90.6823 239 92.7576L239 97.2424C239 99.3177 237.318 101 235.242 101L230.758 101C228.682 101 227 99.3177 227 97.2424Z"
              fill="#1C62FF" fill-rule="evenodd" />
        <path d="M221 74.4444C221 72.5421 222.542 71 224.444 71L235.556 71C237.458 71 239 72.5421 239 74.4444L239 78.5556C239 80.4579 237.458 82 235.556 82L224.444 82C222.542 82 221 80.4579 221 78.5556Z"
              fill="#1C62FF" fill-rule="evenodd" />
        <path d="M50 74.4444C50 72.5421 51.5421 71 53.4444 71L101.556 71C103.458 71 105 72.5421 105 74.4444L105 78.5556C105 80.4579 103.458 82 101.556 82L53.4444 82C51.5421 82 50 80.4579 50 78.5556Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M50 92.7576C50 90.6823 51.6823 89 53.7575 89L85.2425 89C87.3177 89 89 90.6823 89 92.7576L89 97.2424C89 99.3177 87.3177 101 85.2425 101L53.7575 101C51.6823 101 50 99.3177 50 97.2424Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M161 74.4444C161 72.5421 162.542 71 164.444 71L212.556 71C214.458 71 216 72.5421 216 74.4444L216 78.5556C216 80.4579 214.458 82 212.556 82L164.444 82C162.542 82 161 80.4579 161 78.5556Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M192 92.7576C192 90.6823 193.682 89 195.758 89L212.242 89C214.318 89 216 90.6823 216 92.7576L216 97.2424C216 99.3177 214.318 101 212.242 101L195.758 101C193.682 101 192 99.3177 192 97.2424Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M192 110.758C192 108.682 193.682 107 195.758 107L212.242 107C214.318 107 216 108.682 216 110.758L216 115.242C216 117.318 214.318 119 212.242 119L195.758 119C193.682 119 192 117.318 192 115.242Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M192 128.758C192 126.682 193.682 125 195.758 125L212.242 125C214.318 125 216 126.682 216 128.758L216 133.242C216 135.318 214.318 137 212.242 137L195.758 137C193.682 137 192 135.318 192 133.242Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M192 147.758C192 145.682 193.682 144 195.758 144L212.242 144C214.318 144 216 145.682 216 147.758L216 152.242C216 154.318 214.318 156 212.242 156L195.758 156C193.682 156 192 154.318 192 152.242Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M33 40.697C33 38.1029 35.1029 36 37.697 36L43.303 36C45.8971 36 48 38.1029 48 40.697L48 47.303C48 49.8971 45.8971 52 43.303 52L37.697 52C35.1029 52 33 49.8971 33 47.303Z"
              fill="#1C62FF" fill-rule="evenodd" />
        <path d="M33 74.4444C33 72.5421 34.5421 71 36.4444 71L41.5556 71C43.4579 71 45 72.5421 45 74.4444L45 78.5556C45 80.4579 43.4579 82 41.5556 82L36.4444 82C34.5421 82 33 80.4579 33 78.5556Z"
              fill="#1C62FF" fill-rule="evenodd" />
        <path d="M33 92.7576C33 90.6823 34.6823 89 36.7576 89L41.2424 89C43.3177 89 45 90.6823 45 92.7576L45 97.2424C45 99.3177 43.3177 101 41.2424 101L36.7576 101C34.6823 101 33 99.3177 33 97.2424Z"
              fill="#1C62FF" fill-rule="evenodd" />
        <path d="M52 41.0101C52 38.2431 54.2431 36 57.0101 36L132.99 36C135.757 36 138 38.2431 138 41.0101L138 46.9899C138 49.7569 135.757 52 132.99 52L57.0101 52C54.2431 52 52 49.7569 52 46.9899Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M483 116 483 155.839C483 160.898 478.898 165 473.838 165L411 165 411 116Z"
              fill="#1D1F2B" fill-rule="evenodd" />
        <path d="M454 98C454 96.8954 454.895 96 456 96 457.105 96 458 96.8954 458 98 458 99.1046 457.105 100 456 100 454.895 100 454 99.1046 454 98Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M463 98C463 96.8954 463.895 96 465 96 466.105 96 467 96.8954 467 98 467 99.1046 466.105 100 465 100 463.895 100 463 99.1046 463 98Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M471 98C471 96.8954 471.895 96 473 96 474.105 96 475 96.8954 475 98 475 99.1046 474.105 100 473 100 471.895 100 471 99.1046 471 98Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M454 107C454 105.895 454.895 105 456 105 457.105 105 458 105.895 458 107 458 108.105 457.105 109 456 109 454.895 109 454 108.105 454 107Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M463 107C463 105.895 463.895 105 465 105 466.105 105 467 105.895 467 107 467 108.105 466.105 109 465 109 463.895 109 463 108.105 463 107Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M471 107C471 105.895 471.895 105 473 105 474.105 105 475 105.895 475 107 475 108.105 474.105 109 473 109 471.895 109 471 108.105 471 107Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M467 129.758C467 127.682 468.682 126 470.758 126L475.242 126C477.318 126 479 127.682 479 129.758L479 134.242C479 136.318 477.318 138 475.242 138L470.758 138C468.682 138 467 136.318 467 134.242Z"
              fill="#1C62FF" fill-rule="evenodd" />
        <path d="M349 129.758C349 127.682 350.682 126 352.758 126L395.242 126C397.318 126 399 127.682 399 129.758L399 134.242C399 136.318 397.318 138 395.242 138L352.758 138C350.682 138 349 136.318 349 134.242Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M349 149.758C349 147.682 350.682 146 352.758 146L384.242 146C386.318 146 388 147.682 388 149.758L388 154.242C388 156.318 386.318 158 384.242 158L352.758 158C350.682 158 349 156.318 349 154.242Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M433 129.758C433 127.682 434.682 126 436.758 126L457.242 126C459.318 126 461 127.682 461 129.758L461 134.242C461 136.318 459.318 138 457.242 138L436.758 138C434.682 138 433 136.318 433 134.242Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M330 99.0101C330 96.2431 332.243 94 335.01 94L340.99 94C343.757 94 346 96.2431 346 99.0101L346 104.99C346 107.757 343.757 110 340.99 110L335.01 110C332.243 110 330 107.757 330 104.99Z"
              fill="#1C62FF" fill-rule="evenodd" />
        <path d="M331 129.758C331 127.682 332.682 126 334.758 126L339.242 126C341.318 126 343 127.682 343 129.758L343 134.242C343 136.318 341.318 138 339.242 138L334.758 138C332.682 138 331 136.318 331 134.242Z"
              fill="#1C62FF" fill-rule="evenodd" />
        <path d="M332 149.758C332 147.682 333.682 146 335.758 146L340.242 146C342.318 146 344 147.682 344 149.758L344 154.242C344 156.318 342.318 158 340.242 158L335.758 158C333.682 158 332 156.318 332 154.242Z"
              fill="#1C62FF" fill-rule="evenodd" />
        <path d="M351 99.0101C351 96.2431 353.243 94 356.01 94L383.99 94C386.757 94 389 96.2431 389 99.0101L389 104.99C389 107.757 386.757 110 383.99 110L356.01 110C353.243 110 351 107.757 351 104.99Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M136.783 184 236.217 184C240.515 184 244 187.485 244 191.783L244 208 129 208 129 191.783C129 187.485 132.485 184 136.783 184Z"
              fill="#242636" fill-rule="evenodd" />
        <path d="M0 0 115 0 115 44.348C115 49.6786 110.679 54 105.348 54L9.652 54C4.32135 54 0 49.6786 0 44.348L0 0Z"
              fill="#1D1F2B" fill-rule="evenodd"
              transform="matrix(-1 1.22465e-16 1.22465e-16 1 244 208)" />
        <path d="M213 191C213 189.895 213.895 189 215 189 216.105 189 217 189.895 217 191 217 192.105 216.105 193 215 193 213.895 193 213 192.105 213 191Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M222 191C222 189.895 222.895 189 224 189 225.105 189 226 189.895 226 191 226 192.105 225.105 193 224 193 222.895 193 222 192.105 222 191Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M230 191C230 189.895 230.895 189 232 189 233.105 189 234 189.895 234 191 234 192.105 233.105 193 232 193 230.895 193 230 192.105 230 191Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M213 200C213 198.895 213.895 198 215 198 216.105 198 217 198.895 217 200 217 201.105 216.105 202 215 202 213.895 202 213 201.105 213 200Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M222 200C222 198.895 222.895 198 224 198 225.105 198 226 198.895 226 200 226 201.105 225.105 202 224 202 222.895 202 222 201.105 222 200Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M230 200C230 198.895 230.895 198 232 198 233.105 198 234 198.895 234 200 234 201.105 233.105 202 232 202 230.895 202 230 201.105 230 200Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M226 223.758C226 221.682 227.682 220 229.758 220L234.242 220C236.318 220 238 221.682 238 223.758L238 228.242C238 230.318 236.318 232 234.242 232L229.758 232C227.682 232 226 230.318 226 228.242Z"
              fill="#1C62FF" fill-rule="evenodd" />
        <path d="M180 223.758C180 221.682 181.682 220 183.758 220L217.242 220C219.318 220 221 221.682 221 223.758L221 228.242C221 230.318 219.318 232 217.242 232L183.758 232C181.682 232 180 230.318 180 228.242Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M134 192.697C134 190.103 136.103 188 138.697 188L144.303 188C146.897 188 149 190.103 149 192.697L149 199.303C149 201.897 146.897 204 144.303 204L138.697 204C136.103 204 134 201.897 134 199.303Z"
              fill="#1C62FF" fill-rule="evenodd" />
        <path d="M154 192.323C154 189.383 156.383 187 159.323 187L193.677 187C196.617 187 199 189.383 199 192.323L199 198.677C199 201.617 196.617 204 193.677 204L159.323 204C156.383 204 154 201.617 154 198.677Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M326 190.857C326 187.07 329.07 184 332.857 184L476.143 184C479.93 184 483 187.07 483 190.857L483 293.143C483 296.93 479.93 300 476.143 300L332.857 300C329.07 300 326 296.93 326 293.143Z"
              fill="#242636" fill-rule="evenodd" />
        <path d="M454 191C454 189.895 454.895 189 456 189 457.105 189 458 189.895 458 191 458 192.105 457.105 193 456 193 454.895 193 454 192.105 454 191Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M463 191C463 189.895 463.895 189 465 189 466.105 189 467 189.895 467 191 467 192.105 466.105 193 465 193 463.895 193 463 192.105 463 191Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M471 191C471 189.895 471.895 189 473 189 474.105 189 475 189.895 475 191 475 192.105 474.105 193 473 193 471.895 193 471 192.105 471 191Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M454 200C454 198.895 454.895 198 456 198 457.105 198 458 198.895 458 200 458 201.105 457.105 202 456 202 454.895 202 454 201.105 454 200Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M463 200C463 198.895 463.895 198 465 198 466.105 198 467 198.895 467 200 467 201.105 466.105 202 465 202 463.895 202 463 201.105 463 200Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M471 200C471 198.895 471.895 198 473 198 474.105 198 475 198.895 475 200 475 201.105 474.105 202 473 202 471.895 202 471 201.105 471 200Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M330 193.01C330 190.243 332.243 188 335.01 188L340.99 188C343.757 188 346 190.243 346 193.01L346 198.99C346 201.757 343.757 204 340.99 204L335.01 204C332.243 204 330 201.757 330 198.99Z"
              fill="#1C62FF" fill-rule="evenodd" />
        <path d="M351 192.323C351 189.383 353.383 187 356.323 187L405.677 187C408.617 187 411 189.383 411 192.323L411 198.677C411 201.617 408.617 204 405.677 204L356.323 204C353.383 204 351 201.617 351 198.677Z"
              fill="#393B4A" fill-rule="evenodd" />
        <rect x="0" y="0" width="157" height="63" fill="#1D1F2B"
              transform="matrix(-1 1.22465e-16 1.22465e-16 1 483 208)" />
        <path d="M327.5 227.097 358.491 227.097 366.141 216.5 378.463 236.5 386.038 223.515 391.548 229.933 397.02 226.069 483.5 226.214"
              stroke="#1C62FF" stroke-width="2.66667" stroke-linejoin="round" stroke-miterlimit="10"
              fill="none" fill-rule="evenodd" />
        <path d="M348 281.758C348 279.682 349.682 278 351.758 278L395.242 278C397.318 278 399 279.682 399 281.758L399 286.242C399 288.318 397.318 290 395.242 290L351.758 290C349.682 290 348 288.318 348 286.242Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M332 281.758C332 279.682 333.682 278 335.758 278L340.242 278C342.318 278 344 279.682 344 281.758L344 286.242C344 288.318 342.318 290 340.242 290L335.758 290C333.682 290 332 288.318 332 286.242Z"
              fill="#1C62FF" fill-rule="evenodd" />
        <path d="M226 241.758C226 239.682 227.682 238 229.758 238L234.242 238C236.318 238 238 239.682 238 241.758L238 246.242C238 248.318 236.318 250 234.242 250L229.758 250C227.682 250 226 248.318 226 246.242Z"
              fill="#1C62FF" fill-rule="evenodd" />
        <path d="M188 241.758C188 239.682 189.682 238 191.758 238L217.242 238C219.318 238 221 239.682 221 241.758L221 246.242C221 248.318 219.318 250 217.242 250L191.758 250C189.682 250 188 248.318 188 246.242Z"
              fill="#393B4A" fill-rule="evenodd" />
        <path d="M327.5 254.627 358.491 254.627 366.141 243.5 378.463 264.5 386.038 250.866 391.548 257.605 397.02 253.547 483.5 253.7"
              stroke="#1C62FF" stroke-width="2.66667" stroke-linejoin="round" stroke-miterlimit="10"
              fill="none" fill-rule="evenodd" />
    </g>
</symbol>

@code {
    public override string Identifier => "nodeeditor";
    public override string Title => "Node Editor";
}
