/* Cards */
.card {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 1px;
    --border-top-left-radius: 0px;
    --border-top-right-radius: 0px;
    --border-bottom-left-radius: 0px;
    --border-bottom-right-radius: 0px;
    border-top-left-radius: var(--border-top-left-radius);
    border-top-right-radius: var(--border-top-right-radius);
    border-bottom-left-radius: var(--border-bottom-left-radius);
    border-bottom-right-radius: var(--border-bottom-right-radius);
}

    .card ::deep > a.card__link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 0;
        color: transparent;
        border-top-left-radius: var(--border-top-left-radius);
        border-top-right-radius: var(--border-top-right-radius);
        border-bottom-left-radius: var(--border-bottom-left-radius);
        border-bottom-right-radius: var(--border-bottom-right-radius);
    }

        /* Low Performance Mode */
        .card ::deep > a.card__link::before {
            content: '';
            position: absolute;
            top: 1px;
            bottom: 1px;
            left: 1px;
            right: 1px;
            background: #161618;
            z-index: 3;
            outline: 0;
            border-top-left-radius: calc(var(--border-top-left-radius) - 1px);
            border-top-right-radius: calc(var(--border-top-right-radius) - 1px);
            border-bottom-left-radius: calc(var(--border-bottom-left-radius) - 1px);
            border-bottom-right-radius: calc(var(--border-bottom-right-radius) - 1px);
            pointer-events: none;
        }

    .card ::deep > .card__button {
        padding: 1rem;
        border-top-left-radius: calc(var(--border-top-left-radius) - 1px);
        border-top-right-radius: calc(var(--border-top-right-radius) - 1px);
        border-bottom-left-radius: calc(var(--border-bottom-left-radius) - 1px);
        border-bottom-right-radius: calc(var(--border-bottom-right-radius) - 1px);
        z-index: 6;
        background: #161618;
        color: white;
        text-decoration: none;
        position: relative;
        outline: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.4375rem;
        font-weight: 350;
        letter-spacing: 1px;
    }

        .card ::deep > .card__button::before {
            content: '';
            position: absolute;
            top: -2px;
            bottom: -2px;
            left: -2px;
            right: -2px;
            border-top-left-radius: calc(var(--border-top-left-radius) - 1px);
            border-top-right-radius: calc(var(--border-top-right-radius) - 1px);
            border-bottom-left-radius: calc(var(--border-bottom-left-radius) - 1px);
            border-bottom-right-radius: calc(var(--border-bottom-right-radius) - 1px);
        }

        .card ::deep > .card__button h3 {
            margin: 0;
        }

        .card ::deep > .card__button .card-keyicon {
            width: 28px;
            height: 28px;
            min-width: 28px;
            padding: 0px 8px 0px 0px;
        }

    .card ::deep > .container a {
        pointer-events: all;
    }

    /* Containers */
    .card ::deep > .container {
        padding: 1.5rem 16px 1.5rem 16px;
        border-bottom-left-radius: var(--border-bottom-left-radius);
        border-bottom-right-radius: var(--border-bottom-right-radius);
        pointer-events: none;
        /* Low Performance Mode */
        position: relative;
        z-index: 6;
    }

    .card ::deep > picture + .container,
    .card ::deep > .card__image + .container {
        background: linear-gradient(to bottom, #16161800 0px, #161618ad 24px, #161618 48px, #161618);
        margin-top: -48px;
        padding-top: 48px;
    }

    .card ::deep > .container .pill-cloud {
        margin-top: 0.75rem;
    }


    .card ::deep > picture:has(.card__image.card__image--transparent) + .container,
    .card ::deep > .card__image.card__image--transparent + .container {
        background: none;
        margin-top: 0;
        padding-top: 24px;
    }



    /* Key icons */
    .card ::deep .card-keyicon {
        width: 24px;
        height: 24px;
        min-width: 24px;
        padding: 2px 0.825rem 2px 2px;
        color: white;
        transition: filter 0.15s ease-in-out;
        align-self: center;
        pointer-events: none;
    }
    /* Card headers */
    .card ::deep > .container > header {
        flex-grow: 0;
        color: var(--color-text-primary);
        font-feature-settings: "ss03" 1;
        pointer-events: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .card ::deep header,
    .card ::deep h1,
    .card ::deep h2,
    .card ::deep h3,
    .card ::deep h4 {
        line-height: 1.25;
        font-size: 1.4375rem;
        font-weight: 350;
        letter-spacing: 1px;
        padding: 0;
        margin: 0;
    }

    .card ::deep header span.subtle {
        font-size: 1.4375rem;
        color: #ffffffa0;
        font-weight: 300;
        letter-spacing: 1.5px;
    }

    .card ::deep p {
        flex-grow: 1;
        padding: 0;
        margin: 0;
        padding: 0;
        margin-top: 0.75rem;
        font-size: 17px;
        line-height: 1.45;
        letter-spacing: 0.075px;
        text-align: left;
        color: #9b9b9b;
        font-size: 1rem;
        font-weight: 400;
        pointer-events: none;
    }

        .card ::deep p b {
            font-weight: 500;
            color: #aaaaaa;
        }
    /*
    .card:has(> a:hover) ::deep p b {
        color: transparent;
        background: radial-gradient(150px 250px at var(--pointer-fixed), #ffffff 0, var(--palette-primary-color) 20%, #aaaaaa 100%);
        background-attachment: fixed;
        background-clip: text;
    }*/

    .card ::deep picture {
        margin-bottom: -12px;
        pointer-events: none;
        position: relative;
        z-index: 5;
        aspect-ratio: 1.333333;
    }

    /* Card images */
    .card ::deep .card__image {
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 1.333333;
        object-fit: cover;
        overflow: hidden;
        opacity: 0.25;
        filter: grayscale(1);
        pointer-events: none;
        /*mask: linear-gradient(to top, #ffffff00 0px, #ffffffad 24px, #ffffff 48px, #ffffff);*/
        /* Low Performance Mode */
        position: relative;
        z-index: 5;
    }

    .card ::deep > a.card__link + .card__image,
    .card ::deep > a.card__link + picture .card__image {
        border-top-left-radius: calc(var(--border-top-left-radius) - 2px);
        border-top-right-radius: calc(var(--border-top-right-radius) - 2px);
    }

    .card > ::deep .card__image:last-child,
    .card > ::deep picture:last-child .card__image {
        border-bottom-left-radius: calc(var(--border-bottom-left-radius) - 2px);
        border-bottom-right-radius: calc(var(--border-bottom-right-radius) - 2px);
    }

    /* Card medias */
    .card ::deep .card__media {
        display: block;
        width: 6rem;
        height: 6rem;
        min-width: 6rem;
        min-height: 6rem;
        margin-right: 1.5rem;
        pointer-events: none;
        z-index: 5;
    }

    /* Glow */
    .card > div.card__glow {
        --glow-distance: 40px;
        pointer-events: none;
        position: absolute;
        top: calc((var(--glow-distance) * -1) + 1px);
        bottom: calc((var(--glow-distance) * -1) + 1px);
        left: calc((var(--glow-distance) * -1) + 1px);
        right: calc((var(--glow-distance) * -1) + 1px);
        z-index: 7;
    }

        .card > div.card__glow div {
            position: absolute;
            background: radial-gradient(500px 500px at var(--pointer-fixed), hsl(var(--palette-primary-hue), 100%, 50%, 0.25) 0, hsl(var(--palette-primary-hue), 100%, 50%, 0) 100%);
            background-attachment: fixed;
        }
            /* Corners */
            .card > div.card__glow div.card__glow-tl {
                width: calc(var(--glow-distance) + var(--border-top-left-radius));
                height: calc(var(--glow-distance) + var(--border-top-left-radius));
                top: 0;
                left: 0;
                mask: radial-gradient(circle at bottom right, #0000 var(--border-top-left-radius), #ffff var(--border-top-left-radius), #5555 calc(var(--border-top-left-radius) + (var(--glow-distance) * 0.5)), #0000 calc(var(--border-top-left-radius) + var(--glow-distance)));
            }

            .card > div.card__glow div.card__glow-tr {
                width: calc(var(--glow-distance) + var(--border-top-right-radius));
                height: calc(var(--glow-distance) + var(--border-top-right-radius));
                top: 0;
                right: 0;
                mask: radial-gradient(circle at bottom left, #0000 var(--border-top-right-radius), #ffff var(--border-top-right-radius), #5555 calc(var(--border-top-right-radius) + (var(--glow-distance) * 0.5)), #0000 calc(var(--border-top-right-radius) + var(--glow-distance)));
            }

            .card > div.card__glow div.card__glow-bl {
                width: calc(var(--glow-distance) + var(--border-bottom-left-radius));
                height: calc(var(--glow-distance) + var(--border-bottom-left-radius));
                bottom: 0;
                left: 0;
                mask: radial-gradient(circle at top right, #0000 var(--border-bottom-left-radius), #ffff var(--border-bottom-left-radius), #5555 calc(var(--border-bottom-left-radius) + (var(--glow-distance) * 0.5)), #0000 calc(var(--border-bottom-left-radius) + var(--glow-distance)));
            }

            .card > div.card__glow div.card__glow-br {
                width: calc(var(--glow-distance) + var(--border-bottom-right-radius));
                height: calc(var(--glow-distance) + var(--border-bottom-right-radius));
                bottom: 0;
                right: 0;
                mask: radial-gradient(circle at top left, #0000 var(--border-bottom-right-radius), #ffff var(--border-bottom-right-radius), #5555 calc(var(--border-bottom-right-radius) + (var(--glow-distance) * 0.5)), #0000 calc(var(--border-bottom-right-radius) + var(--glow-distance)));
            }
            /* Edges */
            .card > div.card__glow div.card__glow-ml {
                top: calc(var(--glow-distance) + var(--border-top-left-radius));
                bottom: calc(var(--glow-distance) + var(--border-bottom-left-radius));
                left: 0;
                width: var(--glow-distance);
                mask: linear-gradient(to left, #ffff, #5555 50%, #0000);
            }

            .card > div.card__glow div.card__glow-mr {
                top: calc(var(--glow-distance) + var(--border-top-right-radius));
                bottom: calc(var(--glow-distance) + var(--border-bottom-right-radius));
                right: 0;
                width: var(--glow-distance);
                mask: linear-gradient(to right, #ffff, #5555 50%, #0000);
            }

            .card > div.card__glow div.card__glow-t {
                top: 0;
                left: calc(var(--glow-distance) + var(--border-top-left-radius));
                right: calc(var(--glow-distance) + var(--border-top-right-radius));
                height: var(--glow-distance);
                mask: linear-gradient(to top, #ffff, #5555 50%, #0000);
            }

            .card > div.card__glow div.card__glow-b {
                bottom: 0;
                left: calc(var(--glow-distance) + var(--border-bottom-left-radius));
                right: calc(var(--glow-distance) + var(--border-bottom-right-radius));
                height: var(--glow-distance);
                mask: linear-gradient(to bottom, #ffff, #5555 50%, #0000);
            }
    /* Rounded Elements */
    .card > div.card__border,
    .card > div.card__border::before,
    .card > div.card__border::after {
        border-top-left-radius: var(--border-top-left-radius);
        border-top-right-radius: var(--border-top-right-radius);
        border-bottom-left-radius: var(--border-bottom-left-radius);
        border-bottom-right-radius: var(--border-bottom-right-radius);
        pointer-events: none;
    }
        /* Borders */
        .card > div.card__border,
        .card > div.card__border::before,
        .card > div.card__border::after {
            position: absolute;
            pointer-events: none;
        }

    .card > div.card__border {
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        /*border: 2px solid #ffffff14;*/
        border: 2px solid #28282a;
        box-sizing: border-box;
    }

        .card > div.card__border::before,
        .card > div.card__border::after {
            content: '';
            top: -2px;
            bottom: -2px;
            left: -2px;
            right: -2px;
            transition: opacity 0.15s ease-in-out;
            /* TODO: Performance Mode.*/
            /* Maybe use background-clip: border-area; on Safari for performance on IPhones */
            /*
                padding: 2px;
                mask: linear-gradient(#ffffff 0 0) content-box, linear-gradient(#ffffff 0 0);
                -webkit-mask: linear-gradient(#ffffff 0 0) content-box, linear-gradient(#ffffff 0 0);
                mask-composite: exclude;
                -webkit-mask-composite: xor;
            */
            /* Low Performance Mode */
        }
        /* Near-hover Glow */
        .card > div.card__border::before {
            background: radial-gradient(250px 250px at var(--pointer-fixed), var(--palette-primary-color) 0, transparent 100%);
            background-attachment: fixed;
            z-index: 1;
        }
        /* Hover Glow */
        .card > div.card__border::after {
            background: radial-gradient(350px 350px at var(--pointer-fixed), #ffffff 0, var(--palette-primary-color) 40%, #3e3934 100%);
            background-attachment: fixed;
            opacity: 0;
            z-index: 2;
        }

    .card > .card__glow {
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
        pointer-events: none;
        z-index: 4;
    }

    .card:has(> a:hover) > div.card__border::after,
    .card:has(> a:hover) > div.card__glow {
        opacity: 1;
    }

    .card:has(> a:hover) ::deep .card-keyicon,
    .card:has(> a:focus) ::deep .card-keyicon {
        filter: drop-shadow(0 0 1px #ffffff60) drop-shadow(0 0 6px var(--palette-primary-color));
    }

    .card > a:focus-visible {
        outline: 0;
    }

    .card.pointer-none > div.card__border::before,
    .card.pointer-none > div.card__border::after {
        opacity: 0;
    }

    .card.pointer-none:has(> a:focus-visible) > div.card__border::before,
    .card.pointer-none:has(> a:focus-visible) > div.card__border::after {
        opacity: 1;
    }

    .card:has(> a:focus-visible) > div.card__border::after,
    .card:has(> a:focus-visible) > div.card__glow {
        opacity: 1;
    }

    .card:has(> a:focus-visible) > div.card__border::after {
        background: radial-gradient(350px 350px at var(--pointer-fixed), #ffffff 0, var(--palette-primary-color) 40%);
        background-attachment: fixed;
    }

    .card:has(> a:focus-visible) > div.card__glow > div.card__glow-tl,
    .card:has(> a:focus-visible) > div.card__glow > div.card__glow-t,
    .card:has(> a:focus-visible) > div.card__glow > div.card__glow-tr,
    .card:has(> a:focus-visible) > div.card__glow > div.card__glow-ml,
    .card:has(> a:focus-visible) > div.card__glow > div.card__glow-m,
    .card:has(> a:focus-visible) > div.card__glow > div.card__glow-mr,
    .card:has(> a:focus-visible) > div.card__glow > div.card__glow-bl,
    .card:has(> a:focus-visible) > div.card__glow > div.card__glow-b,
    .card:has(> a:focus-visible) > div.card__glow > div.card__glow-br {
        background: hsl(var(--palette-primary-hue), 100%, 50%, 0.25);
    }

div.card {
    --border-top-left-radius: 24px;
    --border-top-right-radius: 24px;
    --border-bottom-left-radius: 24px;
    --border-bottom-right-radius: 24px;
}

@media (hover: none) {
    .card {
        --pointer-fixed: 70% 65% !important;
    }

        .card > .card__glow {
            display: none;
        }

        .card:has(> a:focus-visible) > .card__glow {
            display: block;
        }

        .card.pointer-none::after,
        .card.pointer-none div.card__border::before {
            opacity: 1;
        }
}
