@layout DefaultLayout
@page "/portfolio/gamejams"
@using Microsoft.AspNetCore.OutputCaching

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Game Jams - Fydar",
            Description = "Fydar is a game developer and engineer who thrives when pushing technical boundaries and creating memorable experiences.",
            CanonicalUrl = "https://fydar.dev/portfolio/gamejams",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/header.webp",
                    Alt = "A portrait of Fydar in an anime art style."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Game Jams",
                    Item = "https://fydar.dev/portfolio/gamejams"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="2022">
            <Text>2022</Text>
            <Content>
                <CardGrid Size="md">
                    <Card href="/portfolio/loversdefence">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="640" height="480" class="card-image" src="media/loversdefence/card.webp?v=1" alt="Preview of the game 'Lovers' Defence'." style="image-rendering: pixelated;" />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-loversdefence" />
                                    <div class="column">
                                        <h3 class="card-header">Lovers Defence</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">Interactive visual novel in a beautiful world.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/bloodlust">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="640" height="480" class="card-image" src="media/bloodlust/card.webp?v=1" alt="Preview of the game 'Bloodlust'." />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-bloodlust" />
                                    <div class="column">
                                        <h3 class="card-header">Bloodlust</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">Interactive visual novel in a beautiful world.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                </CardGrid>
            </Content>
        </Heading>

        <Heading Level="2" Identifier="2021">
            <Text>2021</Text>
            <Content>
                <CardGrid Size="md">
                    <Card href="/portfolio/pewpew">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="640" height="480" class="card-image" src="media/pewpew/card.webp?v=1" alt="Preview of the game 'Pew Pew'." />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-pewpew" />
                                    <div class="column">
                                        <h3 class="card-header">Pew Pew</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">Coordinate with your team in a multiplayer space-shooter.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                </CardGrid>
            </Content>
        </Heading>

        <Heading Level="2" Identifier="2020">
            <Text>2020</Text>
            <Content>
                <CardGrid Size="md">
                    <Card href="/portfolio/miniminer">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="640" height="480" class="card-image" src="media/miniminer/card.webp?v=1" alt="Preview of the game 'Mini Miner' showing a puzzle." />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-miniminer" />
                                    <div class="column">
                                        <h3 class="card-header">Mini Miner</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">The Game Boy demake of the Nintendo DS <i>Pokémon Diamond and Pearl</i> underground mining minigame.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/void">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="400" height="300" class="card-image" src="media/void/card.webp?v=1" alt="Preview of the game 'Void'." />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-void" />
                                    <div class="column">
                                        <h3 class="card-header">Void</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">The cute crafting game to restore nature and life to the world.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/raidhealersimulator">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="400" height="300" class="card-image" src="media/raidhealersimulator/card.webp?v=1" alt="Preview of the game 'Raid Healer Simulator'." />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-raidhealersimulator" />
                                    <div class="column">
                                        <h3 class="card-header">Raid Healer Simulator</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">The UI-only simulator of the raid healer experience featuring verbal abuse.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/snoot">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="400" height="300" class="card-image" src="media/snoot/keyart-4x3-400x300.webp?v=1" alt="Preview of the game 'Snoot' featuring the protagonist in the world with signs of life." />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-snoot" />
                                    <div class="column">
                                        <h3 class="card-header">Snoot</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">The cute crafting game to restore nature and life to the world.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                </CardGrid>
            </Content>
        </Heading>

        <Heading Level="2" Identifier="2019">
            <Text>2019</Text>
            <Content>
                <CardGrid Size="md">
                    <Card href="/portfolio/roadtonorthstead">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="400" height="300" class="card-image" src="media/roadtonorthstead/keyart-4x3.png?v=1" alt="Preview of the game 'Road to Northstead'." style="image-rendering: pixelated;" />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-roadtonorthstead" />
                                    <div class="column">
                                        <h3 class="card-header">Road to Northstead</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">The game jam visual novel with questing and crafting to survive the night.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/lostblues">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="400" height="300" class="card-image" src="media/lostblues/keyart-4x3.png?v=1" alt="Preview of the game 'Lost Blues'." style="image-rendering: pixelated;" />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-lostblues" />
                                    <div class="column">
                                        <h3 class="card-header">Lost Blues</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">The clicker-style where you farm kelp and release fish.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/sofarfromhome">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="400" height="300" class="card-image" src="media/sofarfromhome/card.webp?v=1" alt="Preview of the game 'So Far From Home'." style="image-rendering: pixelated;" />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-sofarfromhome" />
                                    <div class="column">
                                        <h3 class="card-header">So Far From Home</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">Searching between the sofa cushions for a missing key, but what else is down there?</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                </CardGrid>
            </Content>
        </Heading>

        <Heading Level="2" Identifier="2018">
            <Text>2018</Text>
            <Content>
                <CardGrid Size="md">
                    <Card href="/portfolio/lostinstatic">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="400" height="300" class="card-image" src="media/lostinstatic/card.webp?v=1" alt="Preview of the game 'Lost in Static'." style="image-rendering: pixelated;" />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-lostinstatic" />
                                    <div class="column">
                                        <h3 class="card-header">Lost in Static</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">The clicker-style where you farm kelp and release fish.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/thedwellers">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="640" height="480" class="card-image" src="media/thedwellers/card.webp" alt="Preview of the game 'The Dwellers'" />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-thedwellers" />
                                    <div class="column">
                                        <h3 class="card-header">The Dwellers</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">A 3D dungeon crawler game demo with a full RPG item system, featuring a wide range of weapons and other equipment.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/voxelmultiplayer">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="640" height="480" class="card-image" src="media/voxelmultiplayer/card.webp" alt="Preview of the Voxel Multiplayer, showing the player character atop of a mountain." />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-voxelmultiplayer" />
                                    <div class="column">
                                        <h3 class="card-header">Voxel Multiplayer</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">A voxel-art multiplayer PvP game with a custom voxel-art terrain generator for rendering large worlds.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                </CardGrid>
            </Content>
        </Heading>

        <Heading Level="2" Identifier="2017">
            <Text>2017</Text>
            <Content>
                <CardGrid Size="md">
                    <Card href="/portfolio/thenewearthconflict">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="640" height="480" class="card-image" src="media/thenewearthconflict/card.webp" alt="A preview of the game 'The New Earth Conflict' featuring the player ship engaging in combat." />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-thenewearthconflict" />
                                    <div class="column">
                                        <h3 class="card-header">The New Earth Conflict</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">A realtime space battle where you take control over a battleship and pilot it into battle against an AI team.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/cryptcrawl">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="640" height="480" class="card-image" src="media/cryptcrawl/keyart-4x3.png" alt="A preview of the game 'Crypt Crawl' featuring the protagonist wizard in a brown dungeon." style="image-rendering: pixelated;" />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-cryptcrawl" />
                                    <div class="column">
                                        <h3 class="card-header">Crypt Crawl</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">A pixel-art dungeon crawler with a custom tile rendering and rule-based tiles made before Unity created their own.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/lilypadleap">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="400" height="300" class="card-image" src="media/lilypadleap/card.webp?v=1" alt="Preview of the game 'Lilypad Leap'." style="image-rendering: pixelated;" />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-lilypadleap" />
                                    <div class="column">
                                        <h3 class="card-header">Lilypad Leap</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">The clicker-style where you farm kelp and release fish.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/astralswarm">
                        <FeaturedImage>
                            <picture>
                                <img loading="lazy" width="400" height="300" class="card-image" src="media/astralswarm/card.webp?v=1" alt="Preview of the game 'Astral Swarm'." style="image-rendering: pixelated;" />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-astralswarm" />
                                    <div class="column">
                                        <h3 class="card-header">Astral Swarm</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">The clicker-style where you farm kelp and release fish.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                </CardGrid>
            </Content>
        </Heading>

    </section>
</HeadingScope>
