@layout DefaultLayout
@page "/portfolio/systems"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Systems Programming - Fydar",
            Description = "A collection of systems I've developed.",
            CanonicalUrl = "https://fydar.dev/portfolio/systems",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/header.webp",
                    Alt = "A portrait of Fydar in an anime art style."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Systems Programming",
                    Item = "https://fydar.dev/portfolio/systems"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>


<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="professional">
            <Text>Professional</Text>
            <Content>
                <p>I have always enjoyed tackling game systems, right from the start of my career with my love for RPG games.</p>

                <CoverGrid>

                    <Cover href="/portfolio/eitr">
                        <Background>
                            <div class="blur" style="background: radial-gradient(130% 66% at 55% 40%, rgb(137 117 120) 0%, rgb(77 62 71) 60%, rgb(49 36 56) 100%)">
                            </div>
                            <img loading="lazy" width="400" height="600" src="media/eitr/coverart-background.png" alt="Cover art for the game 'Eitr'." style="image-rendering: pixelated;" />
                        </Background>
                        <Overlay>
                            <img loading="lazy" class="logo logo-eitr" src="media/eitr/titlecard.png" alt="Logo for the game 'Eitr'." style="image-rendering: pixelated;" />
                        </Overlay>
                    </Cover>

                </CoverGrid>
            </Content>
        </Heading>
        
        <Heading Level="2" Identifier="Hobbyist">
            <Text>Hobbyist</Text>
            <Content>
                <CardGrid Size="md">
                    <Card href="/portfolio/behaviour" Signed=true>
                        <FeaturedImage>
                            <picture>
                                <SvgSprite class="card-image" Link="/icons.svg?v=1#icon-nodeeditor" />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>

                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-fydarbehaviour" Alt="An illustration of the node based editor." />
                                    <div class="column">
                                        <h3 class="card-header">Behaviour</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description"><b>Data-driven</b> and <b>flexible</b> <b>node-based</b> behaviour engine for items, abilities, quests, enemies, achievements, and more.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/inventory" Signed=true>
                        <FeaturedImage>
                            <picture>
                                <SvgSprite class="card-image" Link="/icons.svg?v=1#icon-inventory" />
                            </picture>
                        </FeaturedImage>
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-fydarinventory" Alt="An illustration of the inventory system." />
                                    <div class="column">
                                        <h3 class="card-header">Inventory</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">Complete item and inventory system with transactions, constraints, equipment, tooltips, and more.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                    <Card href="/portfolio/entities">
                        <div class="card-container">
                            <div class="row">
                                <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-fydarentities" />
                                <div class="column">
                                    <h3 class="card-header">Entities</h3>
                                </div>
                            </div>
                            <div class="row">
                                <p class="card-description">Highly-optimized ECS with a native and intuitive C# API.</p>
                            </div>
                        </div>
                    </Card>
                    <Card href="/portfolio/numerics">
                        <div class="card-container">
                            <div class="row">
                                <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-numbers" />
                                <div class="column">
                                    <h3 class="card-header">Numerics</h3>
                                </div>
                            </div>
                            <div class="row">
                                <p class="card-description">Deterministic mathematics library built around a custom Fixed-point numeric type.</p>
                            </div>
                        </div>
                    </Card>
                    <Card href="/portfolio/geometry">
                        <div class="card-container">
                            <div class="row">
                                <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-fydargeometry" />
                                <div class="column">
                                    <h3 class="card-header">Geometry</h3>
                                </div>
                            </div>
                            <div class="row">
                                <p class="card-description">Deterministic 2D and 3D geometry library utilising Fixed-point numerics.</p>
                            </div>
                        </div>
                    </Card>
                    <Card href="/portfolio/lodestone">
                        <ChildContent>
                            <div class="card-container">
                                <div class="row">
                                    <SvgSprite class="card-keyicon" Link="/icons.svg?v=1#icon-network-right-solid" />
                                    <div class="column">
                                        <h3 class="card-header">Lodestone</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="card-description">An asset build pipeline, asset database, and build system.</p>
                                </div>
                            </div>
                        </ChildContent>
                    </Card>
                </CardGrid>
            </Content>
        </Heading>

    </section>
</HeadingScope>
