@using Portfolio.Site.Areas.Portfolio.Models;

@model ContentImageViewModel;

<div class="image">
  @if (Model.PlaceholderContent != null)
  {
    <svg class="overlay" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <filter id="blur" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feGaussianBlur stdDeviation="12 12" edgeMode="duplicate" />
        <feComponentTransfer>
          <feFuncA type="discrete" tableValues="1 1" />
        </feComponentTransfer>
      </filter>
      <image filter="url(#blur)"
             xlink:href="data:image/jpeg;base64,@(new ResourceContentBase64Writer(Model.PlaceholderContent))"
             x="0" y="0" height="100%" width="100%" preserveAspectRatio="xMidYMid slice" />
    </svg>
  }

  @if (Model.ImageUrl != null)
  {
    <img src="@Model.ImageUrl" loading="lazy" class="overlay" style='object-fit: cover; @(Model.Pixel ? "image-rendering: pixelated;" : "")' />
  }
</div>
