@using Portfolio.Component.Website.Server.Areas.Error.Models;

@model ErrorViewModel
@{
  ViewData["Title"] = "Missing";
}

<section class="container" style="min-height: 80vh;">

  <div class="page">

    <h2>404 Missing</h2>

    <p>The requested resource could not be found.</p>

  </div>

</section>
