@model BreadcrumbBarViewModel;

<div class="container">
  <section class="breadcrumb-bar">
      @for (int i = 0; i < Model.Breadcrumbs.Length; i++)
      {
        var item = Model.Breadcrumbs[i];

        if (string.IsNullOrEmpty(item.Controller))
        {
          <span class="breadcrumb @(i == Model.Breadcrumbs.Length - 1 ? "breadcrumb-active" : "")">@item.Text</span>
        }
        else
        {
          @Html.ActionLink(item.Text, item.Action, item.Controller, item.RouteParameters, new { @class = "breadcrumb" })
        }

        if (i != Model.Breadcrumbs.Length - 1)
        {
          <div class="breadcrumb-divider">/</div>
        }
      }
  </section>
</div>
