@model ViewMoreViewModel;

<div class="card">

    <a class="card-jumbotron" href="~/portfolio/personal">
        <p class="jumbotext-2">@Model.Quantity</p>
        <p class="jumbotext-3">@Model.Description</p>
    </a>

</div>
