<div class="mist">

    <div class="mist-1"></div>
    <div class="mist-2"></div>
    <div class="mist-3"></div>
    <div class="mist-4"></div>
    <div class="mist-5"></div>

    @ChildContent
</div>

<!--<svg id="visual" viewBox="0 0 900 600" width="900" height="600">
    <defs>
        <filter id="blur1" x="-10%" y="-10%" width="120%" height="120%" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
            <feGaussianBlur stdDeviation="161" result="effect1_foregroundBlur"></feGaussianBlur>
        </filter>
    </defs>
    <g filter="url(#blur1)">
        <circle cx="694" cy="591" fill="#00CC99" r="50"></circle>
        <circle cx="542" cy="402" fill="#6600FF" r="50"></circle>
        <circle cx="710" cy="26" fill="#00CC99" r="50"></circle>
        <circle cx="141" cy="143" fill="#00CC99" r="500"></circle>
        <circle cx="289" cy="399" fill="#6600FF" r="250"></circle>
        <circle cx="879" cy="513" fill="#00CC99" r="50"></circle>
    </g>
</svg>
-->

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
