
.heading-wrapper {
    display: inline-block;
    width: 100%;
}

.heading-anchor {
    position: relative;
}

.anchor-tag {
    position: absolute;
    left: -1.5em;
    text-decoration: none;
    width: 1.5em;
    text-align: center;
    color: #444;
    font-weight: 500;
    transition: color 0.25s ease-in-out;
}

    .anchor-tag:focus,
    .anchor-tag:hover {
        color: currentColor;
    }


/* Slim Mobile */
@media screen and (max-width: 576px) {
    .heading-anchor {
        margin-left: 1.15em;
    }
}

/* Mobile */
@media screen and (min-width: 576px) {
    .heading-anchor {
        margin-left: 1.15em;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    .heading-anchor {
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 0;
    }
}

/* Low-Resolution Desktop */
@media screen and (min-width: 992px) {
    .heading-anchor {
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .heading-anchor {
    }
}

/* Full-screen Desktop */
@media screen and (min-width: 1400px) {
    .heading-anchor {
    }
}
