
ol {
    padding: 0;
}

    ol li {
        list-style: none;
        text-wrap: nowrap;
        font-size: 1.0625em;
        font-weight: 400;
        letter-spacing: 0.25px;
    }

        ol li a {
            display: inline-block;
            align-content: center;
            text-decoration: none;
            height: 3em;
            width: 100%;
            color: #808080;
            transition: color 0.25s ease-out;
        }

            ol li a.active {
                color: currentColor;
            }

    ol:has(:hover),
    ol:has(:focus-visible) {
        color: #666;
    }

    ol li a:focus-visible,
    ol li a:hover {
        color: #d8d8d8;
    }

    ol li a:before {
        content: '';
        display: inline-block;
        width: 1em;
        margin-right: 0.75em;
        height: 2px;
        vertical-align: middle;
        background-color: currentColor;
        transition: width 0.25s ease-out;
    }

    ol li a:hover:before,
    ol li a:focus-visible:before {
        width: 3em;
    }

    ol li a.active:before {
        width: 3em;
    }
