@layout DefaultLayout
@page "/portfolio/astralswarm"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Astral Swarm - Fydar",
            Description = "Jump from lilypad to lilypad across the pond..",
            CanonicalUrl = "https://fydar.dev/portfolio/astralswarm",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/astralswarm/social.webp",
                    Alt = "Promotional material for the game 'Astral Swarm'."
                }
            ]
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
</HeadContent>

<section class="fullscreen">
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
            <img src="/media/astralswarm/background.webp?v=1" />
        </picture>

    </div>

    <div class="fullscreen-footer">

    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to right, #0262b600 0%, #0262b630 75%, #0262b614 100%), url('media/noise.svg');">
    </div>
</div>

<aside>

</aside>

<section class="container">



</section>
