@layout DefaultLayout
@page "/portfolio/uno"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "UNO - Fydar",
            Description = "One of the most iconic classic games which we all grew to know and love!",
            CanonicalUrl = "https://fydar.dev/portfolio/uno",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/uno/social.webp",
                    Alt = "Promotional material for the game 'UNO'."
                }
            ]
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
</HeadContent>

<section class="fullscreen">
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <div class="parallax-layer" style="--parallax-multiplier: 0.5;">
            <div class="blur" style="background: radial-gradient(100% 105% at 66% 60%, rgba(250,202,21,1) 2%, rgba(253,165,13,1) 12%, rgba(255,118,7,1) 26%, rgba(250,70,0,1) 36%, rgba(241,36,1,1) 43%, rgba(141,5,0,1) 77%, rgba(101,2,0,1) 100%);">
            </div>
        </div>

        <video class="parallax-layer" onloadeddata="this.classList.add('loaded');" style="--parallax-multiplier: 0.5; mix-blend-mode: screen;" autoplay muted loop>
            <source src="/media/uno/background.1440p.60fps.h265.mp4?v=1" type='video/mp4; codecs="hvc1.1.2.L123.90"; profiles="isom,iso2,mp41"'>
            <source src="/media/uno/background.1440p.30fps.h264.mp4?v=1" type='video/mp4; codecs="avc1.4d401f"; profiles="isom,iso2,avc1,mp41"'>
        </video>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="media/uno/logo.svg?v=1" alt="Title card for the game 'UNO'." />
        </picture>

        <SteamPlayButton href="https://www.ubisoft.com/en-gb/game/uno/uno">Visit on Ubisoft</SteamPlayButton>

    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to left, rgba(250,202,21,0.125) 2%, rgba(253,165,13,0.125) 12%, rgba(255,118,7,0.125) 26%, rgba(250,70,0,0.125) 36%, rgba(241,36,1,0.125) 43%, rgba(141,5,0,0.125) 77%, rgba(101,2,0,0.125) 100%), url('media/noise.svg');">
    </div>
</div>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="skill-tree-editing">
            <Prefix>Bug fixing in a</Prefix>
            <Text>Legacy Codebase</Text>
            <Media><img src="media/uno/green-1.webp?v=1" alt="A green UNO 1 card." /></Media>
            <Content>

                <p>The UNO codebase dates back to 2016 with the first release of the <b>Ubisoft</b> UNO game. As such, it inherited a lot of bugs over the many years of development it's received. My responsibility working on UNO was to address these bugs to earn community trust.</p>

            </Content>
        </Heading>

        <Heading Level="2" Identifier="skill-tree-editing">
            <Prefix>Debugging, fixing, and polishing the</Prefix>
            <Text>Main Menu Button Behaviour</Text>
            <Media><img src="media/uno/blue-2.webp?v=1" alt="A blue UNO 2 card." /></Media>
            <Content>

                <p>Whilst fixing bugs on some buttons in the game Main Menu I identified a whole host of troublesome behaviours. My best course of action was to completely rethink how these buttons work.</p>

                <p>Before we do that, though, let's analyse the old UI behaviour and see what issues we can identify with its design and implementation.</p>

            </Content>
        </Heading>

    </section>
</HeadingScope>
