@layout DefaultLayout
@page "/portfolio/voxelmultiplayer"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Voxel Multiplayer - Fydar",
            Description = "Fully bespoke voxel rendering system to create a 'Cube World' style game with a multiplayer component.",
            CanonicalUrl = "https://fydar.dev/portfolio/voxelmultiplayer",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/voxelmultiplayer/social.webp",
                    Alt = "Promotional material for the game 'Voxel Multiplayer'."
                }
            ]
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
</HeadContent>

<section class="fullscreen">
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
            <img src="/media/voxelmultiplayer/background.webp?v=1" />
        </picture>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="media/voxelmultiplayer/titlecard.svg?v=1" alt="Title card for the game 'Voxel Multiplayer'." />
        </picture>

    </div>
</section>

<aside>

</aside>

<section class="container">

    <h1>Fydar.Numerics</h1>



</section>
