@layout DefaultLayout
@page "/portfolio/thenewearthconflict"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "The New Earth Conflict - Fydar",
            Description = "A realtime space strategy game where the player takes the pilot seat of a battleship.",
            CanonicalUrl = "https://fydar.dev/portfolio/thenewearthconflict",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/thenewearthconflict/social.webp",
                    Alt = "Promotional material for the game 'The New Earth Conflict'."
                }
            ]
        };
        var linkData = new LinkData()
        {
            new LinkDataBreadcrumbList()
            {
                new LinkDataBreadcrumbListItem()
                {
                    Name = "Portfolio",
                    Item = "https://fydar.dev/portfolio/"
                },
                new LinkDataBreadcrumbListItem()
                {
                    Name = "The New Earth Conflict",
                    Item = "https://fydar.dev/portfolio/thenewearthconflict"
                }
            }
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
    <LinkDataComponent Model="@linkData" />
</HeadContent>

<section class="fullscreen">
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
            <img src="/media/thenewearthconflict/background.webp?v=1" />
        </picture>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="media/thenewearthconflict/titlecard.svg?v=1" alt="Title card for the game 'The New Earth Conflict'." />
        </picture>

        <SteamPlayButton href="/play/thenewearthconflict">Play in Browser</SteamPlayButton>

    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to right, #555d3700 0%, #555d3730 75%, #555d3714 100%), url('media/noise.svg');">
    </div>
</div>

<section class="container">
        
    <EmbedYouTube Url="https://www.youtube-nocookie.com/embed/PakFTX3lhwU?si=9d5LTI732JoOYskb"></EmbedYouTube>

</section>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="summary">
            <Prefix>Project</Prefix>
            <Text>Summary</Text>
            <Media><SvgSprite Link="/icons.svg?v=1#icon-thenewearthconflict" /></Media>
            <Content>

                <p>I always enjoyed space games, but I found that they can often be inaccessible. In this project, I wanted to make a 3rd-person experience of piloting a spaceship accessible and fun.</p>

                <p>Every ship cannon is individually targeting with unique stats for turning-angle and range. Many of the weapons had unique mechanics to them.</p>

                <p>Missile cannons fire frenzied-swarms of tracking missiles; torpedo launchers fire long-range tracking torpedoes; mining lasers continuously mine from an asteroid; and finally, the sniper and assault lasers barrage the target with lasers.</p>

                <figure class="figure-image">
                    <img loading="lazy" src="/media/thenewearthconflict/screenshot-1.webp?v=1" />
                    <figcaption>Gameplay screenshot with weapons firing.</figcaption>
                </figure>

                <figure class="figure-image">
                    <img loading="lazy" src="/media/thenewearthconflict/screenshot-2.webp?v=1" />
                    <figcaption>Defeat screen with destroyed ship.</figcaption>
                </figure>

            </Content>
        </Heading>

    </section>
</HeadingScope>
