@layout DefaultLayout
@page "/portfolio/legostarwarsbattles"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "LEGO® Star Wars™ Battles - Fydar",
            Description = "A mobile multiplayer realtime strategy game featuring competitive ranked matchmaking, weekly leaderboards, and clans.",
            CanonicalUrl = "https://fydar.dev/portfolio/legostarwarsbattles",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/legostarwarsbattles/keyart-1_91x1-1200x630.webp",
                    Alt = "Promotional material for the game 'LEGO® Star Wars™ Battles'."
                }
            ]
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
</HeadContent>


<section class="fullscreen">
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <div class="parallax-layer" style="--parallax-multiplier: 0.5;">
            <div class="blur" style="background: radial-gradient(100% 100% at 50% 50%, #070b13 25%, #0f182e 100%);">
            </div>
        </div>

        <video class="parallax-layer" onloadeddata="this.classList.add('loaded');" style="--parallax-multiplier: 0.5" autoplay muted loop>
            <source src="/media/legostarwarsbattles/background.1080p.30fps.h265.mp4?v=1" type='video/mp4; codecs="hvc1.1.2.L120.90"; profiles="isom,iso2,mp41"'>
            <source src="/media/legostarwarsbattles/background.1080p.30fps.h264.mp4?v=1" type='video/mp4; codecs="avc1.4d4028"; profiles="isom,iso2,avc1,mp41"'>
        </video>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="media/legostarwarsbattles/titlecard.png?v=1" alt="Title card for the game 'LEGO® Star Wars™ Battles'." />
        </picture>

        <SteamPlayButton href="https://apps.apple.com/us/app/lego-star-wars-battles/id1563174698">Apple Arcade</SteamPlayButton>

    </div>
</section>

<div class="cascade-container">
    <div class="cascade" style="background: linear-gradient(to right, #313d6c00 0%, #313d6c30 75%, #313d6c14 100%), url('media/noise.svg');">
    </div>
</div>

<SvgSpritesheet>

    <Fydar.Dev.WebApp.Toolkit.Icons.CustomIcons.Sift />

</SvgSpritesheet>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="leaderboards">
            <Prefix>Servers and infrastructure for</Prefix>
            <Text>Leaderboards</Text>
            <Media><img src="media/legostarwarsbattles/icon-leagues.webp?v=1" alt="The icon for Leaderboards." /></Media>
            <Content>
                <p>I took the role of the <b>Feature Lead</b> to implement weekly leaderboard system. This involved me first provisioning cloud resources and implementing the server systems for leaderboards, and finally implementing a basic UI that can later be reskinned.</p>

                <p>To finish off the Leaderboards feature, I also made an in-browser tool to inspect the state of the Leaderboards and manually modify them using <b>ASP.NET Core</b>.</p>

                <figure class="figure-image">
                    <picture>
                        <img loading="lazy" src="/media/legostarwarsbattles/leagues.webp?v=1" alt="A screenshot from the game 'LEGO® Star Wars™ Battles' featuring a Leaderboard." />
                    </picture>
                    <figcaption>Screenshot from the <a href="https://www.gameuidatabase.com/gameData.php?id=1244">Game UI Database<SvgSprite Link="/icons.svg?v=1#icon-external-link" class="external-link-icon" /></a>.</figcaption>
                </figure>

                <Callout>
                    <Icon><SvgSprite Link="/icons.svg?v=1#icon-seal-check-fill" Alt="Check" /></Icon>
                    <ChildContent>My leaderboards have stood the test of time and proven to be highly scalable to high volumes of players.</ChildContent>
                </Callout>
            </Content>
        </Heading>

        <Heading Level="2" Identifier="clans">
            <Prefix>Servers and infrastructure for</Prefix>
            <Text>Clans</Text>
            <Media><img src="media/legostarwarsbattles/icon-clans.webp?v=1" alt="The icon for Clans." /></Media>
            <Content>

                <p>I took the role of the <b>Feature Lead</b> to implement the Clans social system. Much like with the <b>Leaderboards</b>, I started by developing the server-side systems and finished with the client-side UI.</p>

                <CutContent>
                    <ChildContent>
                        This feature was cut from the game.
                    </ChildContent>
                </CutContent>

            </Content>
        </Heading>

        <Heading Level="2" Identifier="username-moderation">
            <Prefix>Servers and infrastructure for</Prefix>
            <Text>Username Moderation</Text>
            <Media><SvgSprite Link="#icon-sift" /></Media>
            <Content>

                <p>I created our username moderation pipeline utilising a third-party neural moderation API provided by <i>Community Sift</i>.</p>

                <p>To manage the username moderation, I created the <b>Name Audit Tool</b>, a web-facing dashboard that allowed developers to quickly and easily assess the status of username moderation.</p>

            </Content>
        </Heading>

        <Heading Level="2" Identifier="server-side-receipt-validation">
            <Prefix>Servers and infrastructure for</Prefix>
            <Text>Server-Side Receipt Validation</Text>
            <Media><img src="media/legostarwarsbattles/icon-stud-pile.webp?v=1" alt="The icon for the shop." /></Media>
            <Content>

                <p>In order to protect our game from fraudulent receipts being sent to our server in order to get free rewards, receipts from the Google Play Store and the Apple App Store have to be validated by our servers to ensure the receipt is from a valid transaction.</p>

                <CutContent>
                    <ChildContent>
                        <p>This feature was cut from the game.</p>
                        <p>When the game released on Apple Arcade, we removed all monetization features.</p>
                    </ChildContent>
                </CutContent>

            </Content>
        </Heading>

        <Heading Level="2" Identifier="updates-and-data-delivery">
            <Prefix>Servers and infrastructure for</Prefix>
            <Text>Updates and Data Delivery</Text>
            <Media><img src="media/legostarwarsbattles/icon-asteroid.webp?v=1" alt="The icon for rewards." /></Media>
            <Content>

                <p>I architected and implemented the infrastructure necessary to deliver update data to our users.</p>

                <p>Because of the nature of updating a live service mobile game, the mechanism had to take care to allow players using different versions of the game to share cloud resources such as databases and servers.</p>

                <picture>
                    <img loading="lazy" src="/media/legostarwarsbattles/heroes-collage.png?v=1" alt="A collage of hero cards." style="width: 100%;" />
                </picture>
            </Content>
        </Heading>

        <!--
            Save data management tools
            profile management tools
            network debugging tools
            configuration system
        -->

    </section>
</HeadingScope>
