@layout DefaultLayout
@page "/portfolio/roadtonorthstead"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Road to Northstead - Fydar",
            Description = "The game jam visual novel with questing and crafting to survive the night.",
            CanonicalUrl = "https://fydar.dev/portfolio/roadtonorthstead",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/roadtonorthstead/social.webp",
                    Alt = "Promotional material for the game 'Road to Northstead'."
                }
            ]
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
</HeadContent>

<section class="fullscreen">
    <div class="parallax-frame parallax-focalanchortop" style="--animation-time: 0.5;">

        <picture class="parallax-layer" style="--parallax-multiplier: 0.5">
            <img src="/media/roadtonorthstead/background.webp?v=1" style="image-rendering: pixelated;" />
        </picture>

    </div>

    <div class="fullscreen-footer">

        <picture>
            <img class="titlecard" src="media/roadtonorthstead/titlecard.svg?v=1" alt="Title card for the game 'Road to Northstead'." />
        </picture>

        <SteamPlayButton href="/play/roadtonorthstead">Play in Browser</SteamPlayButton>

    </div>
</section>

<aside>

</aside>

<section class="container">

    <h1>Fydar.Numerics</h1>



</section>
