@layout DefaultLayout
@page "/portfolio/entities"

<HeadContent>
    @{
        var openGraphModel = new OpenGraphModel()
        {
            Title = "Entities - Fydar",
            Description = "A complete entities system.",
            CanonicalUrl = "https://fydar.dev/portfolio/entities",
            Properties = [
                new OpenGraphModelImage()
                {
                    Url = "https://fydar.dev/media/header.webp",
                    Alt = "A portrait of Fydar in an anime art style."
                }
            ]
        };
    }
    <OpenGraphComponent Model="@openGraphModel" />
</HeadContent>

<HeadingScope>
    <aside>
        <section style="position: sticky; top: 64px;">
            <div style="height: 5rem"></div>
            <TableOfContents />
        </section>

    </aside>

    <section class="container">

        <Heading Level="2" Identifier="world">
            <Prefix>Designing the</Prefix>
            <Text>World</Text>
            <Content>

            </Content>
        </Heading>

    </section>
</HeadingScope>
