@using System.ComponentModel

<div class="card-grid card-grid-@Size card-grid-@(Cards.Count)cells">

    <CascadingValue Name="CardGrid" Value="this">
        @ChildContent
    </CascadingValue>

</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Size { get; set; } = "sm";

    public HashSet<Card> Cards { get; } = [];

    public void Register(Card card)
    {
        if (Cards.Add(card))
        {
            StateHasChanged();
        }
    }
}
