
/* Card grids */
.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 20px;
    margin: 20px 0;
}

    .card-grid.card-grid-md {
        grid-template-columns: 1fr 1fr;
    }

    .card-grid.card-grid-sm {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-grid.card-grid-xs {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
