

<div class="timeline-link">

    <div class="row">
        <div class="column">
            @Icon
        </div>
        <div class="column">
            @Heading
        </div>
    </div>
    
    

</div>

@code {
    [Parameter]
    public RenderFragment? Icon { get; set; }

    [Parameter]
    public RenderFragment? Heading { get; set; }

}
