@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 384 384">
    <title>@Title</title>
    <path d="M140.43 0 292.76 0 292.76 96 242.777 96 242.777 192 192.793 192 192.793 288 384 288 384 384 0 384 0 288 40.4628 288 40.4628 192 90.4463 192 90.4463 96 140.43 96Z"
          fill="currentColor" fill-rule="evenodd" />
</symbol>

@code {
    public override string Identifier => "airseabattle";
    public override string Title => "Air-Sea Battle";
}
