@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 96 96">
    <title>@Title</title>
    <path d="M2.55375 83.7234 12.1474 86.3043 9.59361 96 0 93.4191ZM39.1581 78.7161 42.8514 90.4 31.2905 94.1326 27.5972 82.4487ZM13.1044 52.1092 25.8748 61.1412 16.9379 74.0475 4.16757 65.0155ZM70.3832 25.8894 48.0742 36.4933 59.8909 48.4358ZM96 0 57.9145 81.8406 48.686 72.5139 54.1741 60.7205 35.9189 42.271 24.2497 47.8176 15.0212 38.4908Z"
          fill="#FFFFFF" />
</symbol>

@code {
    public override string Identifier => "astralelites";
    public override string Title => "Astral Elites";
}
