@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 96 96">
    <title>@Title</title>
    <path fill="#00ACAC" d="M0 0 96 0 96 96 0 96Z" />
    <path fill="#FFFFFF" d="M85 38 85 43.7478 76.3637 43.7478 76.3638 58 70.0344 58 70.0344 43.7478 61.3981 43.7478 61.3982 38ZM37.2046 38 43.5339 38 58.826 38 58.826 43.7478 43.5339 43.7478 43.5339 45.3314 57.9375 45.3314 57.9375 50.6686 43.5339 50.6686 43.5339 52.2522 58.826 52.2522 58.826 58 43.5339 58 43.5339 58 37.2046 58ZM11 38 17.3293 38 17.3293 38.0363C17.3433 38.0242 17.3574 38.0121 17.3714 38L22.8305 44.2448 28.2896 38 28.3317 38.0363 28.3317 38 34.6611 38 34.6611 58 28.3317 58 28.3317 46.8832 22.7409 52.6953 17.3293 46.8832 17.3293 58 11 58Z" />
</symbol>

@code {
    public override string Identifier => "brightonmet-solid";
    public override string Title => "Brighton MET";
}
