@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 384 384">
    <title>@Title</title>
    <rect x="180" y="0" width="24" height="136" />
    <path d="M191.818-0.175489C266.93-0.175489 327.818 60.5021 327.818 135.354L327.818 372.53C327.818 378.77 322.746 383.824 316.485 383.824L67.1513 383.824C60.8897 383.824 55.818 378.77 55.818 372.53L55.818 135.354C55.818 60.5021 116.706-0.175489 191.818-0.175489ZM78.4846 338.648 78.4846 361.236 305.151 361.236 305.151 327.354 89.8179 327.354C83.5564 327.354 78.4846 332.408 78.4846 338.648ZM129.485 282.177 129.485 304.766 305.151 304.766 305.151 270.883 140.818 270.883C134.556 270.883 129.485 275.938 129.485 282.177ZM180.485 225.707 180.485 248.295 305.151 248.295 305.151 214.413 191.818 214.413C185.556 214.413 180.485 219.467 180.485 225.707ZM231.485 169.236 231.485 191.825 305.151 191.825 305.151 157.942 242.818 157.942C236.556 157.942 231.485 162.996 231.485 169.236Z"
          fill="#FFFFFF" fill-rule="evenodd" />
</symbol>

@code {
    public override string Identifier => "cryptcrawl";
    public override string Title => "Crypt Crawl";
}
