@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 96 96">
    <title>@Title</title>
    <path d="M5.07 62.77H22c1.13 0 2.58.1 4 1.7 1.42 1.6 2.94 5.3 4.52 7.87 1.29 2.08 1.58 3.41 5 3.41H60.6c3.42 0 3.7-1.33 4.99-3.41l.58-1.07 19.97-2.66L96 87.06v3.97A4.96 4.96 0 0 1 91.06 96h-86a4.96 4.96 0 0 1-4.94-4.97v-23.3a4.96 4.96 0 0 1 4.95-4.96ZM4.94 0h3.8l22.47 22.5-.8 1.16c-1.59 2.57-3.1 6.27-4.52 7.87a4.82 4.82 0 0 1-4 1.7H4.94A4.96 4.96 0 0 1 0 28.28V4.97A4.96 4.96 0 0 1 4.94 0Z"
          fill="#989898" />
    <path d="M25.7 39 67 53.5l-5.37 15.12-.3.45c-.66.6-1.59.93-3.3.93H37.86c-3.41 0-3.7-1.33-4.98-3.42-1.59-2.58-3.1-6.28-4.51-7.88a4.8 4.8 0 0 0-4-1.71H2.58A2.6 2.6 0 0 1 0 54.39v-12.6a2.6 2.6 0 0 1 2.58-2.61h21.78L25.7 39Z"
          fill="#EF5922" />
    <path d="M58.34 26c3.41 0 3.7 1.35 4.98 3.46 1.59 2.61 3.1 6.37 4.51 7.99a4.77 4.77 0 0 0 4 1.73H93.4A2.61 2.61 0 0 1 96 41.82v12.76a2.61 2.61 0 0 1-2.58 2.64H71.83c-1.12 0-2.58.1-4 1.73-1.41 1.62-2.92 5.37-4.5 7.98L61.92 69l-11.55-7.58a182.01 182.01 0 0 1-20.96-18.56L26 39l.56-.07c.68-.23 1.4-.67 2.1-1.47 1.42-1.62 2.93-5.38 4.51-7.99 1.29-2.11 1.57-3.46 4.98-3.46Z"
          fill="#F58861" />
    <path d="M74.09 62.72h16.96A4.96 4.96 0 0 1 96 67.7V87c-6.96-3.23-8.85-3.96-15.65-7.18-5-2.6-12.93-7.04-14.21-8.6L67.89 68a19.2 19.2 0 0 1 2.2-3.56 4.83 4.83 0 0 1 4-1.7ZM4.98 0h86.07A4.96 4.96 0 0 1 96 4.96v23.29a4.96 4.96 0 0 1-4.95 4.96H74.1a4.83 4.83 0 0 1-4-1.7c-1.43-1.6-2.94-5.3-4.53-7.87-1.29-2.08-1.57-3.4-5-3.4h-25.1c-3.42 0-3.7 1.32-4.99 3.4-1.59 2.58-3.1 6.27-4.52 7.87a4.83 4.83 0 0 1-4 1.7h-1.27l-.16-.18C12.44 23.2 6.3 12.95 2.42 2.62L2 1.24C2.41.58 3.82 0 4.98 0Z"
          fill="#B3B3B3" />
</symbol>

@code {
    public override string Identifier => "dataforge";
    public override string Title => "DataForge";
}
