@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 384 384">
    <title>@Title</title>
    <path d="M212.61 135.057C212.61 135.057 288.722 128.486 317.616 255.942 317.616 255.942 334.675 328.219 313.021 359.098 313.021 359.098 302.525 384 250.034 384L129.299 384C108.502 384 88.4414 375.289 74.9521 359.438 65.4222 348.222 58.1053 332.405 59.0887 310.475 61.0558 266.622 89.6115 240.854 103.745 230.743 111.391 225.3 118.442 219.065 124.78 212.14 133.064 203.022 142.933 190.915 147.003 181.049 159.466 150.824 192.456 135.057 212.61 135.057Z"
          fill="currentColor" fill-rule="evenodd" />
    <path d="M187.823 94.602C187.059 98.3252 186.826 102.134 187.129 105.921 187.58 111.843 192.743 116.332 198.768 116.039 209.535 115.548 227.354 115.831 242.726 121.299 248.341 123.364 254.613 120.722 256.973 115.298L257.116 114.972C258.803 111.071 258.037 106.561 255.153 103.412 248.499 96.2272 232.704 85.3169 198.438 86.0335 193.311 86.1253 188.92 89.6701 187.823 94.602Z"
          fill="currentColor" fill-rule="evenodd" />
    <path d="M160.426 23.8124C171.404 16.728 184.25 12.9688 197.374 13.0001 201.581 12.9954 204.996 16.3511 205 20.4953 205 20.5093 205 20.5235 205 20.5375L205 62.0311C204.997 65.5786 202.474 68.6408 198.951 69.3742L191.882 70.8344C190.217 71.1873 188.48 70.9728 186.955 70.2267 180.683 67.1544 164.454 57.0427 157.299 32.1854 156.375 29.0211 157.641 25.6325 160.426 23.8124Z"
          fill="currentColor" fill-rule="evenodd" />
    <path d="M225.16 14.3834 221.034 60.3764C220.653 64.6325 223.509 68.5023 227.689 69.3958 237.856 71.6528 247.417 76.0754 255.719 82.3628 259.028 84.7897 263.603 84.4905 266.567 81.6528 274.625 73.9689 291.663 59.9452 314.527 53.1236 322.294 50.7992 326.704 42.621 324.38 34.8569 323.784 32.8665 322.772 31.0253 321.41 29.4551 308.93 15.0849 284.772-1.54226 240.237 0.11463 232.336 0.400984 225.878 6.51233 225.16 14.3834Z"
          fill="currentColor" fill-rule="evenodd" />
    <path d="M125.262 67.6545C140.224 72.4955 154.324 79.6535 167.045 88.8643 169.815 90.9183 171.297 94.2678 170.95 97.6876 170.498 102.316 170.47 106.976 170.865 111.61 171.166 115.211 169.448 118.685 166.397 120.645 158.47 125.753 151.256 131.88 144.943 138.869 141.557 142.695 135.695 143.066 131.848 139.698 131.525 139.414 131.222 139.109 130.941 138.784L130.941 138.784C128.126 135.54 127.939 130.792 130.489 127.339 133.924 122.698 138.277 118.807 143.28 115.903 145.324 114.712 146.667 112.616 146.887 110.269L146.887 110.269C147.165 107.42 145.749 104.669 143.263 103.228 135.531 98.7447 127.163 95.4521 118.44 93.4627 112.089 92.1357 107.663 86.3947 108.02 79.9478 108.02 79.6509 108.02 79.3454 108.088 79.0316 108.653 71.8473 114.965 66.4786 122.186 67.0404 123.233 67.1217 124.265 67.3279 125.262 67.6545Z"
          fill="currentColor" fill-rule="evenodd" />
</symbol>

@code {
    public override string Identifier => "fydarinventory";
    public override string Title => "Fydar.Inventory";
}
