@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 384 384">
    <title>@Title</title>
    <path d="M231.641 199.13 128.333 199.13 128.333 28 299.443 28 299.443 156.348 256.38 156.348 231.712 199.13ZM99.8143 227.652 99.8143 127.826C44.7026 127.826 0 172.534 0 227.652 0 282.771 44.7026 327.478 99.8143 327.478 154.926 327.478 199.629 282.771 199.629 227.652L99.8143 227.652ZM297.518 184.87 272.85 184.87 186.439 334.609C191.929 344.092 193.283 346.517 198.773 356L371.666 356C377.156 346.517 378.51 344.092 384 334.609L297.589 184.87Z" />
</symbol>

@code {
    public override string Identifier => "fydargeometry";
    public override string Title => "Fydar.Geometry";
}
