@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 384 384">
    <title>@Title</title>
    <path d="M262 34.5C262 24.835 269.835 17 279.5 17L349.5 17C359.165 17 367 24.835 367 34.5L367 104.5C367 114.165 359.165 122 349.5 122L279.5 122C269.835 122 262 114.165 262 104.5Z"
          stroke="currentColor" stroke-width="34.0811" stroke-linecap="round" stroke-linejoin="round"
          fill="none" />
    <path d="M262 279.5C262 269.835 269.835 262 279.5 262L349.5 262C359.165 262 367 269.835 367 279.5L367 349.5C367 359.165 359.165 367 349.5 367L279.5 367C269.835 367 262 359.165 262 349.5Z"
          stroke="currentColor" stroke-width="34.0811" stroke-linecap="round" stroke-linejoin="round"
          fill="none" />
    <path d="M17 157C17 147.335 24.835 139.5 34.5 139.5L104.5 139.5C114.165 139.5 122 147.335 122 157L122 227C122 236.665 114.165 244.5 104.5 244.5L34.5 244.5C24.835 244.5 17 236.665 17 227Z"
          stroke="currentColor" stroke-width="34.0811" stroke-linecap="round" stroke-linejoin="round"
          fill="none" />
    <path d="M262 314.5 209.5 314.5C199.835 314.5 192 306.665 192 297L192 87C192 77.3347 199.835 69.5 209.5 69.5L262 69.5"
          stroke="currentColor" stroke-width="34.0811" stroke-linecap="round" stroke-linejoin="round"
          fill="none" />
    <path d="M192 192 122 192" stroke="currentColor" stroke-width="34.0811" stroke-linecap="round"
          stroke-linejoin="round" fill="none" />
</symbol>

@code {
    public override string Identifier => "fydarbehaviour";
    public override string Title => "Fydar.Behaviour";
}
