@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 384 384">
    <title>@Title</title>
    <path d="M195.445 0.903057C193.307-0.301263 190.693-0.301263 188.555 0.903057L27.5555 91.6669C25.3588 92.9056 24 95.2285 24 97.7456L24 286.255C24 288.772 25.3588 291.095 27.5555 292.333L188.555 383.097C190.693 384.301 193.307 384.301 195.445 383.097L356.445 292.333C358.641 291.095 360 288.772 360 286.255L360 97.7456C360 95.2285 358.641 92.9056 356.445 91.6669L195.445 0.903057ZM108 150.92 38 109.939 38 274.1 108 233.372 108 150.92ZM185 365.053 45.0566 286.159 115.115 245.398 185 283.418 185 365.053ZM268.969 138.845 198.663 100.591 198.957 18.9231 338.976 97.8593 268.969 138.845ZM184.663 100.598 184.957 18.9723 45.0235 97.8593 115.107 138.889 184.663 100.598ZM276 150.92 346 109.939 346 274.1 276 233.372 276 150.92ZM268.885 245.398 338.943 286.159 199 365.053 199 283.418 268.885 245.398Z"
          fill="currentColor" fill-rule="evenodd" />
</symbol>

@code {
    public override string Identifier => "fydarentities";
    public override string Title => "Fydar.Entities";
}
