@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 96 96">
    <title>@Title</title>
    <path d="M79.0405 25.1991C82.1302 23.3331 84.5877 19.706 85.0394 17.4641 91.8867 25.7597 96 36.3948 96 47.9905 96 74.495 74.5102 95.9811 48.0011 95.9811 45.5624 95.9811 44.3271 96.1453 41.2025 95.506 39.2034 95.2136 38.1418 93.0466 38.6426 91.2546L44.4128 62.5034 50.2044 62.5659C56.0494 62.5659 63.2385 62.0872 66.6324 58.7429 70.0264 55.3986 72.6764 46.7391 74.3181 42.125 64.2898 45.2192 62.3054 46.7155 47.3369 46.9388L50.8805 28.8429C55.1162 29.0118 61.8072 29.2678 66.5005 28.6605 71.1939 28.0532 75.9507 27.0652 79.0405 25.1991ZM48.0008 0 48.0011 0C59.5988 0 70.2358 4.11258 78.5329 10.9587 75.5821 11.9047 63.3302 13.0745 58.2431 13.0468L45.4192 12.9634C34.2743 12.9634 25.9263 13.1976 22.402 16.1347 15.0614 22.2522 14.3948 34.1926 12.7963 40.1375 17.7104 36.4403 24.7276 29.801 31.1606 29.3011L27.3586 47.0638C25.1507 47.3137 22.1769 48.0542 19.7942 51.3564 17.4116 54.6586 14.6945 62.5578 13.0628 66.8771 17.2716 65.2473 20.9469 63.9957 24.4226 63.3234L20.4169 82.7146C20.0828 84.6547 17.9987 85.4076 16.2271 84.0358 9.08417 77.9735-0.164458 64.7224 0.00220467 47.9905 0.00220467 23.1426 18.8898 2.70535 43.0935 0.247747L48.0008 0Z" />
</symbol>

@code {
    public override string Identifier => "fydar-round";
    public override string Title => "Fydar's logo in a circle";
}
