@inherits Icon

<symbol id="@Identifier" fill="currentColor" viewBox="0 0 96 96">
    <title>@Title</title>
    <path d="M43.4726 0 47.5705 24.7506 26.8474 24.7506 22.7496 0 9.56053 0 13.6584 24.7506 0 24.7506 2.21393 37.8751 15.8259 37.8751 19.1227 58.1248 5.60531 58.1248 7.77114 71.2511 21.2886 71.2511 25.3864 96 38.5738 96 34.4776 71.2511 55.2007 71.2511 59.2985 96 72.4859 96 68.3881 71.2511 82 71.2511 79.8342 58.1248 66.2222 58.1248 62.9254 37.8751 76.4428 37.8751 74.2289 24.7506 60.7579 24.7506 56.6617 0 43.4726 0ZM29.0133 37.8751 49.738 37.8751 53.0348 58.1248 32.3101 58.1248Z" transform="matrix(1 0 0 -1 7 96)" />
</symbol>

@code {
    public override string Identifier => "glyph-inter-hashtag";
    public override string Title => "Hashtag";
}
