@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 96 96">
    <title>@Title</title>
    <path d="M44 26.4a16.3 16.3 0 0 1 15.6 21.2l-.4.8 1.8.6a9.2 9.2 0 1 1-12.7 10.3v-.9l-1 .3a16.4 16.4 0 0 1-19.6-16c0-9 7.3-16.3 16.3-16.3ZM48 0a17 17 0 0 0-12 5L5 36a17 17 0 0 0 0 24l31 31a17 17 0 0 0 24 0l31-31a17 17 0 0 0 0-24L60 5a17 17 0 0 0-12-5Z" fill="#FFF" />
</symbol>

@code {
    public override string Identifier => "holodrone";
    public override string Title => "Holodrone";
}
