@inherits Icon

<symbol id="icon-@Identifier" viewBox="0 0 96 96">
    <title>@Title</title>
    <path fill="#FFFFFF" d="M40.7485 0 40.7485 17.5399 28.8722 24.4622C28.2995 24.7666 28.3096 25.6591 28.8722 25.9634L47.1456 36.6149C47.6762 36.9293 48.3335 36.9293 48.8641 36.6149L67.138 25.9634C67.7107 25.6489 67.6908 24.7768 67.138 24.4622L55.2515 17.5389 55.2515 2.68031e-05 91 20.8305 91 62.3461 75.9531 53.5785 75.9531 39.8815C75.973 39.2222 75.2088 38.7958 74.6665 39.1307L56.393 49.7822C55.8806 50.0763 55.5285 50.6445 55.5285 51.2838L55.5285 72.5766C55.5083 73.2261 56.2724 73.6623 56.8152 73.3274L68.8296 66.3292 83.8748 75.0959 48 96 12.1253 75.096 27.1705 66.3293 39.1848 73.3274C39.7377 73.6721 40.4816 73.2158 40.4715 72.5766L40.4715 51.2838C40.4699 50.6633 40.14 50.091 39.607 49.7822L21.334 39.1307C20.7807 38.786 20.0368 39.2422 20.0469 39.8815L20.0469 53.5786 5 62.3463 5 20.8305Z" />
</symbol>

@code {
    public override string Identifier => "unity";
    public override string Title => "Unity";
}
