@inherits Icon

<symbol id="icon-@Identifier" viewBox="0 0 96 96">
    <title>@Title</title>
    <path fill="#EE5533" d="M23.0095 54.5076C21.3657 54.5076 19.7219 53.1843 19.7219 50.5391L19.7219 22 0 22.0893 0 53.0253C0 67.6517 11.0157 75.0001 22.032 75.0001L39 75.0001 39 54.5076 23.0095 54.5076Z" />
    <path fill="#FFCC11" d="M48 75.0001 70.3832 75.0001C104.539 75.0001 104.539 22 70.3832 22L48 22 48 75.0001ZM67.5723 54.4815 67.5723 42.2916 70.7607 42.2916C77.4862 42.2916 77.562 54.4815 70.7607 54.4815L67.5723 54.4815Z" />
</symbol>

@code {
    public override string Identifier => "ludumdare";
    public override string Title => "Ludum Dare";
}
