@inherits Icon

<symbol id="icon-@Identifier" viewBox="0 0 96 96">
    <title>@Title</title>
    <path fill="currentColor" d="m26.46 14.6 11.13 27-29.16 2.36.5 5.51 36.66-3-14-33.98-5.13 2.12ZM35.9 10.71l14 33.98L78.04 21l-3.64-4.21L52.15 35.6l-11.12-27-5.13 2.11ZM9.83 59.58l29.04-2.3-6.83 28.4 5.45 1.3 8.55-35.79-36.71 2.88.5 5.51ZM52.91 48.36l31.3 19.37 2.94-4.76L62.3 47.62l22.34-18.86L81 24.54 52.91 48.36ZM41.98 87.99l5.4 1.17 6.76-28.24 24.8 15.51 2.82-4.7L50.54 52.2 42 87.99Z" />
</symbol>

@code {
    public override string Identifier => "northbrook-college";
    public override string Title => "Northbrook College";
}
