@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 96 96">
    <title>@Title</title>
    <path d="m48 88-4-4C28 70 18 60 18 49c0-10 7-17 17-17 5 0 10 2 13 6 3-4 8-6 14-6 9 0 16 7 16 17 0 11-10 21-26 35Z" />
    <path d="M21 79A41 41 0 0 1 50 8l-1 41ZM85 31a41 41 0 0 1-49 56l13-38Z" stroke="#FFF" stroke-width="12.7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" fill="#FFF" />
</symbol>

@code {
    public override string Identifier => "lilypadleap";
    public override string Title => "Lilypad Leap";
}
