@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 96 96">
    <title>@Title</title>
    <path d="M35 33c-9 0-16 7-16 16 0 11 10 20 25 34l4 4 4-4c15-14 25-23 25-34 0-9-7-16-16-16-5 0-10 3-13 7-3-4-8-7-13-7ZM48 0l38 14v30c0 12-4 23-11 33S59 93 48 96c-11-3-20-9-27-19S10 56 10 44V14Z" />
</symbol>

@code {
    public override string Identifier => "loversdefence";
    public override string Title => "Lovers' Defence";
}
