@inherits Icon

<symbol id="icon-@Identifier" viewBox="0 0 384 384">
    <title>@Title</title>
    <path d="M0 130.932 130.932 130.932 130.932 0 253.068 0 253.068 130.932 384 130.932 384 253.068 253.068 253.068 253.068 384 130.932 384 130.932 253.068 0 253.068Z"
          fill="currentColor" />
</symbol>

@code {
    public override string Identifier => "raidhealersimulator";
    public override string Title => "Raid Healer Simulator";
}
