@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 96 96">
    <title>@Title</title>
    <path d="M71 28.807 64.0278 86.8778 63.8717 87.9537 62.7386 88.5692 56.8603 92.1268 59.7914 37.1735ZM25 23.0338 49.6047 38.0396 46.5133 96 36.5444 89.6456 35.5756 89.0295 35.4111 87.9537ZM48.508 0 50.1259 1.38824 69.5366 17.6687 53.9804 29.2803 29.9627 14.6327 46.7347 1.38824Z"/>
</symbol>

@code {
    public override string Identifier => "thedwellers";
    public override string Title => "The Dwellers";
}
