@inherits Icon

<symbol id="icon-@Identifier" viewBox="0 0 1080 1080">
    <title>@Title</title>

    <defs>
        <filter id="uno-a" width="1.15" height="1.1" x="-.07" y="-.05" color-interpolation-filters="sRGB">
            <feFlood flood-color="#320000" flood-opacity="1" result="flood" />
            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="12" />
            <feOffset in="blur" result="offset" />
            <feComposite in="flood" in2="offset" operator="in" result="comp1" />
            <feComposite in="SourceGraphic" in2="comp1" result="comp2" />
        </filter>
        <filter id="uno-b" width="1.11" height="1.15" x="-.05" y="-.08" color-interpolation-filters="sRGB">
            <feFlood flood-color="#320000" flood-opacity="1" result="flood" />
            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="4" />
            <feOffset in="blur" result="offset" />
            <feComposite in="flood" in2="offset" operator="in" result="comp1" />
            <feComposite in="SourceGraphic" in2="comp1" result="comp2" />
        </filter>
    </defs>
    <g transform="matrix(.933 0 0 .936 18.65 39.26)">
        <rect width="399.1" height="554.15" x="-464.82" y="295.72" fill="#fff" filter="url(#uno-a)"
              paint-order="stroke fill markers" ry="37.39" transform="rotate(-57.42) skewX(.22)" />
        <rect width="408.67" height="566.45" x="360.68" y="221.02" fill="#ed1c24" paint-order="stroke fill markers"
              ry="46.81" transform="matrix(.44 -.683 .672 .448 -271 688.45)" />
        <path fill="#fff"
              d="M229.83 575.67c2.63 6.14 4.87 14.85 7.3 20.56-1.84.65-1.5 6.5-3.13 7.23-8.63 3.8-11.22-4.54-14.71-12.88-10.46-24.98-19.8-50.36-25.36-76.97-.22-1.06-1.24-9.09-1.24-10.9 1.43-20.9 11.32-5.1 23.2 38.96 1.42 5.28 11.85 28.4 13.94 34z" />
        <path fill="#040404"
              d="M137.66 515.69c9.52 6.37 18.68 12.5 27.8 18.67 7.22 4.87 8.45 11.44 3.62 18.84-1.9 2.9-4.05 5.68-5.55 8.78-2.4 4.95-5.47 4.65-9.36 2.03-11.33-7.65-22.92-14.94-33.97-22.97-5.2-3.78-7.65-3.77-10.2 1.66-2.76 4.77-4.36 11.67-11.2 10.24-9.43-2.98-14.85-10.02-14.12-17.69.13-1.37.5-2.84 1.21-4 3.58-5.89 5.68-11.02.06-17.64-3.28-3.86-3.3-9.8.62-15.17 8.7-11.93 6.66-11.83 18.95-3.76 10.58 6.94 21.17 13.85 32.14 21m22.18 20.3-64.1-42.15c-4.54 5.6-8.97 9.9-2.72 17.8 3.13 3.95 8.26 2.5 8.49 3.29 2.33 8.06-1.2 14.9-5.02 21.84 3.63 2.25-.49 2.9 2.69 4.88L111 523.88l46.19 30.26 8.77-14.05-6.12-4.1z" />
        <path fill="#f9f9f9"
              d="m160.21 536.24 5.75 3.85-8.77 14.05L111 523.88l-11.82 17.76-10.12-6.29c1.72-3.12 11.14-16.33 3.85-23.62-7.54-6.67-1.7-12.3 2.84-17.9 21.3 14.01 42.7 28.08 64.46 42.41z" />
    </g>
    <g transform="matrix(1.148 0 0 1.151 1089.56 -205.09)">
        <rect width="396.8" height="554.2" x="-161.61" y="344.66" fill="#fff" filter="url(#uno-a)"
              paint-order="stroke fill markers" ry="37.39" transform="matrix(.62 -.527 .503 .639 -933.08 212.29)" />
        <rect width="334.44" height="467.47" x="-134.71" y="369.64" fill="#3ba445" paint-order="stroke fill markers"
              ry="31.54" transform="matrix(.613 -.534 .508 .635 -933.08 212.29)" />
        <path fill="#fff"
              d="M-688.29 511.53c-6.6 50.28-2.84 97.6 8.37 143.16.62 2.5-7 4.32-9.31 7.45-18.48-54.95-15.29-133.97-8.58-163.46.98-4.34-.3 3.77.37-.64 3.3-.7 11.76-6.53 9.15 13.5z" />
        <path fill="#070707"
              d="M-767.34 522.13c-2.94-4.42-3.92-5.17-6.78-9.7-4.24-6.73-1.98-13.85 2.49-19.86 6.92-9.29 18.95-13.45 26.51-8.48 8.18 5.37 13.02 13.21 13.61 23.18.31 5.2.06 10.42.06 15.7 2.35-1.96 5.09-4.06 7.6-6.41 3.18-3 5.9-2.42 8.5.68 1.16 1.4 2.24 2.86 3.38 4.29 3.58 4.5 3.53 8.2-.8 12.06a647.2 647.2 0 0 1-22.72 19.35c-5.1 4.13-6.55 3.69-10.06-2.02-7-11.4-7.98-23.65-5.16-36.46.8-3.63-.85-9.54-3.7-13.05-1.4-1.72-3.47.75-2.96 2 5.82 14.05 6.4 8.84-5.33 20.01-1.27 1.21-3.74-.38-4.32-.97m19.62-22.46c-7.67-7.59-9.13-11.9-15.18-3.84-5.89 7.86-11.43 8.39-4.13 13.85 2.52-2.1-.72.04 1.85-2.1-1.1-1.71 4.04-.94 3.08-2.62-2.08-3.66-5.2-2.16.62-9.8 2.58-3.38 7.73.11 9.24 2.4 2.35 3.55 11.04 4.5 11.6 8.62.61 4.45-1.73 11.19-2.37 15.77-1.26 9.08-3.65 11.75 2.23 18.99 9.28-7.87 7.48-5.87 16.6-13.61-2.04-2.21 2.42 1.89.57-.11-5.6 4.56-9.41 2.6-14.8 7-.68-.28-7.2-4.59-6.18-6.88.44-6.1 3.77-9.72 4.91-15.7 1.74-9.13-.8-5.11-8.04-11.97z" />
        <path fill="#040404"
              d="M-764.6 526.67a32.28 32.28 0 0 1 6.3 7.69c2.91 5.12-1.95 7.3-3.83 9.5 1 4.52 3.13 6.56 3.28 10.44.05 1.56-3.05 5.32-4.68 6.56-5.51 4.2-5.58 4.1-12.88-3.95-3.18 1.76-6.21 4.3-9.6 4.93-1.56.28-4.13-2.97-5.69-5.04-4.48-5.98.07-10.07 3.85-14.6-3.12-3.14-6.31-6.68-2.92-11.07 2.08-2.68 5.04-4.73 7.81-6.75 1.42-1.04 1.88-.56 3.74 1.26 5.05 5.19 4.97 5.24 10.47 1.01.5-.38 1.18-.75 2.17-.71.85.03 1.42.22 1.98.73zm-2.85 19.45c-6.1-7.22 1.64-9.1 5.03-11.65l-3.84-5.08c-.76.64-1.27 1.02-1.73 1.46-6.22 5.95-6.21 5.95-11.78 0-.77-.82-1.64-1.54-2.57-2.4l-4.17 3.49c1.91 3.22 5.44 6.52 5.03 9.21-.43 2.73-4.74 4.86-7.43 7.32l4.53 4.83c2.97-2.1 6.03-5.9 8.42-5.51 2.83.45 5.1 4.5 7.57 6.96 3.53-2.34 5.64-4.72.94-8.63z" />
        <path fill="#f9f9f9"
              d="M-744.2 489.4c7 6.6 9.1 14.14 7.35 23.29-1.13 5.97-.93 6.94-.98 12.96-.02 1.96.02 5.17.26 6.5 5.76-3.93 12.06-9.17 17.66-13.74l5.76 6.22-27.38 23.24c-5.88-7.24-7.8-15.37-6.54-24.45.63-4.58 1.9-9.31 1.29-13.76-.56-4.11-2.8-8.23-5.14-11.79-1.51-2.28-4.3-4.2-7.66-1.6-3.27 2.54-3.95 5.45-2.2 9 .86 1.75 2.02 3.8 3.12 5.52-2.56 2.13-5.03 3.72-7.55 5.82-6.94-9.2-8.58-13.32-2.69-21.18 6.04-8.06 16.77-13.88 24.7-6.02z" />
        <path fill="#f8f8f8"
              d="M-767.2 546.4c4.45 3.63 2.34 6.01-1.2 8.35-2.46-2.46-4.73-6.5-7.56-6.96-2.4-.38-5.45 3.42-8.42 5.5l-4.53-4.82c2.69-2.46 7-4.59 7.43-7.32.41-2.69-3.12-5.99-5.03-9.21l4.17-3.49c.93.86 1.8 1.58 2.57 2.4 5.57 5.95 5.56 5.95 11.78 0 .46-.44.97-.82 1.73-1.46l3.84 5.08c-2.88 2.3-9.84 6.37-4.78 11.92z" />
    </g>
    <g transform="matrix(1.148 0 0 1.151 1089.56 -205.09)">
        <rect width="408.67" height="566.45" x="360.68" y="221.02" fill="#fff" filter="url(#uno-a)"
              paint-order="stroke fill markers" ry="38.22" transform="matrix(.694 -.376 .362 .72 -1073.24 386.7)" />
        <rect width="327.69" height="464.17" x="129.19" y="350.78" fill="#ffdb00" paint-order="stroke fill markers"
              ry="31.32" transform="matrix(.715 -.387 .365 .726 -933.08 212.29)" />
        <path fill="#fff"
              d="M-609.29 579.64c2.36-41.52 7.36-100.72 22.2-142.28 6.45 4.31 10.17 15.7 6.28 22.41-3.46 6.12-8.5 29.86-9.52 37.05-2.44 17.17-4.47 34.4-6.19 51.66-.4 3.96-.92 21.8-.44 24.87-1.46 1.44-8.35 5.05-12.33 6.3z" />
        <path fill="#070707"
              d="M-655.2 480.77c-3.67-12.53-5.4-24.86-4.2-37.54.29-3.08.04-6.2.04-10.2-7.1 3.75-13.47 6.9-19.6 10.44-4.04 2.35-6.6 2.1-8.33-2.62-1.01-2.77-2.69-5.3-4-7.96a9.13 9.13 0 0 1 3.79-12.02c12.97-7.02 26.03-13.9 38.97-20.97 2.83-1.54 4.87-.97 6.28 1.56 3.45 6.15 5.99 11.79 4.22 19.91-2.04 9.42-1.19 19.76.03 29.5.9 7.25 4.23 14.23 6.77 21.22 1.7 4.68-.08 10.26-4.56 12.7-3.34 1.82-6.76 3.51-10 5.5-3.2 1.93-5.33 1.2-6.68-2.14-.94-2.3-1.77-4.66-2.74-7.38m2.7-16.73 5.28 17.83 13.18-6.68c-8.69-18.26-11.95-36.87-7.82-56.04 1.48-6.85-1.17-11.27-3.96-16.36-13.8 7.4-27.42 14.68-41.06 21.98l5.9 10.9 28.52-15.03c-.76 8.03-1.92 14.91-1.91 21.79 0 6.91 1.17 13.83 1.87 21.61z" />
        <path fill="#f8f8f8"
              d="M-652.53 463.61c-.68-7.35-1.84-14.27-1.85-21.18 0-6.88 1.15-13.76 1.9-21.79l-28.51 15.02-5.9-10.89 41.06-21.98c2.8 5.1 5.44 9.5 3.96 16.36-4.13 19.17-.87 37.78 7.82 56.04l-13.18 6.68c-1.8-6.1-3.54-11.96-5.3-18.26z" />
    </g>
    <g transform="matrix(.933 0 0 .936 18.65 39.26)">
        <rect width="408.67" height="566.45" x="360.68" y="221.02" fill="#fff" filter="url(#uno-a)"
              paint-order="stroke fill markers" ry="38.22" transform="matrix(.94 -.214 .207 .974 12.62 5.46)" />
        <rect width="337.76" height="500.85" x="390.96" y="253.28" fill="#006bb6" paint-order="stroke fill markers"
              ry="41.04" transform="rotate(-12.62 0 0) skewX(-1.68)" />
        <rect width="146.62" height="131.92" x="544.16" y="193.09" fill="#006bb6" paint-order="stroke fill markers"
              ry="10.81" transform="matrix(.992 -.128 .318 .948 0 0)" />
        <path fill="#070707"
              d="M532.17 182.04c.43 7.08 1.14 13.6.92 20.1-.2 5.61-5.15 9.41-11.33 9 9.7 17.19-2.29 28.41-11.14 40.9 1.1 1 2.26 1.78 3.01 2.83 1.57 2.19 4.61 5.22 4.02 6.67-1.32 3.23-4 7.24-7 8.19-9.87 3.12-20.09 5.2-30.24 7.3-4.12.86-7.26-.6-7.43-5.67-.33-10.18-.95-20.36-1.17-30.54-.15-7.38 2.26-10.21 10.15-12.24-8.17-16.95 3.68-28.17 12.29-40.58-1.13-1.01-2.15-1.68-2.83-2.59-1.63-2.17-4.88-5.3-4.3-6.54 1.6-3.36 4.34-7.51 7.53-8.52 9.85-3.12 20.1-5.04 30.24-7.18 4.1-.87 6.82.85 6.94 5.43.1 4.3.14 8.59.34 13.44" />
        <path fill="#fff"
              d="M517.98 378.08c-4.72 13.22 1.73 6.47-12.74 10.48 10.84-44.72 49.23-132.66 72.72-158.2l.17 22.13c-29.2 47.58-42.76 84.34-55.03 124.54z" />
        <path fill="#f9f9f9"
              d="M485.49 239.06c3.05 3.01 5.09 1.94 7.33-1.26 5.9-8.47 12.16-16.7 18.27-25.03l2.12-2.87c10.02 7.26 10.22 18.26 1.25 28.85-3.64 4.3-7 8.85-10.79 13.65l8.78 8.24-31.09 7.02c-.66-11-2.25-33.66-2.25-33.66s4.82 3.53 6.38 5.06z" />
        <path fill="#f9f9f9"
              d="M525.33 197.75c-6.37-4.81-6.82-4.68-11.26 1.37-5.5 7.5-11.45 14.7-16.62 22.42-3.11 4.64-5.05 2.49-7.16-.3-4.36-5.73-3.65-15.81 1.44-22.36 2.98-3.84 5.58-8.1 9.12-11.32 4.44-4.03 3.29-6.59-.88-9.4-1.3-.88-2.37-2.1-4.15-3.7l31.16-7.03 1.93 32.29c-1.57-.73-2.44-1.1-3.58-1.97z" />
    </g>
    <g transform="matrix(.933 0 0 .936 18.65 39.26)">
        <rect width="408.67" height="566.45" x="572.7" y="58.26" fill="#fff" filter="url(#uno-a)"
              paint-order="stroke fill markers" ry="38.22" transform="matrix(.961 .059 -.057 .998 37.4 0)" />
        <rect width="341.08" height="566.15" x="613.03" y="75.5" paint-order="stroke fill markers" ry="40.78"
              transform="rotate(4.04 0 0) skewX(1.23)" />
        <path fill="#ed1c24" d="m690.1 148.78-23.95 52.31-31.5-2.07c11.06-35.15 34.93-49.2 55.44-50.24z"
              paint-order="stroke fill markers" />
        <path fill="#3ba445" d="m642.25 246.35 24-50.12 31.54 1.98c-11.07 33.68-34.98 47.13-55.54 48.14z"
              paint-order="stroke fill markers" />
        <path fill="#ffdb00" d="m642.71 245.52 23.08-48.3-32.33-1.34c-15.7 30.84-7.92 41.42 9.25 49.64z"
              paint-order="stroke fill markers" />
        <path fill="#006bb6"
              d="m688.33 148.92-22.9 48.48 32.33 2.05c15.7-30.84 17.82-40.9-9.43-50.53zM869.16 183.7 792.17 346.2l131.93 31.08c40.87-90.5 17.55-180.74-54.94-193.56Z"
              paint-order="stroke fill markers" />
        <path fill="#ed1c24" d="m870 185.44-74.84 154.34-143.67-2.3C701.8 244.84 790 181.84 870 185.45Z"
              paint-order="stroke fill markers" />
        <path fill="#f4f4f4"
              d="M676.75 238.6c-9.31 7.7-18.92 12.91-31.22 13.06-13.08.17-21.97-11.56-22.87-22.01-2.22-26.07 8.82-47.15 25.51-65.88 8.4-9.42 18.2-16.72 30.81-20.1 17.22-4.6 31.03 7.74 31.52 24.56.79 26.5-11.23 47.45-29.01 65.8-1.43 1.48-2.95 2.85-4.74 4.57m-3.81-8.09c17.37-14.78 27.04-33.85 29.26-56.83 1.33-13.87-5.77-25.13-18.94-23.43-4.26.55-10.52 3-14.25 5.3-12.06 7.43-21.58 18.68-28.45 30.96-6.64 11.86-11.67 24.98-11.05 39 .59 13.56 11.4 20.97 23.83 16.38a64.32 64.32 0 0 0 19.6-11.38z" />
        <path fill="#fff"
              d="M936.78 215.56c5.55 8.03 7.06 13.61 10.96 21.47 6.53 13.13 5.77 34.54 5.52 48.87-.22 12.41 1.34 24.84 1.93 37.27.2 4.07.2 8.2-.37 12.22-1.23 8.71-3.13 17.33-4.26 26.05-.67 5.11-2.81 7.05-8 6.62-5.08-.43-10.24-.14-15.36-.08-4.33.05-.8.6.85-3.76 9.2-25.46 12.21-51.15 12.01-77.6-.18-23.55-6.86-52.42-21.54-71.84-14.18-18.8-36.3-27.99-59.46-28.67-27.66-.82-55.03 12.52-78.68 25.65-30.67 17.03-57.13 39.49-80.7 65.18-13.34 14.52-34.15 43.73-46.27 59.33-3.27 4.22-6.91 5.95-12.78 5.92-3.52-.01-1.24 5.5-3.73 6.22-.58 1.6-6.39-2.2-6.3-2.25.16-.1 1.48-2.62 1.48-2.67-.14-7.34 1.73.41 5.63-4.67 12.51-18.26 36.13-49.57 48.74-64.3 23.26-27.16 50.07-51.13 80.32-70 20.66-12.88 42.13-24.66 66.36-28.71 48.98-8.19 77.76 2.28 103.65 39.75z" />
    </g>
    <g filter="url(#uno-b)" transform="matrix(4.891 0 0 4.905 -914.3 -1287.33)">
        <path fill="#ed1c24" fill-rule="evenodd"
              d="M285.9 344.1c20.9-11.1 43.4-13.4 61.8-9.1 41.9 9.9 45.2 41.4 22.9 73.9-10.2 14.9-25.3 29.2-43.5 38.2-29.9 14.8-58.5 15.6-77.3 4.2-18.9-11.4-23.4-30.6-16.7-51 6.9-21.2 26.2-43 52.8-56.2z"
              clip-rule="evenodd" />
        <path fill="#fff"
              d="M362.42 337.88c-3.75 0-7.63.68-11.52 2.12-1.2.4-2.4 1-3.9 1.6-1.1.6-2.2 1.2-3.2 1.9-3.9 2.6-7.4 5.6-10.3 8.7a47.35 47.35 0 0 0-3.86 4.68L328 352.5c0-.1-.1-.1-.1-.2-.5-1.4-2-2.1-3.4-1.6l-15.2 5.7c-.3.1-.6.3-.9.5l-7 7.1c-.7.7-1 1.8-.6 2.8l2.4 6.4-13-8.5c-.7-.5-1.6-.6-2.4-.3l-13.3 4.9c-.34.08-.6.25-.85.48l-14.55 5.42c-.5.2-.9.5-1.2.9l-6.7 6.7c-.9.7-1.2 1.9-.8 3l12.3 32.9c.4 1 .6 1.9.8 2.8.1.6.2 1.2.2 1.8h-1c-1.6-.1-2.9-.7-3.9-1.6-1.4-1.2-2.4-3-3.1-4.9l-12.3-32.9c-.5-1.4-2-2.1-3.4-1.6l-15.3 5.7c-.3.1-.6.3-.9.6l-6.9 6.9c-.9.7-1.2 1.9-.8 3l12 32.2c3.1 8.1 7.6 14.4 13.7 18 4.5 2.7 9.7 3.8 15.7 3.2 6.4-.7 12.5-3 17.6-6.6 1.5-1 2.9-2.2 4.1-3.5l.1-.1c.6-.6 1.4-1.3 2.1-2 1.73-1.67 3.43-3.35 4.93-5l1.27 3.4c.5 1.4 2 2.1 3.4 1.6l15.3-5.7c.3-.1.6-.3.9-.6l7.1-7.1c.5-.4.8-1.1.8-1.8 0-.5-.2-1-.4-1.4L312 416l14.1 9.4c.7.5 1.6.6 2.4.3l12.5-4.6c.4-.1.7-.3 1-.6l7.1-7.1c.13-.11.25-.24.35-.38a32.6 32.6 0 0 0 19.15-1.32c3.7-1.4 7.4-3.4 11.2-6.5 3.7-3.1 7.4-7.4 11-13.3.1-.2.3-.5.5-.9.3-.4.4-.7.5-.9 2.4-4.3 3.7-9.1 4-14.1.3-4.9-.4-10.1-2.3-15.1-3.3-8.9-9.6-16-17.4-19.8a30.86 30.86 0 0 0-13.68-3.22zm-6.98 28.13a9.9 9.9 0 0 1 7.06 3.29c1.5 1.6 2.7 3.7 3.6 6 .1.4.3.9.4 1.3l.3 1.4c.3 1.8.5 3.2.3 4.3-.1.8-.4 1.4-.8 1.8-.6.5-1.4.8-2.5.8-1.3.1-2.9-.3-4.6-1-1.4-.8-2.6-1.8-3.6-3.1a18.54 18.54 0 0 1-3.9-12.6l.2-.3c.3-.8.9-1.3 1.6-1.6.55-.2 1.2-.3 1.94-.29z" />
        <path fill-rule="evenodd"
              d="M362.72 340.58c-3.52-.05-7.17.56-10.82 1.92-2.3.8-4.5 1.9-6.4 3.2-7.57 4.98-13.45 11.78-16.4 17.36l-3.7-9.86-15.2 5.7-7 7.1 5.2 13.9-19.7-12.9-13.4 4.9-15.2 5.7-7.1 7.1 12.3 32.9c.8 2 1.2 4.1 1.1 6.2-.4 1.8-2.3 2-3.7 1.9-4.9-.2-7.8-3.9-9.4-8.1L241 384.7l-15.3 5.7-7 7.1 12 32.2c4.7 12.7 13.2 20.4 25.2 19.7 7.8-.4 16.1-3.9 21.6-9.7 3.5-3.5 7.65-7.2 9.53-10.34l2.97 7.94 15.3-5.8 7.1-7h-.1l-5.6-15.2 20.9 13.9 12.6-4.6 7.1-7.1-.86-2.3a29.72 29.72 0 0 0 21.46 0c6.9-2.6 14-7.3 20.9-18.7.3-.5.6-1 .8-1.5 4.3-7.9 5-17.9 1.5-27.2-4.69-12.58-15.78-21.07-28.38-21.22zm-7.5 22.85c.99.01 2.06.17 3.18.47 4.6 1.2 8.1 5.5 10 10.5.4 1 .7 2 .9 3.1.9 4.1.5 7-1.2 8.6-2 1.9-5.7 2-9.9.2-3.5-1.9-6.2-5.4-7.8-9.6-1.2-3-1.6-6.1-1.3-9 0-.1.1-.2.1-.3.83-2.7 3.06-4 6.02-3.97z"
              clip-rule="evenodd" />
        <path fill="#fff" fill-rule="evenodd"
              d="M362.7 342.6c-3.28-.04-6.69.53-10.1 1.8-15.7 5.8-21.4 22.6-15.8 37.8 5.7 15.1 21.1 24 36.7 18.2 15.6-5.9 21.4-22.7 15.8-37.8-4.45-11.87-14.83-19.84-26.6-20zm-.85 11.7c7.12-.12 12.79 5.25 15.55 12.4 3.3 8.7 1.3 18.4-8.2 22-9.6 3.5-17.4-2.5-20.7-11.3-3.3-8.8-1.3-18.6 8.2-22.1 1.78-.66 3.5-.98 5.15-1zm-37.65 1.5-11.4 4.3 12.4 33.2-36.8-24.1-10.5 3.9 20.3 54.5 11.6-4.3-13-34.7 38.1 25.3 9.8-3.6zm-50.1 18.8-11.5 4.3 11.6 31c1.9 5 1.9 10.5-2.2 14.4-1.2 1.2-2.8 2.1-4.4 2.7-1.6.6-3.3.9-5 .8-5.7-.2-9.3-4.4-11.2-9.4l-11.6-31-11.5 4.3 11.3 30.3c5.3 14.4 15.4 21.7 30.6 16.9l1.3-.5c.1 0 .2-.1.3-.1.1 0 .2-.1.3-.1l1.3-.5c14.7-6.3 17.6-18 12.2-32.4z"
              clip-rule="evenodd" />
        <path fill="#f8da27" fill-rule="evenodd"
              d="M362.61 343.97a26.3 26.3 0 0 0-9.51 1.73c-14.7 5.4-20.5 21.2-14.9 35.9 5.5 14.7 20.3 22.7 34.9 17.3 14.5-5.4 20.4-21.2 14.9-35.9-4.3-11.48-14.27-18.94-25.39-19.03zm-.11 8.92c7.2.18 13.2 5.48 16.1 13.21 3.7 9.9.9 20.1-9 23.8-9.9 3.7-18.8-2.2-22.5-12.1-3.7-9.8-.8-20.1 9.1-23.8 2.17-.8 4.28-1.16 6.3-1.1zm-39.1 4.71-8.8 3.3 13.4 35.9-39.8-26-8.5 3.2 19.4 51.8 8.9-3.3-14-37.5 41.1 27.3 7.7-2.8zm-50.1 18.8-8.9 3.3 11.1 29.7c3.8 9.8-.9 16.4-7.4 18.9-6.5 2.4-14.3.4-18-9.4L239 389.2l-8.9 3.3 10.7 29.1c4.5 12 13.4 21.6 30.2 15.6.1 0 .2-.1.3-.1.1 0 .2-.1.3-.1 17.1-6.7 17.1-19.5 12.7-31.2z"
              clip-rule="evenodd" />
        <path fill="#58585a" fill-rule="evenodd"
              d="m369.8 359.1-5.6 5.6c2.1 1.7 3.8 4 5 6.4l5.5-5.5c-1.2-2.6-2.9-4.9-4.9-6.5zm-58.8 1.7-5.5 5.6 3.1 8.3 5.5-5.6zm64.8 7.5-5.4 5.5c.4 1.1.7 2.2.9 3.2v.1l5.3-5.3c-.2-1.2-.4-2.3-.8-3.5zm-60.7 3.6-5.5 5.6 1.2 3.1 5.5-5.6zm-54.3 7.7-5.5 5.6 3.1 8.3 5.5-5.6zm4.1 11.1-5.5 5.6 1.2 3.1 5.5-5.6zm-31.5 20.4-5.5 5.6 3.1 8.3 5.5-5.6zm4.2 11.1-5.5 5.6 1.2 3.1 5.6-5.6c-.4-.9-.7-1.8-1.1-2.7z"
              clip-rule="evenodd" />
        <path d="m383.73 336.07.28 1.22-.68.22-1.3-4.58 1.16-.32 2.06 3.06-.01-3.55 1.23-.3 1.36 4.24-.74.23-1.13-3.54-.02 4-.8.21-2.03-3.28.62 2.39zM379.25 334.4l-1.5.4-.15-.63 3.64-1.03.17.61-1.35.4 1.15 4.06-.86.27z" />
    </g>
</symbol>

@code {
    public override string Identifier => "ubisoft-uno";
    public override string Title => "UNO™";
}
