@inherits Icon

<symbol id="icon-@Identifier" fill="currentColor" viewBox="0 0 384 384">
    <title>@Title</title>
    <path d="M310 103.786C309.988 91.4345 303.425 80.0263 292.778 73.8506L172.222 4.63653C161.565-1.54551 148.435-1.54551 137.778 4.63653L17.2222 73.8506C6.57597 80.0263 0.0125437 91.4345 0 103.786L0 242.214C0.0125437 254.565 6.57597 265.973 17.2222 272.149L137.778 341.363C148.435 347.546 161.565 347.546 172.222 341.363L292.778 272.149C303.425 265.973 309.988 254.565 310 242.214Z"
          stroke="currentColor" stroke-width="37.3333" stroke-linecap="round" stroke-linejoin="round"
          stroke-miterlimit="10" fill="none" fill-rule="evenodd"
          transform="matrix(-1 0 0 1 347.5 19.5001)" />
    <path d="M0 0 150 86 300 0" stroke="currentColor" stroke-width="37.3333" stroke-linecap="round"
          stroke-linejoin="round" stroke-miterlimit="10" fill="none" fill-rule="evenodd"
          transform="matrix(-1 0 0 1 342.5 106.5)" />
    <path d="M0 173 0 0" stroke="currentColor" stroke-width="37.3333" stroke-linecap="round"
          stroke-linejoin="round" stroke-miterlimit="10" fill="none" fill-rule="evenodd"
          transform="matrix(-1 0 0 1 192.5 192.5)" />
</symbol>

@code {
    public override string Identifier => "voxelmultiplayer";
    public override string Title => "Voxel Multiplayer";
}
